.standard-preview, .advert-preview, .destination-preview, .experience-preview, .trip-preview {
  position: relative;
  cursor: pointer;

  .visual {
    position: relative;
    overflow: hidden;

    .visual-preload {
      transform: scale($preview-scale-base);
    }
  }

  .content {
    position: relative;

    header {
      padding-right: 30px;
      padding-left: 10px;
      position: relative;

      h4 {
        font-size: $font-size-base;
        height: $font-size-base + 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:before {
        content: ' ';
        width: 4px;
        height: 15px;
        position: absolute;
        top: 1px;
        left: 0;
        background-color: $brand-primary;
      }
    }
  }

  a:hover {
    .visual {
      .visual-preload {
        transform: scale($preview-scale-hover);
      }
    }
  }
}

.destination-preview {
  position: relative;

  .visual {
    position: relative;
    height: 100%;
    padding-bottom: $image-ratio-percent-standard;
    background-size: 105%;

    .save {
      width: 20px;
      height: 20px;
      position: absolute;
      top: $spacing-vertical-sm/3;
      right: $spacing-horizontal-sm/3;
      background: none;
      z-index: 3;
      background-image: url('./../../../static/img/icon-save-light.svg');
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
      @include opacity(0.75);
      @include transition(opacity $transition-speed-base $transition-type-default);
    }

    .visual-preload {
      &:after {
        @include image-overlay($image-overlay-dark);
      }
    }

    header {
      margin: 0;
      padding: 25px 0 0;
      width: 100%;
      position: absolute;
      bottom: 25px;
      background-image: url('./../../../static/img/icon-pin-light.svg');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 15px 21px;

      h4 {
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
  }

  a {
    color: #fff;

    &:hover {
      .visual {
        background-size: 120%;

        .save {
          @include opacity(1);
        }
      }
    }
  }
}

.standard-preview, .experience-preview, .trip-preview {
  .visual {
    > * {
      position: absolute;
    }

    .tag, .date {
      padding: 0.2em 0.6em;
      left: $spacing-horizontal-sm/3;
      text-transform: uppercase;
      font-family: $headings-font-family;
      color: $text-color;
      font-size: 12px;
      line-height: 12px;
    }

    .tag {
      top: $spacing-vertical-sm/3;
    }

    .date {
      bottom: $spacing-vertical-sm/3;
      background: #fff;
      text-transform: none;
    }
  }

  .content {
    .save {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      z-index: 3;
      background-image: url('./../../../static/img/icon-save-primary.svg');
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
      @include opacity(0.75);
      @include transition(opacity $transition-speed-base $transition-type-default);
    }
  }

  a {
    &:hover {
      .content {
        .save {
          @include opacity(1);
        }
      }
    }
  }
}

.trip-preview {
  .icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: $spacing-vertical-sm/3;
    right: $spacing-horizontal-sm/3;
    background-image: url('./../../../static/img/icon-trip.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
