.section-header {
  margin-bottom: $spacing-vertical-md / 2;
  position: relative;
  display: block;clear: both;

  &.section-header-w-link {
    padding-right: 85px;

    a {
      position: absolute;
      right: 0;
      z-index: 2;

      &:before {
        width: 10px;
        height: 12px;
        position: absolute;
        top: calc(50% - 5px);
        left: -11px;
        content: ' ';
        background: #fff;
      }
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    font-family: $font-family-base;
    font-style: italic;
    font-weight: 400;

    span {
      padding-right: $grid-gutter-width/2;
      display: inline-block;
    }

    &:after {
      margin: 17px 0 0;
      padding: 0;
      width: 100%;
      content: ' ';
      display: inline-block;
      border-bottom: 1px solid $gray-light;
      vertical-align: top;
      z-index: 0;
    }
  }

  .btn-default {
    border: 1px solid $gray-dark;
    font-size: $font-size-xsmall;
    text-transform: lowercase;
  }
}

.section-inverse {
  .section-header {
    a.btn {
      color: $text-color;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .section-header {
    &.section-header-w-link {
      margin-bottom: $spacing-vertical-xs;

      h2 {
        line-height: 32px;
      }
    }
  }
}
