.error404 {
  #error {
    margin: 0;
    padding: $spacing-vertical-sm $spacing-horizontal-sm;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: flex-start;
    color: #fff;
    text-align: center;

    .inner {
      margin: auto;
      padding: 0 0 $spacing-vertical-md;
      min-height: 200px;

      .visual-preload {
        z-index: -1;

        &:after {
          @include image-overlay($image-overlay-dark);
        }
      }

      header {
        margin: 0 0 $spacing-vertical-sm;
        padding: $spacing-vertical-xl $spacing-horizontal-lg $spacing-vertical-sm;
        font-family: $headings-font-family;
        border-bottom: 1px solid #fff;
        background-image: url('./../../../static/img/icon-interactive-map.svg');
        background-size: 60px;
        background-position: top center;
        background-repeat: no-repeat;

        h1 {
          margin: 0;
          padding: 0;
          font-size: 125px;
        }
      }

      p.title {
        font-size: $font-size-h1;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
      }

      p.subtitle {
        font-size: $font-size-h3;
        font-style: italic;

        a, a:hover {
          color: #fff;
        }
      }

      a.btn {
        margin-top: $spacing-vertical-md;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .error404 {
    #error {
      padding-left: $spacing-horizontal-xs;
      padding-right: $spacing-horizontal-xs;

      .inner {
        header {
          padding-left: 0;
          padding-right: 0;

          h1 {
            font-size: 100px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .error404 {
    #error {
      .inner {
        a.btn {
          margin-top: $spacing-vertical-sm;
          width: 100%;
        }
      }
    }
  }
}
