#footer {
  padding: $grid-gutter-width $spacing-horizontal-md;
  background-color: $gray-base;
  background-position: center center;
  background-size: cover;
  background-image: url('./../../../static/img/footer-background.jpg');
  color: #fff;
  font-size: $font-size-small;
  font-family: $headings-font-family;
  font-weight: 300;

  #menu-footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-flow: column wrap;
    height: 160px;

    a, a:hover, a:visited, a:active, a:link {
      color: inherit;
      background: transparent;

      &:hover {
        color: $link-color;
      }
    }

    > li {
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(4);
      padding-left: 0;
      margin: 0;

      > a {
        padding: $padding-base-vertical 0;
      }
    }
  }

  #footer-top {
    margin-bottom: $grid-gutter-width;
  }

  ul.social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: right;

    li {
      display: inline-block;

      a {
        margin-left: $grid-gutter-width/2;
        width: 40px;
        height: 40px;
        display: block;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  #footer {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;

    #menu-footer-menu {
      flex-flow: column;
      height: auto;
    }

    ul.social {
      text-align: left;

      li {
        a {
          margin-top: $spacing-vertical-xs;
          margin-left: 0;
          margin-right: $spacing-horizontal-xs;
        }
      }
    }
  }
}
