body {
  background: $body-bg;
  color: $text-color;
}

img {
  max-width: 100%;
}

body {
  overflow-x: hidden;

  #content {
    .last-section > section:not(.cta-banner):not(.section-inverse) {
      padding-bottom: $spacing-vertical-md;
    }
  }

  .container {
    background: #fff;

    .section-default, &.section-default {
      @include section-default;
    }

    .section-inverse, &.section-inverse {
      @include section-inverse;
    }

    .section-default, &.section-default,
    .section-inverse, &.section-inverse {
      &.feature-grid, &.standard-grid {
        &.countries, &.regions, &.destinations {
          article a {
            color: #fff;
          }
        }
      }
    }

    .section-inverse, &.section-inverse {
      &.feature-grid, &.standard-grid {
        &.countries, &.regions, &.destinations, &.experiences {
          article a {
            color: #fff;
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      width: $container-md;
      padding-left: $spacing-horizontal-md;
      padding-right: $spacing-horizontal-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg;
      padding-left: $spacing-horizontal-md;
      padding-right: $spacing-horizontal-md;
    }

    @media (min-width: $screen-xl-min) {
      width: $container-xl;
      padding-left: $spacing-horizontal-md;
      padding-right: $spacing-horizontal-md;
    }
  }

  .cta-banner + .section-inverse,
  .cta-banner + .last-section .section-inverse,
  .section-inverse + .section-inverse,
  .section-inverse + .last-section .section-inverse,
  .section-inverse + .cta-banner,
  .section-inverse + .last-section .cta-banner {
    padding-top: 0;
  }

  .carousel + .section.media-crowdriff-gallery,
  .carousel + .last-section .section.media-crowdriff-gallery,
  .carousel + .feature-grid.section-inverse,
  .carousel + .last-section .feature-grid.section-inverse,
  .cta-type-advertisement-banner + .feature-grid.section-inverse,
  .cta-type-advertisement-banner + .last-section .feature-grid.section-inverse {
    padding-top: $spacing-vertical-md;
  }

  .section-inverse + .cta-type-newsletter-strip {
    padding-top: 0;
  }
}

#app {
  position: relative;

  &.restrict {
    overflow: hidden;
  }
}

section.intro, section.search-form {
  padding-top: $spacing-vertical-md;
  padding-bottom: 0;
}

section.intro {
  .entry-content {
    padding-bottom: $spacing-vertical-xs;

    h1, h2, h3 {
      margin: 0;
    }
  }
}

.loading-icon {
  position: relative;

  &:before {
    content: ' ';
    width: 100%;
    height: 100%;
    background-image: url('./../../../static/img/icon-loading.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-animation: spin 2s infinite linear;
    position: absolute;
    left: 0;
  }
}

.copyright {
  position: absolute;
  bottom: $spacing-vertical-xs;
  right: $spacing-horizontal-xs + 5px;
  font-size: 10px;
  font-family: $headings-font-family;
  font-weight: 100;
  z-index: 1;
  text-shadow: 0 0 3px $gray-base;
  color: #fff;
  @include opacity(0.65);

  a, a:hover {
    color: inherit;
    cursor: pointer;
  }
}

@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
