.home.container.header-banner {
  .banner-inner {
    h1 {
      font-size: 100px;
    }
  }
}

.container.header-banner {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  position: relative;
  background: $gray-lighter;

  .visual {
    position: relative;

    .visual-preload {
      &:after {
        @include image-overlay($image-overlay-dark);
      }
    }
  }

  .save {
    margin: 0;
    padding: 0;
    width: 65px;
    height: 60px;
    position: absolute;
    top: $navbar-height + $spacing-vertical-sm;
    right: 0;
    background-color: $brand-primary;
    background-image: url('./../../../static/img/icon-save-light.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 19px;
    z-index: 2;
    @include border-top-radius($border-radius-large);
    @include border-right-radius(0);
    @include border-bottom-radius(0);
    @include border-left-radius($border-radius-large);
    @include transition(background-size $transition-speed-base $transition-type-default);

    &:hover {
      background-size: 29px 23px;
    }
  }

  .banner-inner {
    width: 75%;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 81px;
    left: 0;
    color: #fff;
    display: flex;
    align-items: flex-start;

    > div {
      margin: auto;
      padding-left: $spacing-horizontal-md;
      padding-right: 0;
      width: 100%;
      min-height: 80px;
    }

    h1 {
      color: inherit;
      font-size: 80px;
      line-height: 1;
      text-transform: uppercase;

      small {
        color: inherit;
        font-family: $font-family-base;
        font-weight: initial;
        font-size: 45px;
        font-style: italic;
        line-height: 1.3;
        text-transform: initial;
      }

      .back {
        margin: 0 0 $spacing-vertical-xs;
        padding: 0;
        font-size: $font-size-xsmall;
        font-weight: 100;
        font-family: $headings-font-family;
        color: #fff;
        text-transform: none;
        display: block;

        &:before {
          margin: 5px 0;
          width: 15px;
          height: 15px;
          content: ' ';
          background-image: url('./../../../static/img/icon-arrow-light.svg');
          background-repeat: no-repeat;
          background-position: top left;
          background-size: contain;
          display: block;
          clear: both;
          @include rotate(180deg);
        }
      }
    }
  }

  &.layout-default {
    height: $header-banner-height-xl;

    .visual {
      padding-bottom: $header-banner-height-xl;
    }
  }

  &.layout-strip {
    height: $header-banner-height-xs;

    .visual {
      padding-bottom: $header-banner-height-xs;
    }

    .banner-inner {
      h1 {
        margin: $spacing-vertical-sm 0 0;
        font-size: 60px;

        small {
          font-size: 34px;
        }
      }
    }
  }

  ul.slick-dots {
    margin: 0;
    padding: 0;
    height: $header-banner-dot-size;
    position: absolute;
    bottom: $spacing-horizontal-md;
    left: $spacing-horizontal-md;
    list-style: none;

    > li {
      margin: 0;
      padding: 0;
      display: inline-block;

      button {
        margin-right: $header-banner-dot-size;
        width: $header-banner-dot-size;
        height: $header-banner-dot-size;
        background: rgba(255,255,255,0.7);
        border: none;
        text-indent: -1000px;
        color: rgba(0,0,0,0);
        outline: none;
        @include border-top-radius($header-banner-dot-size);
        @include border-right-radius($header-banner-dot-size);
        @include border-bottom-radius($header-banner-dot-size);
        @include border-left-radius($header-banner-dot-size);

        &:hover {
          background: rgba(255,255,255,0.9);
        }
      }

      &.slick-active {
        button {
          background: $brand-primary;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-min) {
  .container.header-banner {
    &.layout-default {
      height: $header-banner-height-lg;

      .visual {
        padding-bottom: $header-banner-height-lg;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .container.header-banner {
    .banner-inner {
      width: 85%;
    }

    &.layout-default {
      height: $header-banner-height-md;

      .visual {
        padding-bottom: $header-banner-height-md;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .container.header-banner {
    &.layout-default {
      height: $header-banner-height-sm;

      .visual {
        padding-bottom: $header-banner-height-sm;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .container.header-banner {
    .banner-inner {
      width: 100%;
      bottom: $grid-gutter-width + $header-banner-dot-size;

      > div {
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
      }

      h1 {
        font-size: 60px;

        small {
          font-size: 45px;
        }
      }

      .btn.btn-large {
        padding: $padding-base-horizontal $padding-base-vertical;
      }
    }

    &.layout-strip {
      .banner-inner {
        h1 {
          font-size: 60px;

          small {
            font-size: 34px;
          }
        }
      }
    }

    ul.slick-dots {
      left: $grid-gutter-width/2;
      bottom: $grid-gutter-width;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .container.header-banner {
    &.layout-default {
      height: $header-banner-height-xs;

      .visual {
        padding-bottom: $header-banner-height-xs;
      }
    }

    .save {
      width: 35px;
      height: 35px;
      position: absolute;
      top: $navbar-height + $spacing-vertical-xs;
      background-size: 16px 13px;

      &:hover {
        background-size: 19px 15px;
      }
    }

    .banner-inner {
      width: 100%;
      bottom: $grid-gutter-width + $header-banner-dot-size;

      > div {
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
      }

      h1 {
        margin: 0;
        padding: $padding-large-vertical 0;
        font-size: $font-size-h1;

        small {
          font-size: $font-size-h3;
        }
      }

      .btn {
        padding: $padding-base-vertical $padding-base-horizontal;
        font-size: $font-size-small;
        @include border-radius($border-radius-base);
      }
    }

    &.layout-strip {
      .banner-inner {
        h1 {
          font-size: $font-size-h1;

          small {
            font-size: $font-size-h3;
          }
        }
      }
    }
  }
}
