body.home {
  .navbar-default {
    #menu-main-menu.navbar-nav {
      > li {
        > a {
          color: $navbar-default-link-active-color;
        }
      }
    }
  }
}

.navbar-default .navbar-nav li.current_page_item,
.navbar-default .navbar-nav li.current-menu-item,
.navbar-default .navbar-nav li.current-page-ancestor,
body.single-ve_destination li.menu-destinations,
body.single-ve_experience:not(.type-event) li.menu-experiences,
body.single-ve_experience.type-event li.menu-events,
body.single-ve_trip li.menu-trips {
  a {
    color: $navbar-default-link-active-color;
  }

  &:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: $navbar-padding-horizontal;
    right: $navbar-padding-horizontal;
    height: 2px;
    background: $gray-base;
  }
}

.navbar-default {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);

  .navbar-header {
    .navbar-brand {
      margin: 0 $grid-gutter-width/2 0 0;
      width: 95px;
      height: $navbar-height - 1px;
      background-image: url('./../../../static/img/logo.svg');
      background-size: 97%;
      background-position: left center;
      background-repeat: no-repeat;
    }
  }

  .navbar-toggle {
    margin-right: 0;
  }

  .navbar-nav.navbar-right {
    > li {
      > a {
        color: $navbar-default-link-active-color;
        font-family: $font-family-base;
        font-style: italic;
        text-transform: none;
      }

      &.nav-search {
        > a {
          width: 18px;
          height: $navbar-height - 1px;
          display: block;
          background-image: url('./../../../static/img/icon-search-dark.svg');
          background-position: center center;
          background-size: 20px;
          background-repeat: no-repeat;
          text-indent: -1000px;
          overflow: hidden;
        }
      }

      &.nav-my-account {
        > a {
          width: 18px;
          height: $navbar-height - 1px;
          display: block;
          background-image: url('./../../../static/img/icon-my-account.svg');
          background-position: center center;
          background-size: 20px;
          background-repeat: no-repeat;
          text-indent: -1000px;
          overflow: hidden;
        }
      }

      &.current-menu-item, &.current_page_item {
        > a {
          color: $brand-primary;
        }

        &:after {
          display: none;
        }
      }
    }
  }

  .navbar-nav {
    li {
      a {
        font-family: 'Rubik';
        font-weight: 500;
        text-transform: uppercase;
        position: relative;

        .caret {
          width: 16px;
          height: 8px;
          background-image: url('./../../../static/img/icon-chevron.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 16px 8px;
          border: none;
          position: relative;
          @include transition(all $transition-speed-base $transition-type-default);
        }
      }

      .dropdown-menu {
        border: none;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
        background: $navbar-default-bg;
        @include border-radius(0);

        li {
          a {
            font-size: $font-size-xsmall;
            font-weight: initial;
            text-transform: none;
            color: $gray;

            &:hover {
              color: $navbar-default-link-color;
            }
          }
        }
      }

      &.open {
        a {
          .caret {
            @include rotate(180deg);
          }
        }
      }

      &.language-selector {
        a {
          font-family: $headings-font-family;
          font-size: $font-size-xsmall;
          font-weight: initial;
          text-transform: none;
          font-style: initial;
        }
      }
    }
  }
}

nav.navbar {
  .container {
    background: transparent;
    position: relative;

    #interactive-map-close {
      width: 36px;
      position: absolute;
      top: $navbar-height/2;
      left: 0;
      z-index: 15;
      background-image: url('./../../../static/img/icon-arrow-light.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px 15px;
      @include rotate(180deg);
      @include border-top-radius($border-radius-base);
      @include border-right-radius(0);
      @include border-bottom-radius(0);
      @include border-left-radius($border-radius-base);
    }
  }

  .navbar-container {
    margin-left: $grid-gutter-width * 0.5 * -1;
    margin-right: $grid-gutter-width * 0.5 * -1;
    padding-left: $grid-gutter-width * 0.5;
    padding-right: $grid-gutter-width * 0.5;
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .navbar-default {
    .navbar-nav {
      li {
        a {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md-max) {
  nav.navbar {
    .container {
      padding-left: 25px;
      padding-right: 25px;

      #interactive-map-close {
        position: absolute;
        top: $navbar-height + $grid-gutter-width/2;
        left: 0;
        z-index: 15;
      }
    }

    .navbar-default {
      .navbar-collapse.collapse {
        overflow-y: auto !important;
        overflow-x: hidden !important;
      }

      .navbar-nav {
        li {
          .dropdown-menu {
            position: relative;
            width: 90%;
            box-shadow: none;
            float: none;
            background: none;
          }
        }
      }

      .navbar-nav.navbar-right {
        > li {
          &.nav-search, &.nav-my-account {
            > a {
              width: 100%;
              background: none;
              text-indent: 0;
            }
          }
        }
      }
    }
  }

  body {
    .navbar-default {
      #menu-main-menu.navbar-nav {
        > li {
          > a {
            font-size: $font-size-small;
          }
        }
      }
    }
  }

  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
