section.container.header-cookies {
  background: $gray-base;
  color: #fff;
  font-family: $headings-font-family;
  font-size: $font-size-small;

  .inner {
    padding: $spacing-vertical-xs 0;
    display: flex;

    p {
      margin: auto auto auto 0;
      padding-right: $spacing-horizontal-xs;
    }

    a {
      margin: auto 0 auto auto;
      width: 20%;
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  section.container.header-cookies {
    .inner {
      a {
        width: 25%;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  section.container.header-cookies {
    .inner {
      a {
        width: 33%;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  section.container.header-cookies {
    .inner {
      padding: $spacing-vertical-xs 0;
      flex-direction: column;

      p {
        padding-right: 0;
      }

      a {
        margin-top: $spacing-vertical-xs;
        width: 100%;
      }
    }
  }
}
