.modal {
  button.close {
    width: 20px;
    height: 20px;
    background-image: url('./../../../static/img/icon-close-dark.svg');
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    @include opacity(1);

    span {
      display: none;
    }
  }

  .modal-content {
    @include border-radius(0);
    position: relative;

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $loading-bg;
      z-index: 1;

      > .loading-icon {
        width: 25px;
        height: 25px;
        position: absolute;
        left: calc(50% - 12px);
        top: calc(50% - 12px);
      }
    }
  }
}

.newsletter-submitted {
  .modal-header {
    padding-bottom: 0;
    border-bottom: 0;
  }

  .modal-content {
    h3 {
      margin-top: 0;
      padding-top: 65px;
      background-image: url('./../../../static/img/icon-newsletter-submitted.svg');
      background-position: top center;
      background-size: 57px 37px;
      background-repeat: no-repeat;
    }

    font-family: $headings-font-family;
    font-size: $font-size-small;
    text-align: center;
  }
}
