.nav {
  &.nav-pills {
    > li {
      > a {
        color: $gray-light;
        background: transparent;
        border: none;

        &:hover, &:focus, &:active {
          color: $text-color;
          background: transparent;
          border: none;
        }
      }

      &.active {
        > a, > a:hover, > a:focus, > a:active {
          color: $text-color;
          background: transparent;
          border: none;
        }
      }
    }
  }
}
