#search {
  .search-form {
    padding-top: $spacing-vertical-sm;

    form {
      .input-group {
        width: 50%;

        input {
          padding-bottom: 2px;
          height: 53px;
          padding-left: 0;
          border: none;
          border-bottom: 1px solid $gray-dark;
          color: $text-color;
          font-family: $headings-font-family;
          font-size: $font-size-h3;
          box-shadow: none;
        }

        .btn-default {
          height: 53px;
          border: 1px solid transparent;
          border-bottom: 1px solid $gray-dark;
          background-color: transparent;
          background-image: url('./../../../static/img/icon-search-dark.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          @include border-radius(0);

          &:hover, &:focus {
            background-color: transparent;
            border: 1px solid transparent;
            border-bottom: 1px solid $gray-dark;
          }
        }
      }
    }
  }
}

.search {
  .search-empty {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;
    font-family: $headings-font-family;
    font-size: $font-size-small;
    color: $brand-primary;

    p {
      margin: 0;
    }
  }

  .search-empty + .cta-banner, .search-empty + .last-section {
    padding-top: 0;
    padding-bottom: 0;

    > section.cta-banner {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #search {
    .search-form {
      form {
        .input-group {
          width: 100%;
        }
      }
    }
  }
}
