.accordion {
  padding-top: $spacing-vertical-md;
  padding-bottom: $spacing-vertical-md;
  
  .panel-default {
    border: none;

    .panel-heading {
      color: #fff;
      background: $gray-dark;
      border: none;

      .panel-title {
        a {
          color: inherit;
          display: block;
        }
      }
    }

    .panel-body {
      border: none;
    }
  }
}
