@import "~slick-carousel/slick/slick.scss";

$carousel-thumb-size: 34px;

.slick-initialized .slick-slide {
  outline: none;
  position: relative;
}

.carousel-mini {
  position: relative;
  padding-top: 30px;

  .carousel-navigation {
    position: absolute;
    top: 0;
    right: 0;
    font-family: $headings-font-family;
    font-size: $font-size-small;

    &.carousel-mobile-nav {
      position: relative;
    }

    .prev, .next {
      margin-top: 5px;
      width: 14px;
      height: 10px;
      display: inline-block;
      text-indent: -1000px;
      overflow: hidden;
      background-image: url('./../../../static/img/icon-carousel-nav-dark.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    .slide-separator {
      margin-left: -2px;
      margin-right: -2px;
    }

    .prev {
      margin-top: 6px;
      margin-right: 5px;
      @include rotate(180deg);
    }

    .next {
      margin-left: 5px;
    }
  }

  .carousel-item {
    header {
      h4 {
        font-size: $font-size-h5;
      }
    }

    .visual {
      position: relative;
      overflow: hidden;
      padding-bottom: $image-ratio-percent-standard;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    .content {
      header {
        padding-right: 0;
        padding-left: 10px;
        position: relative;

        h4 {
          font-size: $font-size-base;
          height: $font-size-base + 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &:before {
          content: ' ';
          width: 4px;
          height: 15px;
          position: absolute;
          top: 1px;
          left: 0;
          background-color: $brand-primary;
        }
      }

      .blurb {
        height: 60px;
        overflow: hidden;
        line-height: $headings-line-height;

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

section.carousel {
  padding-top: $spacing-vertical-md;
  padding-bottom: 0;
}

.carousel-large {
  width: 100%;
  color: #fff;
  overflow: visible;
  position: relative;

  a, div {
    display: block;
    color: inherit;
  }

  > .carousel-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    background: $gray-base;
  }

  > .carousel-navigation {
    text-align: right;
    color: $text-color;
    position: absolute;

    > * {
      display: inline-block;
    }
  }

  &.has-content {
    > .carousel-inner {
      display: block;

      > .carousel-visual {
        width: $container-third-main-xl;
        height: 555px;

        .visual {
          position: relative;
          height: 100%;
          padding-bottom: 555px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
      }
    }

    .carousel-content {
      padding: $spacing-vertical-sm $spacing-horizontal-sm $spacing-vertical-sm * 2;
      width: $container-third-side-xl;
      height: 555px;
      position: absolute;
      top: 0;
      right: 0;
      background: $gray-base;
      @include transition(width $transition-speed-slow $transition-type-default);

      .slick-slide {
        height: calc(555px - 70px - #{$spacing-vertical-sm});
      }

      .content-shaved {
        .read-more {
          display: block;
          @include opacity(1);
        }
      }

      .btn {
        margin: 19px 0 0;
        padding: $padding-base-vertical $padding-base-horizontal;
        font-size: $font-size-xsmall;
        border: 1px solid #fff;
        text-transform: lowercase;
        color: #fff;
        display: inline-block;

        &:hover {
          color: #fff;
        }
      }

      .read-more, .read-less {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: $gray-base;
        display: block;
        @include opacity(0);
        @include transition(opacity $transition-speed-base $transition-type-default);
      }

      .read-less {
        display: none;
      }

      .title {
        margin: 0 0 $spacing-vertical-xs;
        padding: 0 0 0 10px;
        padding-right: 0;
        padding-left: 10px;
        position: relative;
        font-size: $font-size-h4;

        &:before {
          content: ' ';
          width: 4px;
          height: 15px;
          position: absolute;
          top: 3px;
          left: 0;
          background-color: $brand-primary;
        }
      }

      .blurb {
        overflow: hidden;
        @include opacity(1);
        @include transition(opacity $transition-speed-base $transition-type-default);

        p {
          a {
            color: $link-color;
            display: inline;

            &:hover {
              color: $link-hover-color;
            }
          }
        }
      }

      .carousel-navigation {
        padding: $spacing-vertical-xs $spacing-horizontal-sm ($spacing-vertical-sm - 5px);
        width: $container-third-side-xl;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;
        background: transparent;
        font-family: $headings-font-family;

        .prev {
          width: 20px;
          height: 12px;
          position: absolute;
          left: $spacing-horizontal-sm;
          top: 20px;
          text-indent: -1000px;
          overflow: hidden;
          background-image: url('./../../../static/img/icon-arrow-light.svg');
          background-repeat: no-repeat;
          background-position: center center;
          @include rotate(180deg);
        }

        .next {
          width: 20px;
          height: 12px;
          position: absolute;
          right: $spacing-horizontal-sm;
          top: 20px;
          text-indent: -1000px;
          overflow: hidden;
          background-image: url('./../../../static/img/icon-arrow-light.svg');
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }

    &.content-open {
      .carousel-content {
        width: calc(100% - #{$container-third-side-xl});

        .read-more {
          @include opacity(0);
          display: none;
        }

        .read-less {
          display: block;
        }

        .slick-slide {
          height: calc(555px - #{$spacing-vertical-sm * 2});
        }
      }
    }

    &.content-open:not(.content-opening) {
      .carousel-content {
        .js-shave-char {
          display: none;
        }

        .js-shave {
          display: inline !important;
        }

        .read-less {
          @include opacity(1);
        }
      }
    }

    &.content-closing {
      .carousel-content {
        .js-shave {
          display: inline !important;
        }

        .read-more, .read-less {
          @include opacity(0);
        }
      }
    }

    &.content-opening, &.content-closing {
      .blurb {
        @include opacity(0);
      }
    }
  }

  &:not(.has-content) {
    > .carousel-inner {
      flex-direction: column;

      > .carousel-visual {
        width: 100%;

        .visual {
          position: relative;
          height: 100%;
          padding-bottom: 56%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
      }

      > .carousel-visual-title {
        margin: 0;
        padding: 0;
        width: 100%;
        background: #fff;

        .slick-slide {
          margin: 0;
          padding: 0 0 8px;
          color: $text-color;
        }
      }
    }

    &.has-thumbnails{
      .carousel-large-thumbs {
        > .carousel-inner {
          width: calc(100% + 34px);

          > .carousel-visual {
            width: calc(100% - 11px);

            .slick-slider {
              .slick-arrow.slick-next {
                right: -10px;
              }
            }
          }
        }
      }
    }
  }

  &.has-thumbnails {
    .carousel-large-thumbs {
      margin-top: $grid-gutter-width/2;
      position: relative;
      left: -$carousel-thumb-size/2;

      > .carousel-inner {
        > .carousel-visual {
          width: $container-third-main-xl + 24px;

          a {
            padding: 0 $carousel-thumb-size/4;
            @include opacity(0.5);
            @include transition(opacity $transition-speed-base $transition-type-default);
            outline: none;

            &.active, &:hover {
              @include opacity(1);
              outline: none;
            }
          }

          .visual {
            position: relative;
            height: 100%;
            padding-bottom: 56%;
          }

          .slick-slider {
            padding-left: $carousel-thumb-size/4;

            .slick-arrow {
              position: absolute;
              z-index: 1;
              background-color: $gray-base;
              background-image: url('./../../../static/img/icon-carousel-nav-light.svg');
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 50%;
              border: $gray-base;
              text-indent: -1000px;
              width: $carousel-thumb-size;
              height: $carousel-thumb-size;
              top: calc(50% - #{$carousel-thumb-size/2});
              border-radius: $carousel-thumb-size/2;
              overflow: hidden;

              &:focus {
                outline: none;
              }

              &.slick-prev {
                left: 0px;
                @include rotate(180deg);
              }

              &.slick-next {
                right: -12px;
              }
            }
          }
        }
      }
    }
  }

  &.has-title {
    .section-header {
      color: $text-color;
    }

    > .carousel-navigation {
      padding-left: $grid-gutter-width/2;
      position: absolute;
      top: 8px;
      right: 0;
      background: #fff;
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-xl){
  .carousel-large {
    &.has-thumbnails {
      .carousel-large-thumbs {
        > .carousel-inner {
          > .carousel-visual {
            width: $container-third-main-lg + 24px;
          }
        }
      }
    }

    &.has-content {
      > .carousel-inner {
        > .carousel-visual {
          width: $container-third-main-lg;
          height: 440px;

          .visual {
            padding-bottom: 440px;
          }
        }
      }

      .carousel-content {
        width: $container-third-side-lg;
        height: 440px;

        .slick-slide {
          height: calc(440px - 70px - #{$spacing-vertical-sm});
        }

        .carousel-navigation {
          width: $container-third-side-lg;
        }
      }

      &.content-open {
        .carousel-content {
          width: calc(100% - #{$container-third-side-md});

          .slick-slide {
            height: calc(440px - #{$spacing-vertical-sm * 2});
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  .carousel-large {
    &.has-thumbnails {
      .carousel-large-thumbs {
        > .carousel-inner {
          > .carousel-visual {
            width: $container-third-main-md + 24px;
          }
        }
      }
    }

    &.has-content {
      > .carousel-inner {
        > .carousel-visual {
          width: $container-third-main-md;
          height: 320px;

          .visual {
            padding-bottom: 320px;
          }
        }
      }

      .carousel-content {
        width: $container-third-side-md;
        height: 320px;

        .slick-slide {
          height: calc(320px - 70px - #{$spacing-vertical-sm});
        }

        .carousel-navigation {
          width: $container-third-side-md;
        }
      }

      &.content-open {
        .carousel-content {
          width: calc(100% - 100px);

          .slick-slide {
            height: calc(320px - #{$spacing-vertical-sm * 2});
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max){
  .carousel-large {
    &.has-content {
      > .carousel-inner {
        display: block;

        > .carousel-visual {
          width: 100%;
          height: auto;

          .visual {
            padding-bottom: $image-ratio-percent-wide;
          }
        }
      }

      &.content-open {
        .carousel-content {
          width: 100%;

          .slick-slide {
            height: auto;
          }
        }
      }

      .carousel-content {
        padding: $grid-gutter-width $grid-gutter-width $grid-gutter-width;
        width: 100%;
        height: auto;
        position: relative;

        .slick-slide {
          height: auto;
        }

        .carousel-navigation {
          padding-bottom: 0;
          position: relative;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;

          .next {
            right: 0;
          }

          .prev {
            left: 0;
          }
        }

        .read-more, .read-less {
          display: none;
        }
      }
    }

    &.has-title {
      > .carousel-navigation {
        right: $grid-gutter-width/2;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min - 1){
  .carousel-large {
    &.has-content {
      > .carousel-inner {
        > .carousel-visual {
          .visual {
            padding-bottom: $image-ratio-percent-standard;
          }
        }
      }
    }
  }
}
