.content-external-grid {
  padding-top: $spacing-vertical-md;
  padding-bottom: $spacing-vertical-md;

  .visual {
    > .row {
      .external-item {
        margin-bottom: $grid-gutter-width;
        padding-bottom: 65%;
        position: relative;
        background-size: cover;
        background-position: center center;

        > a {
          margin: 0;
          padding: $grid-gutter-width/2 $grid-gutter-width;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(42, 44, 55, 0.9);
          color: #fff;
          display: flex;
          flex-direction: column;

          .title {
            text-align: center;
            padding-bottom: $grid-gutter-width/3;
          }

          .image {
            flex: 1;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
          }
        }
      }
    }
  }
}
