.feature-grid {
  padding-top: $spacing-vertical-md;
  padding-bottom: 0;

  .feature-grid {
    padding-top: 0;
    padding-bottom: 0;
  }

  .grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .content {
    position: relative;

    .blurb {
      height: 40px;
      overflow: hidden;
      line-height: $headings-line-height;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .featured-container, .standard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    height: 100%;

    article {
      padding-bottom: $grid-gutter-width/2;
      margin: auto;
      width: 100%;
      height: 100%;
    }
  }

  &.feature-grid-size-half {
    .featured, .standard {
      @include make-xs-column(12);
      @include make-sm-column(6);
      padding-left: 0;
      padding-right: 0;
      float: none;
    }

    &.feature-grid-orientation-left {
      .featured {
        padding-right: $grid-gutter-width/4;
      }

      .standard {
        padding-left: $grid-gutter-width/4;
      }
    }

    &.feature-grid-orientation-right {
      .grid-container {
        flex-direction: row-reverse;
      }

      .featured {
        padding-left: $grid-gutter-width/4;
      }

      .standard {
        padding-right: $grid-gutter-width/4;
      }
    }
  }

  &.feature-grid-size-full {
    .featured {
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(6);
      padding-left: 0;
      float: none;
    }

    .standard {
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(6);
      padding-right: 0;
      float: none;
    }

    .featured-container {
      .visual {
        padding-bottom: 45.6%;
      }
    }

    .standard-container {
      margin-left: -$grid-gutter-width/2;
      margin-right: -$grid-gutter-width/2;
      flex-flow: row wrap;

      article {
        width: calc(50% - 30px);
        height: auto;

        &:nth-of-type(odd) {
          margin-right: $grid-gutter-width/2;
        }

        &:nth-of-type(even) {
          margin-left: $grid-gutter-width/2;
        }

        &.advert-preview {
          margin-top: 0;

          a {
            position: relative;
            display: block;

            &:hover {
              .visual {
                .btn-primary {
                  @extend .btn-primary:hover;
                }
              }
            }

            .visual {
              padding-bottom: calc(65% + 30px);

              .visual-preload {
                &:after {
                  @include image-overlay($image-overlay-dark);
                }
              }

              .body {
                position: absolute;
                top: $spacing-vertical-xs;
                left: $spacing-horizontal-xs;
                right: $spacing-horizontal-xs;
                color: #fff;
                font-family: $headings-font-family;
              }

              .btn {
                position: absolute;
                bottom: $spacing-vertical-xs;
                left: $spacing-horizontal-xs;
                right: $spacing-horizontal-xs;
              }
            }
          }
        }

        .visual {
          padding-bottom: $image-ratio-percent-standard;
        }

        .content {
          .blurb {
            visibility: hidden;
            height: 10px;
          }
        }
      }
    }
  }

  .destination-preview {
    position: relative;

    .visual {
      position: relative;
      height: 100%;
      padding-bottom: $image-ratio-percent-standard;

      .visual-preload {
        &:after {
          @include image-overlay($image-overlay-dark);
        }
      }

      header {
        margin: 0;
        padding: 25px 0 0;
        width: 100%;
        position: absolute;
        bottom: 25px;
        background-image: url('./../../../static/img/icon-pin-light.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 15px 21px;

        h4 {
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }
    }
  }

  .trip-preview, .experience-preview {
    position: relative;

    .visual {
      position: relative;
    }
  }

  &.countries, &.regions {
    > .row {
      > div:nth-of-type(1) {
        padding-right: $grid-gutter-width/4;
      }
      > div:nth-of-type(2) {
        padding-left: $grid-gutter-width/4;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .feature-grid {
    &.countries, &.regions {
      > .row {
        > div:first-of-type {
          padding-right: $grid-gutter-width/2;
        }
        > div:last-of-type {
          padding-left: $grid-gutter-width/2;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-xl-min) {
  .feature-grid {
    &.feature-grid-size-half {
      .featured-container {
        article {
          height: 349.5px;
        }
      }

      .standard-container {
        article {
          height: 218px + $spacing-vertical-xs;
        }
      }
    }

    &.feature-grid-size-full {
      .featured-container {
        article {
          min-height: 402px;
        }
      }

      .standard-container {
        article {
          height: 268px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .feature-grid {
    &.feature-grid-size-half {
      .featured-container {
        article {
          height: 283.5px;
        }
      }

      .standard-container {
        article {
          height: 174px + $spacing-vertical-xs;
        }
      }
    }

    &.feature-grid-size-full {
      .featured-container {
        article {
          min-height: 337px;
        }
      }

      .standard-container {
        article {
          height: 224px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .feature-grid {
    &.feature-grid-size-half {
      .featured-container {
        article {
          height: 235.5px;
        }
      }

      .standard-container {
        article {
          height: 142px + $spacing-vertical-xs;
        }
      }
    }

    &.feature-grid-size-full {
      .featured-container {
        article {
          min-height: 288px;
        }
      }

      .standard-container {
        article {
          height: 192px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .feature-grid {
    &.feature-grid-size-half {
      .featured-container {
        article {
          height: 388.5px;
        }
      }

      .standard-container {
        article {
          height: 244px + $spacing-vertical-xs;
        }
      }
    }

    &.feature-grid-size-full {
      .featured-container {
        article {
          min-height: 439px;
        }
      }

      .standard-container {
        article {
          height: 300px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
  .feature-grid {
    &.feature-grid-size-full {
      .grid-container {
        flex-direction: column;
      }

      .featured {
        padding-right: 0;

        .featured-container {
          flex-direction: column;

          article {
            width: 100%;

            &:nth-of-type(odd), &:nth-of-type(even) {
              margin: 0;
            }

            .visual {
              padding-bottom: $image-ratio-percent-wide;
            }
          }
        }
      }

      .standard {
        padding-left: 0;

        .standard-container {
          margin-left: 0;
          margin-right: 0;

          article {
            margin-left: 0;
            margin-right: 0;
            width: calc(50% - 7.5px);

            &.advert-preview {
              .visual {
                padding-bottom: calc(65% + 30px); // + title margin & height
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min - 1) {
  .feature-grid {
    &.feature-grid-size-full, &.feature-grid-size-half {
      &.feature-grid-orientation-left, &.feature-grid-orientation-right {
        .featured, .standard {
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
          float: none;
        }
      }

      .grid-container, .featured-container, .standard-container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        display: block;

        article {
          width: 100%;

          &:nth-of-type(odd) {
            margin-left: 0;
            margin-right: 0;
          }

          &:nth-of-type(even) {
            margin-left: 0;
            margin-right: 0;
          }

          .visual {
            padding-bottom: $image-ratio-percent-standard;
          }

          &.advert-preview {
            .visual {
              padding-bottom: $image-ratio-percent-standard;
            }
          }
        }
      }
    }
  }
}
