.interests-grid {
  padding-top: $spacing-vertical-md;
  padding-bottom: 0;

  .filter-container {
    margin-bottom: 5px;

    .btn-default {
      margin-right: $grid-gutter-width/2;
      margin-bottom: $spacing-vertical-xs;
      border: 1px solid $gray-base;
      text-transform: initial;
      font-size: $font-size-small;
    }
  }

  section.standard-grid {
    padding-top: 0;
    padding-bottom: 0;

    .content {
      header {
        padding-right: 30px;
        padding-left: 10px;
        position: relative;

        &:before {
          content: ' ';
          width: 4px;
          height: 15px;
          position: absolute;
          top: 1px;
          left: 0;
          background-color: $brand-primary;
        }
      }
    }
  }
}
