section.standard-grid {
  padding-top: $spacing-vertical-md;
  padding-bottom: 0;

  .content {
    position: relative;

    .blurb {
      height: 40px;
      overflow: hidden;
      line-height: $headings-line-height;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .standard-container, &.standard-container {
    article {
      padding-bottom: $spacing-vertical-sm;
      margin: auto;
      width: 100%;
      height: 100%;
    }
  }

  .standard-grid-size-full, &.standard-grid-size-full {
    .standard {
      float: none;
    }

    .standard-container {
      @include make-row();

      > article, > .article-container {
        @include make-xs-column(6);
        @include make-sm-column(6);
        @include make-md-column(3);
        height: auto;

        .visual {
          padding-bottom: $image-ratio-percent-standard;
        }
      }
    }
  }

  .destination-preview {
    position: relative;

    .visual {
      position: relative;
      height: 100%;
      padding-bottom: $image-ratio-percent-standard;

      .visual-preload {
        &:after {
          @include image-overlay($image-overlay-dark);
        }
      }

      header {
        margin: 0;
        padding: 25px 0 0;
        width: 100%;
        position: absolute;
        bottom: 25px;
        background-image: url('./../../../static/img/icon-pin-light.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 15px 21px;

        h4 {
          margin: 0;
          padding: 0;
          text-align: center;
          color: #fff;
        }
      }
    }
  }

  .trip-preview, .experience-preview {
    position: relative;

    .visual {
      position: relative;
    }
  }

  &.questions {
    .standard-container {
      display: flex;
      flex-wrap: wrap;

      article {
        display: flex;
        margin: 0 0 30px;

        .content {
          padding: $grid-gutter-width/2;
          width: 100%;
          border: 1px solid #fff;
          @include border-radius($border-radius-large);

          .visual {
            margin: 0;
            padding: 0 0 70px;
            width: 70px;
            height: 70px;
            position: relative;
            border: 1px solid #fff;
            overflow: hidden;
            @include border-radius(35px);
          }

          header h4 {
            height: auto;
          }

          p {
            height: auto;
          }
        }
      }
    }
  }
}

section.standard-grid + section.standard-grid {
  padding-top: $spacing-vertical-sm;
}

@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  section.standard-grid {
    .standard-grid-size-full, &.standard-grid-size-full {
      .standard-container {
        > article, > .article-container {
          &:nth-of-type(odd) {
            padding-right: $grid-gutter-width/4;
          }

          &:nth-of-type(even) {
            padding-left: $grid-gutter-width/4;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min - 1) {
  section.standard-grid {
    .standard-grid-size-full, &.standard-grid-size-full {
      .standard-container {
        > article, > .article-container {
          width: 100%;

          &:nth-of-type(odd) {
            padding-right: $grid-gutter-width/2;
          }

          &:nth-of-type(even) {
            padding-left: $grid-gutter-width/2;
          }
        }
      }
    }

    &.questions .standard-container article {
      margin-bottom: $grid-gutter-width/2;
    }
  }
}
