.cta-type-interactive-map-banner {
  padding-top: $spacing-vertical-sm;
  padding-bottom: $spacing-vertical-xs;

  .map-container {
    position: relative;
    display: block;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-start;
    height: 745px;

    &:hover {
      cursor: pointer;

      .btn-primary {
        @extend .btn-primary:hover;
      }
    }

    .btn {
      margin: auto;
      padding: $spacing-vertical-sm
               $spacing-horizontal-sm
               $spacing-vertical-sm
               ($spacing-horizontal-sm + 40px + $spacing-horizontal-xs);
      z-index: 2;
      background-image: url('./../../../static/img/icon-interactive-map.svg');
      background-size: 40px 40px;
      background-position: $spacing-horizontal-sm center;
      background-repeat: no-repeat;

      @include border-top-radius($border-radius-large);
      @include border-right-radius($border-radius-large);
      @include border-bottom-radius($border-radius-large);
      @include border-left-radius($border-radius-large);
    }
  }
}

@media screen and (min-width: $screen-xl-min) {
  .cta-type-interactive-map-banner {
    .map-container {
      height: 745px;
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .cta-type-interactive-map-banner {
    .map-container {
      height: 580px;
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .cta-type-interactive-map-banner {
    .map-container {
      height: 470px;
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .cta-type-interactive-map-banner {
    .map-container {
      height: 405px;

      .btn {
        padding: $spacing-vertical-xs
                 $spacing-horizontal-xs
                 $spacing-vertical-xs
                 ($spacing-horizontal-xs + 30px + $spacing-horizontal-xs);
        background-size: 30px 30px;
        background-position: $spacing-horizontal-xs center;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .cta-type-interactive-map-banner {
    .map-container {
      padding: $spacing-vertical-xl 0;
      height: auto;
    }
  }
}
