body .container.cta-strip, .cta-strip {
  padding: $spacing-vertical-sm 0 0;

  .inner.container {
    padding: $spacing-horizontal-md $spacing-horizontal-md;
    background-color: $gray-base;
    color: #fff;
  }
}

#app {
  > .cta-type-newsletter-strip {
    padding-top: 0;
  }
}

.cta-type-newsletter-strip {
  .inline-form-error {
    right: calc(-40% + 3px - #{$grid-gutter-width/2});
    width: calc(40% + #{$grid-gutter-width/2});
  }

  h4 {
    margin: 3px 0 0;
    padding: 0;
    font-weight: 400;
  }

  p {
    font-style: italic;
    font-size: $font-size-h4;
  }

  input {
    font-style: italic;
    font-size: $font-size-base;
  }
}

@media screen and (max-width: $screen-sm-max) {
  body .container.cta-strip, .cta-strip {
    .inner.container {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }
  }

  .cta-type-newsletter-strip {
    .inline-form-error {
      top: calc(100% + 10px);
      right: auto;
      left: 0;
      height: auto;
      width: auto;
      max-width: 100%;

      &:after {
        top: -10px;
        left: $grid-gutter-width/2;
        right: auto;
        border-bottom-color: $brand-danger;
        border-right-color: transparent;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .cta-type-newsletter-strip {
    .form-group {
      margin-bottom: 0;
    }
  }
}
