.cta-type-experience-submit-banner {
  .visual {
    padding: 150px $spacing-horizontal-xs;
    position: relative;
    display: flex;
    flex-direction: column;

    .visual-preload {
      &:after {
        @include image-overlay($image-overlay-dark);
      }
    }

    header {
      padding: $spacing-vertical-sm 0 $spacing-vertical-sm;
      width: 100%;
      z-index: 1;

      h1 {
        margin: 0;
        padding: 0;
        font-size: $font-size-h2;
        text-align: center;
        color: #fff;
      }
    }

    .btn-container {
      z-index: 1;
      text-align:center;
    }
  }
}

#experience-event-create {
  .modal {
    .modal-dialog {
      max-width: 500px;
      text-align: center;
      font-family: $headings-font-family;
    }

    .modal-header {
      display: none;
    }

    #experience-event-create-modal {
      padding: $spacing-vertical-sm $spacing-horizontal-sm;
    }

    .btn-container {
      margin-bottom: 0;
    }
  }
}


@media scren and (max-width: $screen-md-max) {
  .cta-type-experience-submit-banner {
    .visual {
      padding: 75px $spacing-horizontal-xs;
    }
  }
}

@media screen and (max-width: $screen-xs-min) {
  #experience-event-create {
    .modal {
      #experience-event-create-modal {
        padding: $spacing-vertical-xs 0;
      }
    }
  }
}
