body .container.cta-type-advertisement-banner {
  padding: $spacing-vertical-sm 0 0;

  .inner.container {
    padding: 0;
    background-color: $gray-lighter;
  }

  a {
    margin: 0 auto;
    display: block;
    max-width: $cta-advert-banner-width;
    height: $cta-advert-banner-height;
    color: #fff;

    &:active, &:visited, &:hover, &:focus {
      color: #fff;

      .btn-primary {
        @extend .btn-primary:hover;
      }
    }

    .visual {
      margin: 0;
      width: 100%;
      height: $cta-advert-banner-height;
      display: block;
      position: relative;

      .visual-preload {
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &:after {
          @include image-overlay($image-overlay-dark);
        }
      }

      .content {
        margin: 0;
        height: $cta-advert-banner-height;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        > div {
          margin: auto;
        }

        h3 {
          margin: 0;
          padding: 0;
          font-size: $font-size-base;
        }

        p {
          margin: 0;
          padding: 0;
          font-size: $font-size-base;
          font-style: italic;
        }
      }
    }
  }
}

@media screen and (max-width: $cta-advert-banner-width) {
  body .container.cta-type-advertisement-banner {
    display: none;
  }
}
