.cta-imagelink {
  margin-bottom: $grid-gutter-width;

  .visual {
    padding-bottom: 132%;
    position: relative;
    overflow: hidden;

    .visual-preload {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transform: scale($preview-scale-base);
      @include transition(all $transition-speed-base $transition-type-default);

      &:after {
        @include image-overlay($image-overlay-dark);
      }
    }

    header {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: flex-start;

      h4 {
        margin: auto;
        height: $font-size-h4;
        padding: 0 $grid-gutter-width/2;
        text-align: center;
      }
    }
  }

  a {
    color: #fff;

    &:hover {
      .visual {
        .visual-preload {
          transform: scale($preview-scale-hover);
        }
      }
    }
  }
}
