body .container.cta-banner, .cta-banner {
  padding: $spacing-vertical-sm 0 $spacing-vertical-xs;

  .inner.container {
    padding: 0;
    background-color: $gray-lighter;

    .visual {
      padding: $spacing-horizontal-md $spacing-horizontal-md;
      position: relative;
      color: #fff;
      text-align: center;
      background-color: $gray-base;

      .visual-preload {
        &:after {
          @include image-overlay($image-overlay-dark);
        }
      }

      h4 {
        margin-top: 0;
        font-size: $font-size-h2;
      }

      p {
        padding-left: $padding-large-horizontal;
        font-size: $font-size-small;
        font-style: italic;
        text-align: left;
      }

      input {
        font-style: italic;
        font-size: $font-size-base;
        color: $text-color;
        border-color: $input-bg;
        box-shadow: none;
      }
    }
  }

  .selectize-control.single {
    height: 53px;

    .selectize-input {
      padding: $padding-large-vertical $padding-large-horizontal;
      height: 53px;
      border-color: $input-bg;
      box-shadow: none;
      @include border-radius(0);

      input {
        padding-top: 2px !important;
      }

      .item {
        padding-top: 2px !important;
        font-style: italic;
        font-size: $font-size-base;
        color: $text-color;
        line-height: 1.33;
      }

      &:after {
        border: none;
        width: 16px;
        height: 8px;
        background-image: url('./../../../static/img/icon-chevron.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px 8px;
        @include transition(all $transition-speed-base $transition-type-default);
      }

      &.dropdown-active {
        &:after {
          @include rotate(180deg);
        }
      }
    }

    .selectize-dropdown {
      border: none;
      font-family: $headings-font-family;
      font-size: $font-size-xsmall;
      @include border-radius(0);

      .selectize-dropdown-content {
        padding-top: 8px;

        .optgroup-header, .option {
          padding: 8px $padding-large-horizontal;
        }
      }
    }
  }

  .date-picker-container {
    .row {
      > div {
        &:first-of-type {
          padding-right: $grid-gutter-width/4;
        }

        &:last-of-type {
          padding-left: $grid-gutter-width/4;
        }
      }
    }
  }
}

body .container.cta-banner + .section-inverse, .cta-banner + .section-inverse {
  margin-top: -$spacing-vertical-xs;
}

.cta-type-event-search-banner {
  .btn-container {
    display: flex;
    justify-content: space-between;

    a, button {
      width: 40%;
    }

    span {
      line-height: 48px;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  body .container.cta-banner, .cta-banner {
    .inner.container {
      .visual {
        padding-left: $spacing-horizontal-xs;
        padding-right: $spacing-horizontal-xs;
      }
    }
  }

  .cta-type-event-search-banner {
    .btn-container {
      a, button {
        width: 45%;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min) {
  body .container.cta-banner, .cta-banner {
    .date-picker-container {
      .row {
        > div {
          width: 100%;

          &:first-of-type {
            margin-bottom: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
          }

          &:last-of-type {
            padding-left: $grid-gutter-width/2;
          }
        }
      }
    }
  }

  .cta-type-event-search-banner {
    .btn-container {
      flex-direction: column;

      a, button {
        width: 100%;
      }
    }
  }
}
