<template>
<div :id="id" class="accordion" v-if="hasItems">
  <div class="row">
    <div v-for="(containerItems, containerIndex) in containerOfItems"
      :class="containerClasses">
      <div class="panel-group" role="tablist">
        <div class="panel panel-default" v-for="(item, itemIndex) in containerItems">
          <div class="panel-heading" role="tab"
            :id="itemHeadingID(containerIndex, itemIndex)">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" aria-expanded="true"
                :aria-controls="itemContentID(containerIndex, itemIndex)"
                :href="'#' + itemContentID(containerIndex, itemIndex)"
                :data-parent="'#' + id">
                {{ item.title }}
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" role="tabpanel"
            :area-labelledby="itemHeadingID(containerIndex, itemIndex)"
            :id="itemContentID(containerIndex, itemIndex)">
            <div class="panel-body" v-html="item.content"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash';
import AccordionValidator from './../validators/AccordionValidator';

export default {
  name: 'accordion',
  props: {
    columns: {
      type: Number,
      required: false
    },
    items: {
      type: Array,
      required: true,
      validator: function(value) {
        return AccordionValidator.validate(value);
      }
    }
  },
  data() {
    return {
      id: null
    }
  },
  mounted() {
    this.id = 'accordion-' + this._uid;
  },
  methods: {
    itemContentID(columIndex, itemIndex) {
      return this.id + '-' + columIndex + '-' + itemIndex + '-content';
    },
    itemHeadingID(columIndex, itemIndex) {
      return this.id + '-' + columIndex + '-' + itemIndex + '-heading';
    }
  },
  computed: {
    containerClasses() {
      return {
        'col-sm-6': this.numberOfColumns == 2,
        'col-sm-12': this.numberOfColumns == 1
      }
    },
    containerOfItems() {
      if (!this.hasItems) {
        return [];
      }

      var container = { column1: [] };

      if (this.numberOfColumns == 1) {
        container.column1 = this.items;
      } else {
        container.column2 = [];

        _.forEach(this.items, function(value, index) {
          if (Math.abs((index + 1) % 2) == 1) {
            container.column1.push(value);
          } else {
            container.column2.push(value);
          }
        });
      }

      return container;
    },
    numberOfColumns() {
      return this.columns == 2 ? 2 : 1;
    },
    hasItems() {
      return this.items.length > 0;
    }
  }
}
</script>
