<template>
<div></div>
</template>

<script>
// Quick and easy way to get scss used with Vue + Webpack
export default {
  name: 'admin'
}
</script>

<style lang="scss">
@import './../../scss/admin';
</style>
