<template>
<div class="visual" :id="uniqueID">
  <span class="visual-preload" :style="{ 'background-image': 'url(' + current + ')'}"></span>
  <slot></slot>
</div>
</template>

<script>
/**
 * ToDo: Implement load on-scroll to prevent loading a ton of potentially unwanted images
 * that also prevents JS from doing it's thing properly. http://dinbror.dk/blazy/examples
 */
export default {
  name: 'blurry-background-image',
  props: {
    id: {
      type: String,
      required: false,
      default: ''
    },
    initial: {
      type: String,
      required: false,
      default: ''
    },
    full: {
      type: String,
      required: false,
      default: ''
    }
  },
  mounted() {
    this.uniqueID = 'blurry-image-' + this.id + '-' + this._uid;
    this.current = this.initial;
    setTimeout(this.preloadImage, 100);
  },
  data() {
    return {
      current: '',
      uniqueID: ''
    }
  },
  methods: {
    preloadImage() {
      var _this = this;
      var image = new Image();

      image.src = this.full;
      this.applyStyleToClonedSlickCarouselItems();

      image.onload = function() {
        this.current = this.full;
        setTimeout(this.applyStyleToClonedSlickCarouselItems(), 50);
      }.bind(this);
    },

    /**
     * We need to update the Slick carousel if applicable.
     *
     * Initially, the Slick carousel loads and the cloned items don't get
     * their background set because Slick simply copies the html. It doesn't
     * work because they're VueJS items.
     *
     *  - If this is the first item of a Slick carousel, set the src of the
     *    first cloned item to match the initial src.
     *  - If this is the last item of a Slick carousel, set the src of the
     *    last cloned item to match the initial src.
     *  - Once the full size image has preloaded, we need to repeat.
     */
    applyStyleToClonedSlickCarouselItems() {
      let element = jQuery('#' + this.uniqueID)
      let slickTrack = element.parents('.slick-track');

      if (slickTrack.length === 1) {
        let clonedFirstItem = slickTrack.find('.carousel-item:first-of-type');
        let clonedFirstItemIndex = Number(clonedFirstItem.attr('data-slick-index'));

        let clonedLastItem = slickTrack.find('.carousel-item:last-of-type');
        let clonedLastItemIndex = Number(clonedLastItem.attr('data-slick-index'));

        let thisItem = element.parents('.carousel-item');
        var thisIndex = Number(thisItem.attr('data-slick-index'));

        // First element, so set the last cloned item
        if (thisIndex === clonedFirstItemIndex + 1) {
          clonedLastItem
            .find('.visual-preload')
            .attr('style', 'background-image: url(' + this.current + ');');
        }

        // Last element, so set the first cloned item
        if (thisIndex === clonedLastItemIndex - 1) {
          clonedFirstItem
            .find('.visual-preload')
            .attr('style', 'background-image: url(' + this.current + ');');
        }
      }
    }
  }
}
</script>
