<template>
<div :id="uniqueID" class="carousel-large" :class="carouselClasses" v-if="hasItems">
  <section-header v-if="hasTitle"
    :title="title">
  </section-header>
  <carousel-navigation class="visible-xs visible-sm carousel-mobile-nav"
    :currentSlide="currentSlide"
    :totalSlides="totalSlides"
    @next="nextSlide"
    @prev="prevSlide">
  </carousel-navigation>
  <div class="carousel-inner">
    <div class="carousel-visual-title" v-if="!showContent"
      :id="visualTitleUniqueID">
      <slick :ref="visualTitleUniqueID"
        :options="slickLargeVisualTitleOptions">
        <div v-for="(item, index) in items">
          {{ item.title }}
        </div>
      </slick>
    </div>
    <div class="carousel-visual"
      :id="visualUniqueID">
      <slick :ref="visualUniqueID"
        :options="slickLargeVisualOptions"
        @swipe="slickSwipe"
        @afterChange="slickAfterChange"
        @beforeChange="slickBeforeChange">
        <div v-for="(item, index) in items">
          <div class="copyright" v-if="isValidCopyright(item.copyright)">
            <a :href="item.copyrighturl" v-if="isValidCopyrightUrl(item.copyrighturl)"
              target="_blank">
              {{ item.copyright }}
            </a>
            <span v-if="!isValidCopyrightUrl(item.copyrighturl)">
              {{ item.copyright }}
            </span>
          </div>
          <a class="visual" v-if="isValidUrl(item.url)"
            :href="item.url"
            :style="{ 'background-image': 'url(' + item.imagefull + ')'}">
          </a>
          <div class="visual" v-if="!isValidUrl(item.url)"
            :style="{ 'background-image': 'url(' + item.imagefull + ')'}">
          </div>
        </div>
      </slick>
    </div>
    <div class="carousel-content" v-if="showContent"
      :id="contentUniqueID">
      <slick :ref="contentUniqueID"
        :options="slickLargeContentOptions"
        @afterChange="slickAfterChange"
        @beforeChange="slickBeforeChange"
        @init="slickInit"
        @reInit="slickReInit">
        <div v-for="(item, index) in items">
          <a :href="item.url" v-if="isValidUrl(item.url)">
            <h3 class="title">{{ item.title }}</h3>
            <div class="blurb">
              <p v-html="item.body"></p>
            </div>
          </a>
          <div v-if="!isValidUrl(item.url)">
            <h3 class="title">{{ item.title }}</h3>
            <div class="blurb">
              <p v-html="item.body"></p>
            </div>
          </div>
          <div class="read-less">
            <span class="btn">{{ readLess }}</span>
          </div>
          <div class="read-more">
            <span class="btn">{{ readMore }}</span>
          </div>
        </div>
      </slick>
      <carousel-navigation
        :currentSlide="currentSlide"
        :totalSlides="totalSlides"
        @next="nextSlide"
        @prev="prevSlide">
      </carousel-navigation>
    </div>
  </div>
  <div v-if="showThumbnails">
    <carousel-large-thumbs
      :items="items"
      :parentSlideIndex="Number(currentSlide - 1)"
      @slideWasClicked="thumbnailSlideWasClicked">
    </carousel-large-thumbs>
  </div>
</div>
</template>

<script>
import _ from 'lodash';
import CarouselNavigation from './CarouselNavigation.vue';
import CarouselLargeThumbs from './CarouselLargeThumbs.vue';
import jQuery from 'jquery';
import Shave from 'shave';
import Slick from 'vue-slick';

export default {
  name: 'carousel-large',
  components: {
    CarouselNavigation,
    CarouselLargeThumbs,
    Slick
  },
  props: {
    id: {
      type: String,
      required: false,
      default: 'carousel-large'
    },
    items: {
      type: Array,
      required: true
    },
    showContent: {
      type: Boolean,
      required: false,
      default: true
    },
    showThumbnails: {
      type: Boolean,
      required: false,
      default: false
    },
    slideIndex: {
      type: Number,
      required: false,
      default: null
    },
    title: {
      type: String,
      required: false,
      default: null
    }
  },
  mounted() {
    this.totalSlides = this.items.length;

    window.EventBus.$on('tabWasSelected', function (key) {
      setTimeout(function () {
        if (jQuery('#' + this.uniqueID + ':visible').length == 1) {
          this.reSlickAll();
        }
      }.bind(this), 50);
    }.bind(this));

    this.setupEllipsis();
  },
  data() {
    return {
      currentSlide: 1,
      currentContentHeight: 100,
      contentIsExpanded: false,
      contentIsExpanding: false,
      slickLargeContentOptions: {
        accessibility: false,
        arrows: false,
        autoplay: false,
        fade: true,
        infinite: true,
        slidesToShow: 1,
        swipe: false
      },
      slickLargeVisualOptions: {
        accessibility: false,
        arrows: false,
        autoplay: false,
        infinite: true,
        slidesToShow: 1,
        swipe: true
      },
      slickLargeVisualTitleOptions: {
        accessibility: false,
        arrows: false,
        autoplay: false,
        fade: true,
        infinite: true,
        slidesToShow: 1,
        swipe: false
      },
      totalSlides: 1
    };
  },
  methods: {
    applyEllipsis() {
      let windowWidth = Number(jQuery(window).width() + 15);
      let height = 100;

      if (windowWidth >= 1570) {
        height = 375;
      } else if (windowWidth > 1200 && windowWidth < 1570) {
        height = 250;
      } else if (windowWidth > 992 && windowWidth < 1200) {
        height = 130;
      } else if (windowWidth < 991) {
        height = 500;
      }

      // if (this.currentContentHeight != height) {
        this.currentContentHeight = height;

        setTimeout(function() {
          jQuery('#' + this.uniqueID + ' .carousel-content .blurb').each(function () {
            let element = jQuery(this);
            let positionFromTop = element.position().top;
            let offsetSingleHeader = element.parents('.slick-slide').find('.title').outerHeight();
            let offsetOfLargeHeading = positionFromTop - offsetSingleHeader;

            Shave(element, Number(height + offsetOfLargeHeading));

            setTimeout(function () {
              if (element.find('.js-shave-char').length > 0) {
                element.parents('.slick-slide').addClass('content-shaved');
              } else {
                element.parents('.slick-slide').removeClass('content-shaved');
              }
            }, 50);
          });
        }.bind(this), 50);
      // }
    },
    goToSlide(index) {
      if (_.isUndefined(this.items[index]) || _.isNull(index)) {
        return;
      }

      if (!_.isUndefined(this.$refs[this.contentUniqueID])) {
        this.$refs[this.contentUniqueID].goTo(index);
      }

      if (!_.isUndefined(this.$refs[this.visualTitleUniqueID])) {
        this.$refs[this.visualTitleUniqueID].goTo(index);
      }

      this.$refs[this.visualUniqueID].goTo(index);
    },
    isValidCopyright(string) {
      return string != '';
    },
    isValidCopyrightUrl(url) {
      return this.isValidUrl(url);
    },
    isValidUrl(url) {
      return url != '#' && url != '';
    },
    nextSlide() {
      if (!_.isUndefined(this.$refs[this.contentUniqueID])) {
        this.$refs[this.contentUniqueID].next();
      }

      if (!_.isUndefined(this.$refs[this.visualTitleUniqueID])) {
        this.$refs[this.visualTitleUniqueID].next();
      }

      this.$refs[this.visualUniqueID].next();
    },
    prevSlide() {
      if (!_.isUndefined(this.$refs[this.contentUniqueID])) {
        this.$refs[this.contentUniqueID].prev();
      }

      if (!_.isUndefined(this.$refs[this.visualTitleUniqueID])) {
        this.$refs[this.visualTitleUniqueID].prev();
      }

      this.$refs[this.visualUniqueID].prev();
    },
    reSlickAll() {
      if (!_.isUndefined(this.$refs[this.contentUniqueID])) {
        this.$refs[this.contentUniqueID].reSlick();
      }

      if (!_.isUndefined(this.$refs[this.visualTitleUniqueID])) {
        this.$refs[this.visualTitleUniqueID].reSlick();
      }

      this.$refs[this.visualUniqueID].reSlick();
      this.applyEllipsis();
    },
    setupEllipsis() {
      jQuery(window).on('resize', function() {
        this.applyEllipsis();
      }.bind(this));

      jQuery('#' + this.uniqueID + ' .carousel-content').on('click', '.read-more', function() {
        this.contentIsExpanded = true;
      }.bind(this));

      jQuery('#' + this.uniqueID + ' .carousel-content').on('click', '.read-less', function() {
        this.contentIsExpanded = false;
      }.bind(this));
    },
    slickAfterChange(event, slick, slideIndex) {
      this.$emit('slideWasChanged', this.items[slideIndex]);
    },
    slickBeforeChange(event, slick, currentSlide, nextSlide) {
      this.currentSlide = nextSlide + 1;
    },
    slickSwipe(event, slick, direction) {
      if (direction === 'right') {
        this.prevSlide()
      } else {
        this.nextSlide()
      }
    },
    slickInit(event, slick) {
      this.applyEllipsis();
    },
    slickReInit(event, slick) {
      this.applyEllipsis();
    },
    thumbnailSlideWasClicked(index) {
      this.goToSlide(index);
    }
  },
  computed: {
    carouselClasses() {
      return {
        'has-title': this.hasTitle,
        'has-content': this.showContent,
        'has-thumbnails': this.showThumbnails,
        'content-open': this.contentIsExpanded,
        'content-opening': this.contentIsExpanded && this.contentIsExpanding,
        'content-closing': !this.contentIsExpanded && this.contentIsExpanding,
      };
    },
    contentUniqueID() {
      return this.uniqueID + '-content';
    },
    hasItems() {
      return _.isArray(this.items) && this.items.length > 0;
    },
    hasTitle() {
      return !_.isUndefined(this.title) && !_.isEmpty(this.title);
    },
    uniqueID() {
      return this.id + '-' + this._uid;
    },
    readLess() {
      return VisitEuropeLocales.carousel.readLess;
    },
    readMore() {
      return VisitEuropeLocales.carousel.readMore;
    },
    visualUniqueID() {
      return this.uniqueID + '-visual';
    },
    visualTitleUniqueID() {
      return this.uniqueID + '-visual-title';
    }
  },
  watch: {
    contentIsExpanded: function(newValue) {
      this.contentIsExpanding = true;

      setTimeout(function() {
        if (!_.isUndefined(this.$refs[this.contentUniqueID])) {
          this.$refs[this.contentUniqueID].reSlick();

          // Re-slicking resets the slideIndex to 0
          if (this.currentSlide > 1) {
            this.$refs[this.contentUniqueID].goTo(this.currentSlide - 1, true);
          }
        }

        this.applyEllipsis();
      }.bind(this), 300);

      setTimeout(function () {
        this.contentIsExpanding = false;
      }.bind(this), 500);
    },
    slideIndex: function(newValue) {
      this.goToSlide(newValue);
    }
  }
}
</script>
