<template>
<div :id="uniqueID" class="carousel-mini">
  <carousel-navigation
    :currentSlide="currentSlide"
    :totalSlides="totalSlides"
    @next="nextSlide"
    @prev="prevSlide">
  </carousel-navigation>
  <slick :ref="uniqueSlickID"
    :options="slickOptions"
    @afterChange="slickAfterChange"
    @beforeChange="slickBeforeChange">
    <slot></slot>
  </slick>
</div>
</template>

<script>
import _ from 'lodash';
import CarouselNavigation from './CarouselNavigation.vue';
import Slick from 'vue-slick';

export default {
  name: 'carousel-mini',
  components: {
    CarouselNavigation,
    Slick
  },
  props: {
    id: {
      type: String,
      required: false,
      default: 'carousel-mini'
    },
    items: {
      type: Array,
      required: true
    },
    slideIndex: {
      type: Number,
      required: false,
      default: null
    }
  },
  mounted() {
    this.totalSlides = this.items.length;

    if (!_.isNull(this.slideIndex) && !_.isUndefined(this.items[this.slideIndex])) {
      this.goToSlide(this.slideIndex);
    }
  },
  data() {
    return {
      currentSlide: 1,
      slickOptions: {
        accessibility: false,
        arrows: false,
        autoplay: false,
        infinite: true,
        slidesToShow: 1,
        swipe: false
      },
      totalSlides: 1,
      isManuallyNavigating: false,
    };
  },
  methods: {
    goToSlide(index) {
      if (_.isUndefined(this.items[index]) || _.isNull(index)) {
        return;
      }

      this.$refs[this.uniqueSlickID].goTo(index);
    },
    nextSlide() {
      this.isManuallyNavigating = true;
      this.$refs[this.uniqueSlickID].next();
    },
    prevSlide() {
      this.isManuallyNavigating = true;
      this.$refs[this.uniqueSlickID].prev();
    },
    slickAfterChange(event, slick, slideIndex) {
      if (this.isManuallyNavigating) {
        this.$emit('slideWasChangedManually', this.items[slideIndex]);
        this.isManuallyNavigating = false;
      }
    },
    slickBeforeChange(event, slick, currentSlide, nextSlide) {
      this.currentSlide = nextSlide + 1;
    }
  },
  computed: {
    uniqueID() {
      return this.id + '-' + this._uid;
    },
    uniqueSlickID() {
      return this.uniqueID + '-SlickMini';
    }
  },
  watch: {
    slideIndex: function(newValue) {
      this.goToSlide(newValue);
    }
  }
}
</script>
