<template>
<div :id="uniqueID" class="carousel-large-thumbs">
  <div class="carousel-inner">
    <div class="carousel-visual">
      <slick ref="slickLargeThumbs"
        :options="slickOptions">
        <div v-for="(item, index) in items">
          <a href="#" @click.prevent="slideWasClicked(index)"
            :class="{ active: isSlideActive(index) }">
            <blurry-background-image
              :initial="item.imageinitial"
              :full="item.imagefull">
            </blurry-background-image>
          </a>
        </div>
      </slick>
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash';
import CarouselNavigation from './CarouselNavigation.vue';
import Slick from 'vue-slick';

export default {
  name: 'carousel-large-thumbs',
  components: {
    CarouselNavigation,
    Slick
  },
  props: {
    id: {
      type: String,
      required: false,
      default: 'carousel-large-thumbs'
    },
    items: {
      type: Array,
      required: true
    },
    parentSlideIndex: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      activeSlideIndex: 0,
      slickOptions: {
        arrows: true,
        autoplay: false,
        infinite: false,
        slidesToShow: 5,
        slidesToScroll: 5,
        responsive: [
          {
            breakpoint: 1200,
            settings: {
              arrows: true,
              autoplay: false,
              infinite: false,
              slidesToShow: 4,
              slidesToScroll: 4,
            }
          },
          {
            breakpoint: 768,
            settings: {
              arrows: true,
              autoplay: false,
              infinite: false,
              slidesToShow: 3,
              slidesToScroll: 3,
            }
          }
        ]
      }
    };
  },
  methods: {
    goToSlide(index) {
      if (_.isUndefined(this.items[index]) || _.isNull(index)) {
        return;
      }

      this.activeSlideIndex = index
      this.$refs.slickLargeThumbs.goTo(index);
    },
    isSlideActive(index) {
      return this.activeSlideIndex == index;
    },
    nextSlide() {
      this.$refs.slickLargeThumbs.next();
    },
    prevSlide() {
      this.$refs.slickLargeThumbs.prev();
    },
    slideWasClicked(index) {
      this.$emit('slideWasClicked', index);
      this.activeSlideIndex = index;
    }
  },
  computed: {
    uniqueID() {
      return this.id + '-' + this._uid;
    }
  },
  watch: {
    parentSlideIndex: function(newValue) {
      if (newValue != this.activeSlideIndex) {
        this.goToSlide(newValue);
      }
    }
  }
}
</script>
