<template>
<div :id="uniqueID" class="carousel-header">
  <slick ref="slick"
    :options="slickOptions"
    @beforeChange="slickBeforeChange">
    <slot></slot>
  </slick>
</div>
</template>

<script>
import _ from 'lodash';
import Slick from 'vue-slick';

export default {
  name: 'carousel-header',
  components: {
    Slick
  },
  data() {
    return {
      currentSlide: 1,
      slickOptions: {
        arrows: false,
        autoplay: false,
        dots: true,
        fade: true,
        infinite: true,
        slidesToShow: 1
      }
    };
  },
  methods: {
    nextSlide() {
      this.$refs.slick.next();
    },
    prevSlide() {
      this.$refs.slick.prev();
    },
    slickBeforeChange(event, slick, currentSlide, nextSlide) {
      this.currentSlide = nextSlide + 1;
    }
  },
  computed: {
    uniqueID() {
      return 'carousel-header-' + this._uid;
    }
  }
}
</script>
