<template>
<div class="carousel-navigation">
  <a href="#" @click.prevent="prev()" class="prev" >&lt;</a>
  <span class="slide-current">{{ currentSlide }}</span>
  <span class="slide-separator">/</span>
  <span class="slide-total">{{ totalSlides }}</span>
  <a href="#" @click.prevent="next()" class="next">&gt;</a>
</div>
</template>

<script>
  export default {
    name: 'carousel-navigation',
    data() {
      return {}
    },
    props: {
      currentSlide: {
        type: Number,
        default: 1
      },
      totalSlides: {
        type: Number,
        required: true
      }
    },
    methods: {
      next() {
        this.$emit('next');
      },
      prev() {
        this.$emit('prev');
      }
    }
  }
</script>
