<template>
<blurry-background-image
  :initial="computedImageInitial"
  :full="computedImageFull">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4>{{ title }}</h4>
      <form :action="searchUrl" method="GET" @submit.prevent="validateAndSubmit">
        <div class="form-group">
          <multiselect
            v-model="type"
            track-by="key"
            label="title"
            :placeholder="this.locale.typePlaceholder"
            :options="types"
            :searchable="false"
            :allow-empty="true"
            :show-labels="false">
          </multiselect>
        </div>
        <div class="form-group" v-if="hasActiveInterests">
          <multiselect
            v-model="interest"
            track-by="key"
            label="title"
            :placeholder="this.locale.interestPlaceholder"
            :options="interests"
            :searchable="false"
            :allow-empty="true"
            :show-labels="false"
            :max-height="350">
            <template slot="option" scope="props">
              <img class="option__image" :src="props.option.icon" alt="">
              <div class="option__desc">
                <span class="option__title">{{ props.option.title }}</span>
              </div>
            </template>
          </multiselect>
        </div>
        <div class="form-group">
          <multiselect
            v-model="destination"
            group-values="items"
            group-label="title"
            track-by="key"
            label="title"
            :placeholder="this.locale.destinationPlaceholder"
            :options="destinations"
            :searchable="false"
            :allow-empty="true"
            :show-labels="false">
          </multiselect>
        </div>
        <div class="btn-container">
          <button class="btn btn-primary btn-lg" type="submit">
            {{ button }}
          </button>
        </div>
      </form>
    </div>
  </div>
</blurry-background-image>
</template>

<script>
import _ from 'lodash';
import { numeric } from 'vuelidate/lib/validators';
import FormValidator from './../validators/FormValidator';
import InterestGroupsValidator from './../validators/InterestGroupsValidator';
import Multiselect from 'vue-multiselect';
import Validator from './../validators/Validator';

export default {
  name: 'cta-experience-search-banner',
  components: {
    Multiselect
  },
  props: {
    countries: {
      type: Array,
      required: true,
      validator: function(value) {
        return Validator.isArrayWithKeyAndTitle(value);
      }
    },
    imageInitial: {
      type: String,
      required: false,
      default: ''
    },
    imageFull: {
      type: String,
      required: false,
      default: ''
    },
    interests: {
      type: Array,
      required: true,
      validator: function(value) {
        return InterestGroupsValidator.validateForDropdown(value);
      }
    },
    regions: {
      type: Array,
      required: true,
      validator: function(value) {
        return Validator.isArrayWithKeyAndTitle(value);
      }
    },
    types: {
      type: Array,
      required: true,
      validator: function(value) {
        return Validator.isArrayWithKeyAndTitle(value);
      }
    }
  },
  data() {
    let locale = VisitEuropeLocales.cta.experienceSearchBanner;

    return {
      activeInterests: [],
      button: locale.button,
      destination: null,
      destinationGroupCountry: locale.destinationGroupCountry,
      destinationGroupRegion: locale.destinationGroupRegion,
      interest: null,
      locale: locale,
      searchUrl: VisitEuropeUrls.pages.experiencesSearch,
      title: locale.title,
      type: null,
    }
  },
  mounted() {
    this.updateActiveInterests(this.type);
  },
  methods: {
    updateActiveInterests(type) {
      if (!_.isNull(type)) {
        this.activeInterests = _.filter(this.interests, function(interest) {
          return _.indexOf(interest.types, type.key) != -1;
        });
      } else {
        this.activeInterests = this.interests;
      }

      if (!_.isArray(this.activeInterests) || this.activeInterests.length == 0) {
        this.interest = null;
      }
    },
    validateAndSubmit() {
      this.$v.$touch();

      if (FormValidator.isValid(this.$v)) {
        let type = _.kebabCase(!_.isNull(this.type) ? this.type.key : '');
        let interest = _.kebabCase(!_.isNull(this.interest) ? this.interest.key : '');
        let destination = !_.isNull(this.destination) ? this.destination.key : '';

        window.EventBus.$emit('experienceSearchBannerWasSubmitted', type, interest, destination);
      }
    }
  },
  validations: {
    destination: {},
    interest: {},
    type: {}
  },
  computed: {
    computedImageInitial() {
      if (_.isUndefined(this.imageInitial) || _.isEmpty(this.imageInitial)) {
        return this.locale.imageInitial;
      }

      return this.imageInitial;
    },
    computedImageFull() {
      if (_.isUndefined(this.imageFull) || _.isEmpty(this.imageInitial)) {
        return this.locale.imageFull;
      }

      return this.imageFull;
    },
    destinations() {
      return [
        {
          title: this.locale.destinationGroupCountry,
          items: _.values(this.countries)
        },
        {
          title: this.locale.destinationGroupRegion,
          items: _.values(this.regions)
        }
      ];
    },
    destinationError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'destination');
    },
    hasActiveInterests() {
      return _.isArray(this.activeInterests) && this.activeInterests.length > 0;
    },
    interestError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'interest');
    },
    showDestinationError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.destinationError);
    },
    showInterestError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.interestError);
    },
    showTypeError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.typeError);
    },
    typeError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'type');
    }
  },
  watch: {
    type: function(newValue) {
      this.updateActiveInterests(newValue);
    }
  }
}
</script>
