<template>
<blurry-background-image
  :initial="computedImageInitial"
  :full="computedImageFull">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <h4>{{ title }}</h4>
      <p>{{ subtitle }}</p>
      <form :action="searchUrl" method="GET" @submit.prevent="validateAndSubmit">
        <div class="form-group">
          <input type="text" class="form-control input-lg"
            v-model="searchTerm"
            :placeholder="searchTermPlaceholder">
          <div v-if="showSearchTermError" class="alert alert-danger">
            {{ searchTermError }}
          </div>
        </div>
        <div class="form-group">
          <multiselect track-by="key" label="title"
            v-model="destination"
            :placeholder="destinationPlaceholder"
            :options="destinations"
            :searchable="false"
            :allow-empty="true"
            :show-labels="false">
          </multiselect>
        </div>
        <div class="form-group date-picker-container">
          <div class="row">
            <div class="col-xs-6">
              <datepicker v-model="dateFromString"
                :bootstrap-styling="true"
                :clear-button="true"
                :language="language"
                :placeholder="dateFromPlaceholder">
              </datepicker>
              <div v-if="showDateFromError" class="alert alert-danger">
                {{ dateFromError }}
              </div>
            </div>
            <div class="col-xs-6">
              <datepicker v-model="dateToString"
                :bootstrap-styling="true"
                :clear-button="true"
                :language="language"
                :placeholder="dateToPlaceholder">
              </datepicker>
              <div v-if="showDateToError" class="alert alert-danger">
                {{ dateToError }}
              </div>
            </div>
          </div>
        </div>
        <div class="btn-container">
          <button class="btn btn-primary btn-lg btn-block" type="submit">
            {{ buttonSubmit }}
          </button>
          <span>{{ buttonSeparator }}</span>
          <a :href="externalUrl" target="_blank" class="btn btn-inverse btn-lg">
            {{ buttonExternal }}
          </a>
        </div>
      </form>
    </div>
  </div>
</blurry-background-image>
</template>

<script>
import _ from 'lodash';
import { numeric } from 'vuelidate/lib/validators';
import Datepicker from 'vuejs-datepicker';
import FormValidator from './../validators/FormValidator';
import Multiselect from 'vue-multiselect';
import Validator from './../validators/Validator';

let locale = VisitEuropeLocales.cta.eventSearchBanner;
let moment = require('moment');

export default {
  name: 'cta-event-search-banner',
  components: {
    Datepicker,
    Multiselect
  },
  props: {
    destinations: {
      type: Array,
      required: true,
      validator: function(value) {
        return Validator.isArrayWithKeyAndTitle(value);
      }
    },
    imageInitial: {
      type: String,
      required: false,
      default: ''
    },
    imageFull: {
      type: String,
      required: false,
      default: ''
    }
  },
  data() {
    return {
      buttonExternal: locale.buttonExternal,
      buttonSubmit: locale.buttonSubmit,
      buttonSeparator: locale.buttonSeparator,
      dateFromString: null,
      dateFromPlaceholder: locale.dateFromPlaceholder,
      dateToString: null,
      dateToPlaceholder: locale.dateToPlaceholder,
      destination: null,
      destinationPlaceholder: locale.destinationPlaceholder,
      externalUrl: VisitEuropeUrls.pages.eventsSearch,
      searchTerm: null,
      searchTermPlaceholder: locale.searchTermPlaceholder,
      searchUrl: VisitEuropeUrls.pages.eventsSearch,
      subtitle: locale.subtitle,
      title: locale.title
    }
  },
  methods: {
    validateAndSubmit() {
      this.$v.$touch();

      if (FormValidator.isValid(this.$v)) {
        let searchTerm = !_.isNull(this.searchTerm) ? this.searchTerm : '';
        let destination = !_.isNull(this.destination) ? this.destination.key : '';
        let dateFrom = !_.isNull(this.dateFrom) ? this.dateFrom : '';
        let dateTo = !_.isNull(this.dateTo) ? this.dateTo : '';

        window.EventBus.$emit('eventSearchBannerWasSubmitted', searchTerm, destination, dateFrom, dateTo);
      }
    },
  },
  validations: {
    dateFrom: {},
    dateTo: {},
    destination: {},
    searchTerm: {}
  },
  computed: {
    computedImageInitial() {
      if (_.isUndefined(this.imageInitial) || _.isEmpty(this.imageInitial)) {
        return locale.imageInitial;
      }

      return this.imageInitial;
    },
    computedImageFull() {
      if (_.isUndefined(this.imageFull) || _.isEmpty(this.imageInitial)) {
        return locale.imageFull;
      }

      return this.imageFull;
    },
    dateFrom() {
      if (_.isNull(this.dateFromString)) {
        return null;
      }

      return moment(this.dateFromString).format('YYYY-MM-DD');
    },
    dateFromError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'dateFrom');
    },
    dateTo() {
      if (_.isNull(this.dateToString)) {
        return null;
      }

      return moment(this.dateToString).format('YYYY-MM-DD');
    },
    dateToError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'dateTo');
    },
    destinationError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'destination');
    },
    language() {
      return VisitEuropeLocales.key;
    },
    searchTermError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'searchTerm');
    },
    showDateFromError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.dateFromError);
    },
    showDateToError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.dateToError);
    },
    showDestinationError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.destinationError);
    },
    showSearchTermError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.searchTermError);
    }
  }
}
</script>
