<template>
<blurry-background-image
  :class="{ loading: loading }"
  :initial="computedImageInitial"
  :full="computedImageFull">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4>{{ title }}</h4>
      <p>{{ subtitle }}</p>
      <form @submit.prevent="validateAndSubmit">
        <div class="form-group" :class="{ 'has-error': hasEmailError }">
          <input type="text" name="email" class="form-control" autocomplete="disabled"
            :placeholder="placeholder"
            v-model.lazy="email"
            @blur="$v.email.$touch()">
          <div v-if="hasFormErrors" class="inline-form-error">
            <div>{{ formErrors }}</div>
          </div>
        </div>
        <div class="btn-container">
          <div class="row">
            <div class="col-sm-5">
              <button class="btn btn-primary btn-block" type="submit"
                v-html="buttonSubmitHtml">
              </button>
            </div>
            <div class="col-sm-2">
              {{ buttonSeparator }}
            </div>
            <div class="col-sm-5">
              <a :href="externalUrl" target="_blank" class="btn btn-default btn-block">
                {{ buttonExternal }}
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</blurry-background-image>
</template>

<script>
import _ from 'lodash';
import { required, email } from 'vuelidate/lib/validators';
import FormValidator from './../validators/FormValidator';
import VisitEuropeApi from './../VisitEuropeApi';

let locale = VisitEuropeLocales.cta.newsletterBanner;

export default {
  name: 'cta-newsletter-banner',
  props: {
    imageInitial: {
      type: String,
      required: false,
      default: ''
    },
    imageFull: {
      type: String,
      required: false,
      default: ''
    }
  },
  data() {
    return {
      buttonSubmit: locale.buttonSubmit,
      buttonSeparator: locale.buttonSeparator,
      buttonExternal: locale.buttonExternal,
      email: '',
      externalUrl: VisitEuropeUrls.base + 'magazine',
      formError: null,
      loading: false,
      placeholder: locale.placeholder,
      subtitle: locale.subtitle,
      title: locale.title
    }
  },
  methods: {
    handleSuccessResponse(response) {
      this.loading = false;
      window.EventBus.$emit('newsletterBannerWasSubmitted', this.email);
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.validateAndSubmit, this.handleErrorResponse)
      } else {
        this.loading = false;
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
      }
    },
    validateAndSubmit() {
      this.$v.$touch();
      this.loading = true;

      if (FormValidator.isValid(this.$v)) {
        VisitEuropeApi.postNewsletterSubscription(this.email)
          .then(response => {
            this.handleSuccessResponse(response);
          }, response => {
            this.handleErrorResponse(response);
          });

        return;
      } else {
        this.loading = false;
      }
    }
  },
  validations: {
    email: {
      required,
      email
    }
  },
  computed: {
    buttonSubmitHtml() {
      if (this.loading) {
        return '<span class="loading-icon"></span>';
      }

      return this.buttonSubmit;
    },
    computedImageInitial() {
      if (_.isUndefined(this.imageInitial) || _.isEmpty(this.imageInitial)) {
        return locale.imageInitial;
      }

      return this.imageInitial;
    },
    computedImageFull() {
      if (_.isUndefined(this.imageFull) || _.isEmpty(this.imageInitial)) {
        return locale.imageFull;
      }

      return this.imageFull;
    },
    emailError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'email');
    },
    formErrors() {
      var errors = [];

      if (!_.isNull(this.formError)) { errors.push(this.formError); }
      if (this.hasEmailError) { errors.push(this.emailError); }

      return errors.join(' ');
    },
    hasEmailError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.emailError);
    },
    hasFormErrors() {
      return !_.isEmpty(this.formErrors);
    }
  }
}
</script>
