<template>
<form @submit.prevent="validateAndSubmit" :class="{ loading: loading }">
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <h4>{{ title }}</h4>
      <p>{{ subtitle }}</p>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="form-group" :class="{ 'has-error': hasEmailError }">
        <input type="text" name="email" class="form-control input-lg" autocomplete="disabled"
          :placeholder="placeholder"
          v-model.lazy="email"
          @blur="emailFieldWasBlurred">
        <div v-if="hasFormErrors" class="inline-form-error">
          <div>{{ formErrors }}</div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <button class="btn btn-primary btn-block btn-lg" type="submit"
        v-html="buttonSubmitHtml">
      </button>
    </div>
  </div>
</form>
</template>

<script>
import _ from 'lodash';
import { required, email } from 'vuelidate/lib/validators';
import FormValidator from './../validators/FormValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'cta-newsletter-strip',
  data() {
    let locale = VisitEuropeLocales.cta.newsletterBanner;

    return {
      buttonSubmit: locale.buttonSubmit,
      email: '',
      formError: null,
      loading: false,
      placeholder: locale.placeholder,
      subtitle: locale.subtitle,
      title: locale.title
    }
  },
  methods: {
    emailFieldWasBlurred() {
      this.formError = null;
      this.$v.email.$touch();
    },
    handleSuccessResponse(response) {
      this.loading = false;
      window.EventBus.$emit('newsletterStripWasSubmitted', this.email);
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.validateAndSubmit, this.handleErrorResponse)
      } else {
        this.loading = false;
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
      }
    },
    validateAndSubmit() {
      this.$v.$touch();
      this.loading = true;

      if (FormValidator.isValid(this.$v)) {
        VisitEuropeApi.postNewsletterSubscription(this.email)
          .then(response => {
            this.handleSuccessResponse(response);
          }, response => {
            this.handleErrorResponse(response);
          });

        return;
      } else {
        this.loading = false;
      }
    }
  },
  validations: {
    email: {
      required,
      email
    }
  },
  computed: {
    buttonSubmitHtml() {
      if (this.loading) {
        return '<span class="loading-icon">&nbsp;</span>';
      }

      return this.buttonSubmit;
    },
    emailError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'email');
    },
    formErrors() {
      var errors = [];

      if (!_.isNull(this.formError)) { errors.push(this.formError); }
      if (this.hasEmailError) { errors.push(this.emailError); }

      return errors.join(' ');
    },
    hasEmailError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.emailError);
    },
    hasFormErrors() {
      return !_.isEmpty(this.formErrors);
    }
  }
}
</script>
