<template>
<section class="container destination-nav">
  <div class="destination-nav-overlay" v-if="showSearch" :style="{ height:overlayHeight }"></div>
  <div class="destination-nav-inner" :class="{ searching:showSearch }">
    <div class="row search-topbar">
      <div class="col-sm-4 col-lg-3 hidden-xs hidden-sm search-container">
        <div class="input-group">
          <input class="form-control input-lg"
            v-model="searchTerm"
            :placeholder="searchTermPlaceholder">
          <span class="input-group-addon" @click="launchSearch"></span>
        </div>
      </div>
      <div v-if="!showSearch && hasTabs" class="col-xs-12 col-sm-6 col-md-4 col-lg-5 tab-container">
        <div class="dropdown visible-xs visible-sm visible-md">
          <a id="destination-nav-mobile" href="#"
            role="button" class="btn btn-block btn-default btn-lg"
            data-target="" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"
            @click.prevent="">
            {{ selectedTabName }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="destination-nav-mobile">
            <li v-for="(tab, key) in tabs" role="presentation"
              :class="{ active:isSelectedTabByKey(key) }">
              <a href="#" @click.prevent="selectTabByKey(key)">
                {{ tab }}
              </a>
            </li>
          </ul>
        </div>
        <ul class="nav nav-pills hidden-xs hidden-sm hidden-md">
          <li v-for="(tab, key) in tabs" role="presentation"
            :class="{ active:isSelectedTabByKey(key) }">
            <a href="#" @click.prevent="selectTabByKey(key)">
              {{ tab }}
            </a>
          </li>
        </ul>
      </div>
      <div v-if="!showSearch" class="col-sm-6 col-md-4 col-lg-4 map-button-container"
        :class="{ 'col-xs-12':hasTabs, 'col-xs-12 col-sm-offset-4 col-lg-offset-5':!hasTabs }">
        <div class="btn btn-primary btn-block btn-lg btn-interactive-map"
          @click="launchInteractiveMap">
          {{ interactiveMap }}
        </div>
      </div>
      <div v-if="showSearch" class="col-sm-8 col-lg-9 search-button-container">
        <div class="btn btn-default btn-lg"
          :class="{ 'btn-inverse':showRegions }"
          @click="showRegionsTab">
          {{ regionTitle }}
        </div>
        <div class="btn btn-default btn-lg"
          :class="{ 'btn-inverse':showCountries }"
          @click="showCountriesTab">
          {{ countryTitle }}
        </div>
      </div>
    </div>
    <div v-if="showSearch" class="search-content hidden-xs hidden-sm">
      <span @click="closeSearch" class="close-icon"></span>
      <div v-if="showRegions" class="row regions-container">
        <div class="col-md-4 regions-list">
          <ul>
            <li v-for="(region, index) in regions">
              <a :href="region.url"
                :class="{
                  active: isCurrentDestination(region),
                  inactive: !regionIsVisible(region)
                }"
                :data-index="index">
                {{ region.title }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-8 regions-map">
          <visit-europe-gmap
            :center="map.center"
            :overlays="map.overlays"
            :zoom="map.zoom">
          </visit-europe-gmap>
        </div>
      </div>
      <div v-if="showCountries" class="row countries-container">
        <div class="col-md-8 countries-list">
          <ul>
            <li v-for="(country, index) in countries">
              <a :href="country.url"
                :class="{
                  active: isCurrentDestination(country),
                  inactive: !countryIsVisible(country)
                }">
                {{ country.title }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 countries-other destinations-list">
          <interactive-map-destinations-item
            v-for="(country, index) in randomCountries"
            :key="index"
            :id="country.id"
            :imageinitial="country.imageinitial"
            :imagefull="country.imagefull"
            :title="country.title"
            :url="country.url"
            :overlays="country.map.overlays">
          </interactive-map-destinations-item>
        </div>
      </div>
    </div>
  </div>
</section>
</template>

<script>
import _ from 'lodash';
import DestinationsValidator from './../validators/DestinationsValidator';
import InteractiveMapDestinationsItem from './InteractiveMapDestinationsItem.vue';
import Validator from './../validators/Validator';
import VisitEuropeApi from './../VisitEuropeApi';
import VisitEuropeMap from './../VisitEuropeMap';

export default {
  name: 'destination-nav',
  components: {
    InteractiveMapDestinationsItem
  },
  props: {
    id: {
      type: Number,
      required: false,
      default: null
    },
    selectedTab: {
      type: String,
      required: false,
      default: null
    },
    tabs: {
      type: Object,
      required: false,
      validator: function(value) {
        return Validator.isListWithKey(value);
      },
      default: null
    },
    title: {
      type: String,
      required: false,
      default: null
    }
  },
  data() {
    let map = {
      center: {
        lat: 46.8,
        lng: 12.9
      },
      overlays: [],
      zoom: 4
    };

    return {
      countries: [],
      defaultTab: 'tab1',
      interactiveMap: VisitEuropeLocales.interactiveMap.label,
      map: map,
      overlayHeight: 0,
      searchTerm: null,
      searchTermPlaceholder: '',
      showCountries: false,
      showSearch: false,
      showRegions: true,
      regions: [],
      visibleCountryIDs: [],
      visibleRegionIDs: []
    }
  },
  mounted() {
    if (_.isUndefined(this.title) || _.isNull(this.title) || _.isEmpty(this.title)) {
      this.searchTermPlaceholder = window.VisitEuropeLocales.destinations.search.all;
    } else {
      this.searchTermPlaceholder = this.title;
    }

    this.fetchDestinations();
    this.setupHover();

    jQuery(window).on('resize', function() {
      this.updateOverlayHeight(this.showSearch);
    }.bind(this));
  },
  methods: {
    closeSearch() {
      this.showSearch = false;
    },
    countryIsVisible(country) {
      return _.indexOf(this.visibleCountryIDs, country.id) > -1;
    },
    fetchDestinations() {
      this.$emit('loadingStarted');

      VisitEuropeApi.getDestinations()
        .then(response => {
          this.handleSuccessResponse(response);
        }, response => {
          this.handleErrorResponse(response);
        });
    },
    filterDestinations(searchTerm) {
      var filteredCountryIDs = [];
      var filteredRegionIDs = [];
      var hasSearchTerm = false;

      if (!_.isUndefined(searchTerm) && !_.isEmpty(searchTerm) && !_.isNull(searchTerm)) {
        hasSearchTerm = true;
      }

      _.forEach(this.countries, function(country, index) {
        if (!hasSearchTerm) {
          filteredCountryIDs.push(country.id);
        } else {
          if (_.lowerCase(country.title).indexOf(_.lowerCase(searchTerm)) > -1) {
            filteredCountryIDs.push(country.id);
          }
        }
      });

      _.forEach(this.regions, function(region, index) {
        if (!hasSearchTerm) {
          filteredRegionIDs.push(region.id);
        } else {
          if (_.lowerCase(region.title).indexOf(_.lowerCase(searchTerm)) > -1) {
            filteredRegionIDs.push(region.id);
          }
        }
      });

      this.visibleCountryIDs = filteredCountryIDs;
      this.visibleRegionIDs = filteredRegionIDs;
    },
    handleSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (DestinationsValidator.validate(json)) {
            this.countries = json.countries;
            this.regions = json.regions;
            this.filterDestinations('');
          } else {
            this.handleErrorResponse(response);
          }

          this.$emit('loadingCompleted');
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleErrorResponse(response);
        }.bind(this));
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.fetchDestinations, this.handleErrorResponse)
      } else {
        this.$emit('loadingCompleted');
      }
    },
    isCurrentDestination(destination) {
      if (_.isUndefined(destination) || _.isUndefined(destination.id)) {
        return false;
      }

      return this.id === destination.id;
    },
    isSelectedTabByKey(key) {
      return this.selectedTab == key
    },
    launchInteractiveMap() {
      if (_.isUndefined(this.id) || _.isNull(this.id)) {
        window.EventBus.$emit('launchInteractiveMap', 'destinations');
      } else {
        window.EventBus.$emit('launchInteractiveMap', 'destination', this.id);
      }
    },
    launchSearch() {
      this.showSearch = true;
    },
    regionIsVisible(region) {
      return _.indexOf(this.visibleRegionIDs, region.id) > -1;
    },
    selectTabByKey(key) {
      if (!_.isUndefined(this.tabs[key])) {
        window.EventBus.$emit('tabWasSelected', key);
      } else {
        window.EventBus.$emit('tabWasSelected', defaultTab);
      }
    },
    setupHover() {
      var _this = this;
      var selector = '.destination-nav-inner .regions-container a';

      jQuery('body').on('mouseenter', selector, function() {
        if (jQuery(this).hasClass('hover')) {
          return;
        }

        let region = _this.regions[Number(jQuery(this).attr('data-index'))];

        if (!_.isUndefined(region)) {
          _this.updateMapOverlays(region.map.overlays);

          // Offset the class addition to allow for mobile tapping
          setTimeout(function() {
            jQuery(this).addClass('hover');
          }.bind(this), 10);
        }
      });

      jQuery('body').on('mouseleave', selector, function() {
        jQuery(this).removeClass('hover');
        _this.updateMapOverlays([]);
      });
    },
    showCountriesTab() {
      this.showCountries = true;
      this.showRegions = false;
    },
    showRegionsTab() {
      this.showCountries = false;
      this.showRegions = true;
    },
    updateMapOverlays(overlays) {
      this.map.overlays = overlays
    },
    updateOverlayHeight(showOverlay) {
      if (showOverlay) {
        let offset = jQuery('.destination-nav').offset();
        let height = jQuery('body').height();

        if (!_.isUndefined(offset) && !_.isUndefined(offset.top)) {
          this.overlayHeight = Number(height - offset.top) + 'px';
          return;
        }
      }

      this.overlayHeight = 0 + 'px';
    }
  },
  computed: {
    countryTitle() {
      return VisitEuropeLocales.destination.search.tabs.country;
    },
    hasTabs() {
      return !_.isUndefined(this.tabs) && !_.isEmpty(this.tabs);
    },
    randomCountries() {
      if (this.countries.length == 0) {
        return [];
      }

      var random = _.cloneDeep(this.countries);

      random.sort(function() {
        return 0.5 - Math.random();
      });

      return _.take(random, 4);
    },
    regionTitle() {
      return VisitEuropeLocales.destination.search.tabs.region;
    },
    selectedTabName() {
      if (_.isUndefined(this.tabs[this.selectedTab])) {
        return '';
      }

      return this.tabs[this.selectedTab];
    }
  },
  watch: {
    searchTerm: function(newValue) {
      this.filterDestinations(newValue);

      if (!_.isEmpty(newValue) && !this.showSearch) {
        this.launchSearch();
      }
    },
    showSearch: function(newValue) {
      this.updateOverlayHeight(newValue);
    }
  }
}
</script>
