<template>
<div id="experience-event-create">
  <div class="row">
    <div class="col-md-12 col-lg-8 col-lg-offset-2">
      <form @submit.prevent="validateAndSubmit">
        <div v-if="loading" class="loading">
          <span class="loading-icon"></span>
        </div>
        <div v-if="hasFormErrors" class="alert alert-danger form-error">
          {{ formErrors }}
        </div>
        <div class="form-group" :class="{ 'has-error':hasNameError }">
          <label for="experienceCreateEventName">{{ nameLabel }}</label>
          <input type="text" class="form-control" id="experienceCreateEventName"
            v-model.lazy="name"
            @blur="$v.name.$touch()">
        </div>
        <div class="form-group" :class="{ 'has-error':hasInterestError }">
          <label for="experienceCreateEventInterest">{{ interestLabel }}</label>
          <multiselect
            v-model="interest"
            track-by="key"
            label="title"
            :options="interests"
            :placeholder="interestPlaceholder"
            :searchable="false"
            :allow-empty="true"
            :show-labels="false"
            :max-height="350">
            <template slot="option" scope="props">
              <img class="option__image" :src="props.option.icon" alt="">
              <div class="option__desc">
                <span class="option__title">{{ props.option.title }}</span>
              </div>
            </template>
          </multiselect>
        </div>
        <div class="form-group date-picker-container">
          <div class="row">
            <div class="col-sm-6">
              <label for="experienceCreateEventDateFrom">{{ dateFromLabel }}</label>
              <datepicker v-model="dateFromString"
                :bootstrap-styling="true"
                :clear-button="true"
                :language="language"
                :placeholder="dateFromPlaceholder">
              </datepicker>
              <div v-if="showDateFromError" class="alert alert-danger">
                {{ dateFromError }}
              </div>
            </div>
            <div class="col-sm-6">
              <label for="experienceCreateEventDateTo">{{ dateToLabel }}</label>
              <datepicker v-model="dateToString"
                :bootstrap-styling="true"
                :clear-button="true"
                :language="language"
                :placeholder="dateToPlaceholder"
                @change="$v.dateTo.$touch()">
              </datepicker>
              <div v-if="showDateToError" class="alert alert-danger">
                {{ dateToError }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group date-picker-container">
          <div class="row">
            <div class="col-sm-6">
              <label for="experienceCreateEventCity">{{ cityLabel }}</label>
              <input type="text" class="form-control" id="experienceCreateEventCity"
                v-model.lazy="city"
                @blur="$v.city.$touch()">
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="experienceCreateEventCountry">{{ countryLabel }}</label>
                <multiselect track-by="key" label="title"
                  v-model="country"
                  :options="countries"
                  :placeholder="countryPlaceholder"
                  :searchable="false"
                  :allow-empty="true"
                  :show-labels="false">
                </multiselect>
              </div>
            </div>
          </div>
        </div>
        <visit-europe-gmap
          :center="mapCenter"
          :markers="[mapMarker]"
          :zoom="mapZoom"
          :markers-are-draggable="true"
          @markerwasdragged="markerWasDragged"
          @zoomWasChanged="zoomWasChanged">
        </visit-europe-gmap>
        <div class="form-group">
          <label for="experienceCreateEventLink1">{{ linkLabel }}</label>
          <input type="text" class="form-control" id="experienceCreateEventLink1"
            v-model.lazy="links[0]">
          <input type="text" class="form-control" id="experienceCreateEventLink2"
            v-model.lazy="links[1]">
          <input type="text" class="form-control" id="experienceCreateEventLink3"
            v-model.lazy="links[2]">
        </div>
        <div class="row">
          <div class="col-sm-7 col-md-9 col-lg-8">
            <div class="form-group">
              <label for="experienceCreateEventDescription">{{ descriptionLabel }}</label>
              <textarea class="form-control" id="experienceCreateEventDescription"
                :style="'height: ' + descriptionHeight + ';'"
                v-model.lazy="description"
                @blur="$v.description.$touch()">
              </textarea>
            </div>
          </div>
          <div class="col-sm-5 col-md-3 col-lg-4 image-container">
            <label>{{ imagesLabel }}</label>
            <div class="image-list">
              <div class="item-complete" v-for="(image, index) in images">
                <div class="visual">
                  <span class="visual-preload" :style="'background-image: url(' + image + ');'"></span>
                </div>
              </div>
              <div class="item-pending" v-for="file in $upload.files('images').progress">
                <div class="inner">
                  <span>{{ file.name }}</span>
                  <div class="progress">
                    <div class="progress-bar" :style="'width: ' + file.percentComplete + '%;'"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="image-btn-container">
              <div @click="$upload.select('images')" class="btn btn-default">
                <div class="inner">
                  <span v-show="isUploading">{{ uploadingLabel }}</span>
                  <span v-show="!isUploading">{{ uploadLabel }}</span>
                </div>
              </div>
            </div>
            <div class="image-desc" v-html="imageDesc"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-md-4 col-lg-5 btn-container">
            <button class="btn btn-primary btn-lg btn-block btn-submit" type="submit">
              {{ submitButton }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <modal v-if="showModal"
    :loading="false">
    <div slot="body">
      <section id="experience-event-create-modal">
          <div><strong>{{ successTitle }}</strong></div>
          <p v-html="successBody"></p>
          <div class="btn-container double">
            <a :href="experiencesUrl" class="btn btn-block btn-primary btn-lg">
              {{ experiencesButton }}
            </a>
            <a :href="homeUrl" class="btn btn-block btn-primary btn-lg">
              {{ homeButton }}
            </a>
          </div>
        </div>
      </section>
    </div>
  </modal>
</div>
</template>

<script>
import _ from 'lodash';
import { required, numeric } from 'vuelidate/lib/validators';
import Datepicker from 'vuejs-datepicker';
import FormValidator from './../validators/FormValidator';
import InterestGroupsValidator from './../validators/InterestGroupsValidator';
import jQuery from 'jquery';
import LocationValidator from './../validators/LocationValidator';
import Multiselect from 'vue-multiselect';
import Validator from './../validators/Validator';
import VisitEuropeApi from './../VisitEuropeApi';

let moment = require('moment');

export default {
  name: 'experience-event-create',
  components: {
    Datepicker,
    Multiselect
  },
  props: {
    countries: {
      type: Array,
      required: true,
      validator: function(value) {
        return Validator.isArrayWithKeyAndTitle(value);
      }
    },
    interests: {
      type: Array,
      required: true,
      validator: function(value) {
        return InterestGroupsValidator.validateForDropdown(value);
      }
    },
    private: {
      type: Boolean,
      required: true
    },
    tripId: {
      type: Number,
      required: false,
      default: null
    }
  },
  created() {
    this.$upload.new('images', {
        async: true,
        extensions: ['jpg', 'jpeg', 'png', 'gif'],
        maxFiles: 2,
        maxFilesInProgress: 2,
        maxSizePerFile: 1024 * 2, // 2mb
        multiple: true,
        url: VisitEuropeUrls.api + 'experiences/event/create/upload',
        onStart() {
          setTimeout(function () {
            this.updateDescriptionHeight();
          }.bind(this), 50);
        },
        onSuccess(response) {
          response.json()
            .then(function(json) {
              var images = _.cloneDeep(this.images);

              _.forEach(json, function(imageUrl) {
                images.push(imageUrl);
              }.bind(this));

              this.images = _.takeRight(images, 2);

              setTimeout(function () {
                this.updateDescriptionHeight();
              }.bind(this), 50);
            }.bind(this))
            .catch(function(error) {
              console.log('error', error);
            }.bind(this));
        }
    });
  },
  mounted() {
    this.latitude = this.mapMarker.location.lat;
    this.longitude = this.mapMarker.location.lng;
    this.zoom = this.mapZoom;

    this.$upload.reset('images');

    jQuery(window).on('resize', function() {
      this.updateDescriptionHeight();
    }.bind(this));
  },
  beforeDestroy() {
    this.$upload.reset('images');
  },
  data() {
    let mapCenter = {
      lat: 48.124246,
      lng: 11.782139
    };

    let mapIcon = VisitEuropeUrls.theme + '/assets/img/google-map-marker.png';

    return {
      dateFromString: null,
      dateToString: null,
      description: null,
      descriptionHeight: 'auto',
      city: null,
      country: null,
      formError: null,
      images: [],
      interest: null,
      loading: false,
      latitude: null,
      longitude: null,
      links: [],
      name: null,
      mapCenter: mapCenter,
      mapZoom: 4,
      mapIcon: mapIcon,
      mapMarker: {
        icon: mapIcon,
        location: mapCenter
      },
      showModal: false,
      zoom: null
    }
  },
  methods: {
    handleCreateSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (this.private) {
            if (!_.isUndefined(json.url)) {
              window.location = json.url;
            } else {
              window.location = VisitEuropeUrls.pages.accountTrips;
            }
          } else {
            this.showModal = true;
          }
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleCreateErrorResponse(response);
        }.bind(this));
    },
    handleCreateErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.validateAndSubmit, this.handleCreateErrorResponse)
      } else {
        this.loading = false;
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
      }
    },
    handleGeocodeSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (LocationValidator.validate(json)) {
            this.updateLocationAttributes(json.lat, json.lng);
          } else {
            console.log(1);
            console.log(LocationValidator.validate(json));
            this.handleGeocodeErrorResponse(response);
          }
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleGeocodeErrorResponse(response);
        }.bind(this));
    },
    handleGeocodeErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.locationWasChanged, this.handleGeocodeErrorResponse)
      } else {
        console.log('Error', response);
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
      }
    },
    locationWasChanged() {
      if (_.isEmpty(this.city) || _.isNull(this.country) || _.isUndefined(this.country.title)) {
        return;
      }

      let city = this.city;
      let country = this.country.title;

      // Get the address from Google
      VisitEuropeApi.postGoogleGeocode(city, country)
        .then(response => {
          this.handleGeocodeSuccessResponse(response);
        }, response => {
          this.handleGeocodeErrorResponse(response);
        });
    },
    markerWasDragged(data) {
      if (!_.isUndefined(data.latLng)) {
        this.updateLocationAttributes(data.latLng.lat(), data.latLng.lng());
      }
    },
    updateDescriptionHeight() {
      if (jQuery(window).width() > 767) {
        let imageContainerHeight = jQuery('.image-container').outerHeight()
        let imageContainerLabelHeight = jQuery('.image-container label').outerHeight();
        this.descriptionHeight = Number(imageContainerHeight - imageContainerLabelHeight - 13) + 'px';
      } else {
        this.descriptionHeight = 'auto';
      }
    },
    updateLocationAttributes(lat, lng) {
      this.latitude = lat;
      this.longitude = lng;
      this.mapMarker = {
        icon: this.mapIcon,
        location: {
          lat: lat,
          lng: lng
        }
      };
    },
    validateAndSubmit() {
      this.$v.$touch();
      this.loading = true;

      if (FormValidator.isValid(this.$v)) {
        let data = {
          city: this.city,
          country: this.country.key,
          dateTo: this.dateTo,
          dateFrom: this.dateFrom,
          description: this.description,
          interest: this.interest.key,
          images: this.images,
          latitude: this.latitude,
          links: this.links,
          longitude: this.longitude,
          name: this.name,
          private: this.private === true,
          tripID: this.tripId,
          zoom: this.zoom
        }

        VisitEuropeApi.postExperienceEventCreate(data)
          .then(response => {
            this.handleCreateSuccessResponse(response);
          }, response => {
            this.handleCreateErrorResponse(response);
          });

        return;
      } else {
        console.log(FormValidator.isValid(this.$v));
        this.loading = false;
      }
    },
    zoomWasChanged(zoom) {
      this.zoom = zoom;
    }
  },
  validations: {
    city: {
      required
    },
    country: {
      required
    },
    dateFrom: {
      required
    },
    dateTo: {
      required
    },
    description: {
      required
    },
    interest: {
      required
    },
    latitude: {
      required
    },
    longitude: {
      required
    },
    name: {
      required
    },
    zoom: {
      required,
      numeric
    }
  },
  computed: {
    cityError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'city');
    },
    cityLabel() {
      return VisitEuropeLocales.experiences.event.create.city;
    },
    countryError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'country');
    },
    countryLabel() {
      return VisitEuropeLocales.experiences.event.create.country;
    },
    countryPlaceholder() {
      return VisitEuropeLocales.experiences.event.create.countryPlaceholder;
    },
    experiencesButton() {
      return VisitEuropeLocales.experiences.event.create.modal.experiences;
    },
    experiencesUrl() {
      return VisitEuropeUrls.pages.experiences;
    },
    dateFrom() {
      if (_.isNull(this.dateFromString)) {
        return null;
      }

      return moment(this.dateFromString).format('YYYY-MM-DD');
    },
    dateFromError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'dateFrom');
    },
    dateFromLabel() {
      return VisitEuropeLocales.experiences.event.create.dateFrom;
    },
    dateTo() {
      if (_.isNull(this.dateToString)) {
        return null;
      }

      return moment(this.dateToString).format('YYYY-MM-DD');
    },
    dateToError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'dateTo');
    },
    dateToLabel() {
      return VisitEuropeLocales.experiences.event.create.dateTo;
    },
    descriptionError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'description');
    },
    descriptionLabel() {
      return VisitEuropeLocales.experiences.event.create.description;
    },
    homeButton() {
      return VisitEuropeLocales.experiences.event.create.modal.home;
    },
    homeUrl() {
      return VisitEuropeUrls.base;
    },
    imageDesc() {
      return VisitEuropeLocales.experiences.event.create.imagesDescription;
    },
    imagesLabel() {
      return VisitEuropeLocales.experiences.event.create.images;
    },
    interestError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'interest');
    },
    interestLabel() {
      return VisitEuropeLocales.experiences.event.create.interest;
    },
    interestPlaceholder() {
      return VisitEuropeLocales.experiences.event.create.interestPlaceholder;
    },
    linkLabel() {
      return VisitEuropeLocales.experiences.event.create.links;
    },
    formErrors() {
      var errors = [];

      if (!_.isNull(this.formError)) { errors.push(this.formError); }
      if (this.hasCityError) { errors.push(this.cityError); }
      if (this.hasCountryError) { errors.push(this.countryError); }
      if (this.hasDateToError) { errors.push(this.dateToError); }
      if (this.hasDateFromError) { errors.push(this.dateFromError); }
      if (this.hasDescriptionError) { errors.push(this.descriptionError); }
      if (this.hasInterestError) { errors.push(this.interestError); }
      if (this.hasNameError) { errors.push(this.nameError); }
      if (this.$upload.errors('images').length) { errors.push(this.$upload.errors('images')[0].message); }

      return errors.join(' ');
    },
    hasCityError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.cityError);
    },
    hasCountryError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.countryError);
    },
    hasDateFromError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.dateFromError);
    },
    hasDateToError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.dateToError);
    },
    hasDescriptionError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.descriptionError);
    },
    hasInterestError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.interestError);
    },
    hasNameError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.nameError);
    },
    hasFormErrors() {
      return !_.isEmpty(this.formErrors);
    },
    isUploading() {
      return this.$upload.meta('images').status === 'sending';
    },
    nameError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'name');
    },
    nameLabel() {
      return VisitEuropeLocales.experiences.event.create.name;
    },
    submitButton() {
      return VisitEuropeLocales.experiences.event.create.submit;
    },
    successBody() {
      return VisitEuropeLocales.experiences.event.create.modal.body;
    },
    successTitle() {
      return VisitEuropeLocales.experiences.event.create.modal.title;
    },
    uploadingLabel() {
      return VisitEuropeLocales.experiences.event.create.uploading;
    },
    uploadLabel() {
      return VisitEuropeLocales.experiences.event.create.upload;
    }
  },
  watch: {
    city: function(newValue) {
      setTimeout(function() {
        this.locationWasChanged();
      }.bind(this), 50);
    },
    country: function(newValue) {
      setTimeout(function() {
        this.locationWasChanged();
      }.bind(this), 50);
    }
  }
}
</script>
