<template>
<section :id="id" class="filterable-grid standard-grid standard-grid-size-full">
  <div class="filter-container">
    <span class="btn btn-default btn-inverse" @click="filterItemWasClicked([], $event)">
      {{ titleForAllFilter }}
    </span>
    <span class="btn btn-default"
      v-for="(item, index) in filters"
      @click="filterItemWasClicked(item.filters, $event)">
      {{ item.title }}
    </span>
  </div>
  <div class="filter-grid-container">
    <div class="standard">
      <div class="standard-container">
          <preview-item
            v-for="(item, index) in items"
            :key="index"
            :is-filterable="true"
            :item="item"
            @itemWasClicked="itemWasClicked">
          </preview-item>
      </div>
    </div>
  </div>
</section>
</template>

<script>
import _ from 'lodash';
import FilterGroupsValidator from './../validators/FilterGroupsValidator';
import jQuery from 'jquery';
import mixitup from 'mixitup';
import PreviewItem from './PreviewItem.vue';
import PreviewItemValidator from './../validators/PreviewItemValidator';

export default {
  name: 'filterable-grid',
  components: {
    'preview-item': PreviewItem
  },
  props: {
    filters: {
      type: Array,
      required: true,
      validator: function(value) {
        return FilterGroupsValidator.validate(value);
      }
    },
    items: {
      type: Array,
      required: true,
      validator: function(value) {
        return PreviewItemValidator.validate(value);
      }
    },
    isInteractiveMap: {
      type: Boolean,
      required: false,
      default: false,
    }
  },
  mounted() {
    this.id = 'filterable-grid-' + this._uid;

    setTimeout(function() {
      this.mixer = mixitup('#' + this.id, {
        animation: {
          duration: 200
        },
        controls: {
          enable: false,
          scope: 'local'
        }
      });
    }.bind(this), 50);
  },
  data() {
    return {
      id: null,
      mixer: null,
      selectedFilters: []
    };
  },
  methods: {
    filterItemWasClicked(filters, event) {
      this.selectedFilters = filters;
      this.$emit('filterItemWasClicked', filters);
      jQuery('#' + this.id + ' .filter-container .btn-inverse').removeClass('btn-inverse');
      jQuery(event.currentTarget).addClass('btn-inverse');
    },
    itemWasClicked(item) {
      if (this.isInteractiveMap === true) {
        this.$emit('itemwasclicked', item);
      } else {
        window.location = item.url;
      }
    }
  },
  watch: {
    selectedFilters: function(newValue) {
      if (newValue.length == 0) {
        this.mixer.filter('all');
      } else {
        let id = this.id;
        let filters = _.map(newValue, function(interest) {
          return '#' + id + ' .filter-' + interest;
        }).join(', ');

        this.mixer.filter(filters);
      }
    }
  },
  computed: {
    titleForAllFilter() {
      return VisitEuropeLocales.filters.all;
    }
  }
}
</script>
