<template>
<section id="header-search">
  <div class="container">
    <section class="search">
      <div class="search-inner">
        <input type="text" v-model="searchTerm" placeholder="...">
        <span @click="search" class="search-icon"></span>
        <span @click="close" class="close-icon"></span>
      </div>
    </section>
    <section v-if="showResults" id="search-results" class="results">
      <div class="results-inner">
        <article class="result-item" v-for="item in results">
          <a :href="item.url">
            <span class="result-title">{{ item.title }}</span>
            <span class="result-tag label label-primary">{{ item.tag }}</span>
          </a>
        </article>
      </div>
    </section>
  </div>
</section>
</template>

<script>
import _ from 'lodash';
import VisitEuropeApi from './../VisitEuropeApi';
import jQuery from 'jquery';

export default {
  data() {
    return {
      results: [],
      searchTerm: ''
    }
  },
  mounted() {
    jQuery('#header-search input').focus();
  },
  methods: {
    clearResults() {
      this.results = [];
    },
    clearSearchTerm() {
      this.searchTerm = '';
    },
    close() {
      this.clearSearchTerm();
      this.clearResults();
      window.EventBus.$emit('closeHeaderSearch');
    },
    fetchSearch() {
      this.$emit('loadingStarted');

      VisitEuropeApi.getSearch(this.searchTerm)
        .then(response => {
          this.handleSuccessResponse(response);
        }, response => {
          this.handleErrorResponse(response);
        });
    },
    search() {
      window.location = VisitEuropeUrls.pages.search + '?term=' + this.searchTerm;
    },
    handleSuccessResponse(response) {
      response.json()
        .then(function(json) {
          this.results = json;
          this.$emit('loadingCompleted');
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleErrorResponse(response);
        }.bind(this));
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.fetchSearch, this.handleErrorResponse)
      } else {
        this.clearResults();
        this.$emit('loadingCompleted');
      }
    },
    searchTermMonitor: _.debounce(function () {
      this.fetchSearch();
    }, 250)
  },
  computed: {
    showResults() {
      return this.results.length > 0;
    }
  },
  watch: {
    searchTerm: function(newValue) {
      if (newValue.length < 3) {
        this.clearResults();
        return;
      }

      this.searchTermMonitor();
    }
  }
}
</script>
