<template>
<section id="inspire-me-results" :class="containerClasses">
  <div class="container empty" v-if="!this.hasSearched"></div>
  <div v-if="loading" class="loading">
    <span class="loading-icon"></span>
  </div>
  <div v-if="hasResults">
    <section v-if="hasDestinations" class="container standard-grid section-default destinations">
      <section-header
        :title="destinationsTitle">
      </section-header>
      <section class="standard-grid-size-full standard-grid-type-country">
        <div class="grid-container">
          <section class="standard">
            <div class="standard-container">
              <article v-for="(destination, index) in destinations" class="destination-preview country-preview">
                <a :url="destination.url">
                  <section is="blurry-background-image" :initial="destination.imageinitial" :full="destination.imagefull">
                    <header>
                      <h4>{{ destination.title }}</h4>
                    </header>
                  </section>
                </a>
              </article>
            </div>
          </section>
        </div>
      </section>
    </section>
    <section v-if="hasTrips" class="container standard-grid standard-trip section-default trips">
      <section-header
        :title="tripsTitle">
      </section-header>
      <section class="standard-grid-size-full standard-grid-type-trip">
        <div class="grid-container">
          <section class="standard">
            <div class="standard-container">
              <preview-item v-for="(trip, index) in trips"
                :item="trip"
                :key="index">
              </preview-item>
            </div>
          </section>
        </div>
      </section>
    </section>
  </div>
  <section v-if="showEmptyMessage" class="container search-empty">
    <p>{{ emptyMessage }}</p>
  </section>
</section>
</template>

<script>
import _ from 'lodash';
import DestinationsValidator from './../validators/DestinationsValidator';
import PreviewItem from './PreviewItem.vue';
import TripsValidator from './../validators/TripsValidator';

export default {
  name: 'inspire-me-results',
  components: {
    PreviewItem
  },
  props: {
    destinations: {
      type: Array,
      required: false,
      validator: function(value) {
        return DestinationsValidator.validate({
          countries: value,
          regions: value
        });
      }
    },
    hasSearched: {
      type: Boolean,
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    trips: {
      type: Array,
      required: false,
      validator: function(value) {
        return TripsValidator.validate(value);
      }
    }
  },
  data() {
    return {
      destinationsTitle: VisitEuropeLocales.inspireMe.search.destinations,
      emptyMessage: VisitEuropeLocales.inspireMe.search.noResults,
      tripsTitle: VisitEuropeLocales.inspireMe.search.trips
    }
  },
  computed: {
    containerClasses() {
      return {
        active: this.loading || this.hasResults
      }
    },
    hasDestinations() {
      return _.isArray(this.destinations) && this.destinations.length > 0;
    },
    hasTrips() {
      return _.isArray(this.trips) && this.trips.length > 0;
    },
    hasResults() {
      return this.hasDestinations || this.hasTrips;
    },
    showEmptyMessage() {
      return !this.hasDestinations && !this.hasTrips && this.hasSearched;
    }
  }
}
</script>
