<template>
<section id="inspire-me">
  <section class="container intro">
    <div class="inner">
      <inspire-me-search
        :audiences="audiences"
        :budgets="budgets"
        :desires="desires"
        :seasons="seasons"
        :temperatures="temperatures"
        :initial-audience="initialAudience"
        :initial-budget="initialBudget"
        :initial-desires="initialDesires"
        :initial-season="initialSeason"
        :initial-temperature="initialTemperature"
        @search="fetchInspireMe">
      </inspire-me-search>
      <div class="btn-container">
        <div class="btn btn-lg btn-primary btn-interactive-map"
          @click="launchInspireMeInteractiveMap"
          :disabled="!hasResults">
          {{ interactiveMap }}
        </div>
      </div>
    </div>
  </section>
  <inspire-me-results
    :destinations="destinations"
    :loading="loading"
    :has-searched="hasSearched"
    :trips="trips">
  </inspire-me-results>
  <section class="btn-container container">
    <div class="btn btn-lg btn-primary"
      @click="launchInspireMeModal">
      {{ redoQuiz }}
    </div>
  </section>
</section>
</template>

<script>
import _ from 'lodash';
import DestinationsValidator from './../validators/DestinationsValidator';
import InspireMeAudiencesValidator from './../validators/InspireMeAudiencesValidator';
import InspireMeBudgetsValidator from './../validators/InspireMeBudgetsValidator';
import InspireMeDesiresValidator from './../validators/InspireMeDesiresValidator';
import InspireMeResults from './InspireMeResults.vue';
import InspireMeSearch from './InspireMeSearch.vue';
import InspireMeSearchValidator from './../validators/InspireMeSearchValidator';
import InspireMeSeasonsValidator from './../validators/InspireMeSeasonsValidator';
import InspireMeTemperaturesValidator from './../validators/InspireMeTemperaturesValidator';
import TripsValidator from './../validators/TripsValidator';
import Validator from './../validators/Validator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'inspire-me',
  components: {
    InspireMeResults,
    InspireMeSearch
  },
  props: {
    audiences: {
      type: Array,
      required: true,
      validator: function(value) {
        return InspireMeAudiencesValidator.validate(value);
      }
    },
    budgets: {
      type: Array,
      required: true,
      validator: function(value) {
        return InspireMeBudgetsValidator.validate(value);
      }
    },
    desires: {
      type: Array,
      required: true,
      validator: function(value) {
        return InspireMeDesiresValidator.validate(value);
      }
    },
    initialAudience: {
      type: Number,
      required: true,
      validator: function(value) {
        return Validator.isNumber(value, true);
      }
    },
    initialBudget: {
      type: Number,
      required: true,
      validator: function(value) {
        return Validator.isNumber(value, true);
      }
    },
    initialDesires: {
      type: Array,
      required: true,
      validator: function(value) {
        return Validator.isListOfNumbers(value);
      }
    },
    initialDestinations: {
      type: Array,
      required: false,
      validator: function(value) {
        return DestinationsValidator.validate({
          countries: value,
          regions: value
        });
      }
    },
    initialSeason: {
      type: Number,
      required: true,
      validator: function(value) {
        return Validator.isNumber(value, true);
      }
    },
    initialTemperature: {
      type: Number,
      required: true,
      validator: function(value) {
        return Validator.isNumber(value, true);
      }
    },
    initialTrips: {
      type: Array,
      required: false,
      validator: function(value) {
        return TripsValidator.validate(value);
      }
    },
    seasons: {
      type: Array,
      required: true,
      validator: function(value) {
        return InspireMeSeasonsValidator.validate(value);
      }
    },
    temperatures: {
      type: Array,
      required: true,
      validator: function(value) {
        return InspireMeTemperaturesValidator.validate(value);
      }
    }
  },
  mounted() {
    if (_.isUndefined(this.initialDestinations) && _.isUndefined(this.initialTrips)) {
      this.launchInspireMeModal();
    }

    if (!_.isUndefined(this.initialDestinations)) {
      this.destinations = this.initialDestinations;
      this.hasSearched = true;
    }

    if (!_.isUndefined(this.initialTrips)) {
      this.trips = this.initialTrips;
      this.hasSearched = true;
    }

    this.updateInspireMeHeader();
  },
  data() {
    return {
      destinations: [],
      hasSearched: false,
      interactiveMap: VisitEuropeLocales.interactiveMap.label,
      loading: false,
      redoQuiz: VisitEuropeLocales.inspireMe.search.redoQuiz,
      searchData: {},
      trips: []
    };
  },
  methods: {
    fetchInspireMe(data) {
      this.loading = true;
      this.trips = [];
      this.destinations = [];

      if (!_.isUndefined(data)) {
        this.searchData = data;
      }

      VisitEuropeApi.getInspireMeSearch(this.searchData)
        .then(response => {
          this.handleSuccessResponse(response);
        }, response => {
          this.handleErrorResponse(response);
        });
    },
    handleSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (InspireMeSearchValidator.validate(json)) {
            this.destinations = json.destinations;
            this.trips = json.trips;
          } else {
            this.handleErrorResponse(response);
          }

          this.hasSearched = true;
          this.loading = false;
          this.updateInspireMeHeader();
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleErrorResponse(response);
        }.bind(this));
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.fetchInspireMe, this.handleErrorResponse);
      } else {
        this.hasSearched = true;
        this.loading = false;
        this.updateInspireMeHeader();
      }
    },
    launchInspireMeInteractiveMap() {
      window.EventBus.$emit('launchInteractiveMap', 'inspireMe', undefined, {
        destinations: this.destinations,
        trips: this.trips
      });
    },
    launchInspireMeModal() {
      window.EventBus.$emit('launchInspireMeModal');
    },
    updateInspireMeHeader() {
      var count = 0;

      if (this.hasResults) {
        count = Number(this.destinations.length) + Number(this.trips.length);
      }

      window.EventBus.$emit('updateInspireMeHeader', count);
    }
  },
  computed: {
    hasResults() {
      var hasResults = false;

      if (!_.isUndefined(this.destinations) && _.isArray(this.destinations) && !_.isEmpty(this.destinations)) {
        hasResults = true;
      }

      if (!_.isUndefined(this.trips) && _.isArray(this.trips) && !_.isEmpty(this.trips)) {
        hasResults = true;
      }

      return hasResults;
    }
  }
}
</script>
