<template>
<section id="inspire-me-search">
  <span v-for="(sentenceItem, sentenceIndex) in sentenceItems">
    <span v-if="isStringAttribute(sentenceItem)" class="dropdown">
      <button :id="'string-' + sentenceIndex" type="button" data-toggle="dropdown" aria-haspopup="true" expanded="false">
        {{ getLabelForAttribute(sentenceItem) }}
      </button>
      <ul class="dropdown-menu" :aria-labelledby="'string-' + sentenceIndex">
        <li v-for="(attributeItem, attributeIndex) in getItemsForStringAttribute(sentenceItem)"
          :class="getClassesForAttributeItem(sentenceItem, attributeIndex)">
          <a href="#" @click.prevent="attributeItemWasSelected(sentenceItem, attributeIndex)">
            {{ attributeItem.title }}
          </a>
        </li>
      </ul>
    </span>
    <span v-if="!isStringAttribute(sentenceItem)">{{ sentenceItem }}</span>
  </span>
</section>
</template>

<script>
import _ from 'lodash';
import InspireMeAudiencesValidator from './../validators/InspireMeAudiencesValidator';
import InspireMeBudgetsValidator from './../validators/InspireMeBudgetsValidator';
import InspireMeDesiresValidator from './../validators/InspireMeDesiresValidator';
import InspireMeSeasonsValidator from './../validators/InspireMeSeasonsValidator';
import InspireMeTemperaturesValidator from './../validators/InspireMeTemperaturesValidator';
import Validator from './../validators/Validator';

export default {
  name: 'inspire-me-search',
  props: ['audiences', 'budgets', 'desires', 'initialAudience', 'initialBudget', 'initialDesires', 'initialSeason', 'initialTemperature', 'seasons', 'temperatures'],
  mounted() {
    this.selectedAudience = this.initialAudience;
    this.selectedBudget = this.initialBudget;
    this.selectedDesires = this.initialDesires;
    this.selectedSeason = this.initialSeason;
    this.selectedTemperature = this.initialTemperature;

    // If the user lands on /inspire-me, then they won't have any initial desires
    if (_.isEmpty(this.selectedDesires) && !_.isUndefined(this.desires[0]) && !_.isUndefined(this.desires[1])) {
      this.selectedDesires.push(this.desires[0]);
      this.selectedDesires.push(this.desires[1]);
    }

    setTimeout(function() {
      this.enableReload = true;
    }.bind(this), 100);
  },
  data() {
    return {
      enableReload: false,
      interactiveMap: VisitEuropeLocales.interactiveMap.label,
      selectedAudience: null,
      selectedBudget: null,
      selectedDesires: [],
      selectedSeason: null,
      selectedTemperature: null,
      sentenceItems: VisitEuropeLocales.inspireMe.search.sentence.split(' ')
    }
  },
  methods: {
    attributeItemWasSelected(string, index) {
      let attribute = this.getAttributeFromString(string);

      switch (attribute) {
        case ':audience':
          this.setValueForAttributeItem(this.audiences, index, 'selectedAudience', null);
          break;
        case ':budget':
          this.setValueForAttributeItem(this.budgets, index, 'selectedBudget', null);
          break;
        case ':desire1':
          var otherIndex = 1;

          if (!_.isUndefined(this.selectedDesires[1])) {
            otherIndex = this.selectedDesires[1];
          } else if (!_.isUndefined(this.initialDesires[1])) {
            otherIndex = this.initialDesires[1];
          }

          this.selectedDesires = [
            index,
            otherIndex
          ];
          break;
        case ':desire2':
          var otherIndex = 0;

          if (!_.isUndefined(this.selectedDesires[0])) {
            otherIndex = this.selectedDesires[0];
          } else if (!_.isUndefined(this.initialDesires[0])) {
            otherIndex = this.initialDesires[0];
          }

          this.selectedDesires = [
            otherIndex,
            index
          ];
          break;
        case ':season':
          this.setValueForAttributeItem(this.seasons, index, 'selectedSeason', null);
          break;
        case ':temperature':
          this.setValueForAttributeItem(this.temperatures, index, 'selectedTemperature', null);
          break;
        default:
          break;
      }
    },
    getAttributeFromString(string) {
      return string.replace(/[^0-9a-z:]/gi, '');
    },
    getClassesForAttributeItem(string, attributeIndex) {
      let attribute = this.getAttributeFromString(string);
      var classes = {};

      switch (attribute) {
        case ':desire1':
          if (_.isArray(this.selectedDesires) && _.isUndefined(this.selectedDesires[1])) {
            if (this.selectedDesires[1] == attributeIndex) {
              classes = {
                disabled: true
              };
            }
          }
          break;
        case ':desire2':
          if (_.isArray(this.selectedDesires) && _.isUndefined(this.selectedDesires[0])) {
            if (this.selectedDesires[0] == attributeIndex) {
              classes = {
                disabled: true
              };
            }
          }
          break;
        default:
          break;
      }

      return classes;
    },
    getLabelForAttributeItem(array, key, defaultKey) {
      var label = '';

      if (!_.isUndefined(array[key]) && !_.isUndefined(array[key].title)) {
        label = array[key].title;
      } else if (!_.isUndefined(array[defaultKey]) && !_.isUndefined(array[defaultKey].title)) {
        label = array[defaultKey].title;
      }

      return label.toLowerCase();
    },
    getLabelForDesireItem(index) {
      if (_.isUndefined(this.selectedDesires[index]) && !_.isUndefined(this.initialDesires[index])) {
        this.selectedDesires[index] = this.initialDesires[index];
      }

      return this.getLabelForAttributeItem(this.desires, this.selectedDesires[index], index);
    },
    getLabelForAttribute(string) {
      let attribute = this.getAttributeFromString(string);
      var label = '';

      switch (attribute) {
        case ':audience':
          label = this.getLabelForAttributeItem(this.audiences, this.selectedAudience, this.initialAudience);
          break;
        case ':budget':
          label = this.getLabelForAttributeItem(this.budgets, this.selectedBudget, this.initialBudget);
          break;
        case ':desire1':
          label = this.getLabelForDesireItem(0);
          break;
        case ':desire2':
          label = this.getLabelForDesireItem(1);
          break;
        case ':season':
          label = this.getLabelForAttributeItem(this.seasons, this.selectedSeason, this.initialSeason);
          break;
        case ':temperature':
          label = this.getLabelForAttributeItem(this.temperatures, this.selectedTemperature, this.initialTemperature);
          break;
        default:
          break;
      }

      return label;
    },
    getItemsForStringAttribute(string) {
      let attribute = this.getAttributeFromString(string);
      var items = [];

      switch (attribute) {
        case ':audience':
          items = this.audiences;
          break;
        case ':budget':
          items = this.budgets;
          break;
        case ':desire1':
          items = this.desires;
          break;
        case ':desire2':
          items = this.desires;
          break;
        case ':season':
          items = this.seasons;
          break;
        case ':temperature':
          items = this.temperatures;
          break;
        default:
          break;
      }

      return items;
    },
    setValueForAttributeItem(array, arrayIndex, key, defaultValue) {
      if (!_.isUndefined(array[arrayIndex])) {
        this[key] = arrayIndex;
      } else {
        this[key] = defaultValue;
      }
    },
    isStringAttribute(string) {
      return _.isString(string) && string.charAt(0) === ':';
    },
    reloadResults() {
      if (this.enableReload !== true) {
        return;
      }

      setTimeout(function() {
        this.$emit('search', {
          audience: this.selectedAudience,
          budget: this.selectedBudget,
          desires: this.selectedDesires,
          season: this.selectedSeason,
          temperature: this.selectedTemperature
        });
      }.bind(this), 50);
    }
  },
  watch: {
    selectedAudience: function(newValue) {
      this.reloadResults();
    },
    selectedBudget: function(newValue) {
      this.reloadResults();
    },
    selectedDesires: function(newValue) {
      this.reloadResults();
    },
    selectedSeason: function(newValue) {
      this.reloadResults();
    },
    selectedTemperature: function(newValue) {
      this.reloadResults();
    }
  }
}
</script>
