<template>
<div id="inspire-me-modal">
  <div class="inner">
    <div class="container processing" v-if="processing">
      <blurry-background-image
        :initial="imageInitial"
        :full="imageFull">
        <div class="processing-inner" :style="{ minHeight:processingHeight + 'px' }">
          <header>
            <h2>{{ processingTitle }}</h2>
          </header>
          <p>{{ processingSubtitle }}</p>
          <div class="dots">
            <span :class="{ active:activeProcessingDotIndex == 0 }"></span>
            <span :class="{ active:activeProcessingDotIndex == 1 }"></span>
            <span :class="{ active:activeProcessingDotIndex == 2 }"></span>
            <span :class="{ active:activeProcessingDotIndex == 3 }"></span>
            <span :class="{ active:activeProcessingDotIndex == 4 }"></span>
          </div>
        </div>
      </blurry-background-image>
    </div>
    <div class="container" v-if="!processing">
      <header is="blurry-background-image" v-if="!loading"
        :initial="imageInitial"
        :full="imageFull">
        <h2>{{ title }}</h2>
        <p>{{ body }}</p>
      </header>
      <div class="inner">
        <div v-if="loading" class="loading">
          <span class="loading-icon"></span>
        </div>
        <a href="#" class="close" @click.prevent="close"></a>
        <section class="inspire-me-modal-audiences">
          <header>
            <span class="number">1</span>
            <h3>
              {{ audiencesTitle }}
              <small>{{ audiencesSubtitle }}</small>
            </h3>
          </header>
          <div class="items row">
            <a href="#" class="item col-xs-6 col-sm-3" v-for="(audience, index) in audiences"
              :class="{ active:isAudienceSelected(index) }"
              :key="index"
              @click.prevent="audienceWasClicked(index)">
              <blurry-background-image
                :initial="audience.imageinitial"
                :full="audience.imagefull">
              </blurry-background-image>
              <span class="btn btn-block btn-default"
                :class="{ 'btn-inverse':isAudienceSelected(index) }">
                {{ audience.title }}
              </span>
            </a>
          </div>
        </section>
        <section class="inspire-me-modal-seasons">
          <header>
            <span class="number">2</span>
            <h3>
              {{ seasonsTitle }}
              <small>{{ seasonsTitle }}</small>
            </h3>
          </header>
          <div class="items row">
            <a href="#" class="item col-xs-6 col-sm-3" v-for="(season, index) in seasons"
              :class="{ active:isSeasonSelected(index) }"
              :key="index"
              @click.prevent="seasonWasClicked(index)">
              <blurry-background-image
                :initial="season.imageinitial"
                :full="season.imagefull">
              </blurry-background-image>
              <span class="btn btn-block btn-default"
                :class="{ 'btn-inverse':isSeasonSelected(index) }">
                {{ season.title }}
              </span>
            </a>
          </div>
        </section>
        <section class="inspire-me-modal-temperatures">
          <header>
            <span class="number">3</span>
            <h3>
              {{ temperaturesTitle }}
              <small>{{ temperaturesSubtitle }}</small>
            </h3>
          </header>
          <div class="items row">
            <a href="#" class="item col-xs-6 col-sm-3" v-for="(temperature, index) in temperatures"
              :class="{ active:isTemperatureSelected(index) }"
              :key="index"
              @click.prevent="temperatureWasClicked(index)">
              <blurry-background-image
                :initial="temperature.imageinitial"
                :full="temperature.imagefull">
              </blurry-background-image>
              <span class="btn btn-block btn-default"
                :class="{ 'btn-inverse':isTemperatureSelected(index) }">
                {{ temperature.title }}
              </span>
            </a>
          </div>
        </section>
        <section class="inspire-me-modal-budgets">
          <header>
            <span class="number">4</span>
            <h3>
              {{ budgetsTitle }}
              <small>{{ budgetSubtitle }}</small>
            </h3>
          </header>
          <div class="items row">
            <a href="#" class="item col-xs-6 col-sm-3" v-for="(budget, index) in budgets"
              :class="{ active:isBudgetSelected(index) }"
              :key="index"
              @click.prevent="budgetWasClicked(index)">
              <blurry-background-image
                :initial="budget.imageinitial"
                :full="budget.imagefull">
              </blurry-background-image>
              <span class="btn btn-block btn-default"
                :class="{ 'btn-inverse':isBudgetSelected(index) }">
                {{ budget.title }}
              </span>
            </a>
          </div>
        </section>
        <section class="inspire-me-modal-desires">
          <header>
            <span class="number">5</span>
            <h3>
              {{ desiresTitle }}
              <small>{{ desiresSubtitle }}</small>
            </h3>
          </header>
          <div class="items row">
            <a href="#" class="item col-xs-6 col-sm-3" v-for="(desire, index) in desires"
              :class="{ active:isDesireSelected(index) }"
              :key="index"
              @click.prevent="desireWasClicked(index)">
              <blurry-background-image
                :initial="desire.imageinitial"
                :full="desire.imagefull">
              </blurry-background-image>
              <span class="btn btn-block btn-default"
                :class="{ 'btn-inverse':isDesireSelected(index) }">
                {{ desire.title }}
              </span>
            </a>
          </div>
        </section>
        <section class="btn-container">
          <span class="btn btn-primary btn-lg" :class="{ disabled:!canSubmitSearch() }"
            @click="submitSearch">
            {{ button }}
          </span>
        </section>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash';
import InspireMeValidator from './../validators/InspireMeValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'inspire-me-modal',
  data() {
    return {
      activeProcessingDotIndex: 0,
      audiences: [],
      budgets: [],
      desires: [],
      imageInitial: '',
      imageFull: '',
      loading: true,
      processing: false,
      processingHeight: 0,
      seasons: [],
      selectedAudience: null,
      selectedBudget: null,
      selectedDesires: [],
      selectedSeason: null,
      selectedTemperature: null,
      temperatures: []
    }
  },
  mounted() {
    this.fetchInspireMe();

    jQuery('html, body').animate({
      scrollTop: 0
    }, 350);

    jQuery(window).on('resize', function() {
      this.setAppHeight();
    }.bind(this));
  },
  methods: {
    animateProcessingDots() {
      var newIndex = 0;

      if (this.activeProcessingDotIndex < 4) {
        newIndex = this.activeProcessingDotIndex + 1;
      }

      this.activeProcessingDotIndex = newIndex;

      setTimeout(function() {
        this.animateProcessingDots();
      }.bind(this), 400);
    },
    audienceWasClicked(index) {
      this.selectedAudience = null;

      if (_.isArray(this.audiences) && !_.isUndefined(this.audiences[index])) {
        this.selectedAudience = index;
      }
    },
    budgetWasClicked(index) {
      this.selectedBudget = null;

      if (_.isArray(this.budgets) && !_.isUndefined(this.budgets[index])) {
        this.selectedBudget = index;
      }
    },
    canSubmitSearch() {
      return !_.isNull(this.selectedAudience) && !_.isNull(this.selectedBudget) && _.isArray(this.selectedDesires) && this.selectedDesires.length == 2 && !_.isNull(this.selectedSeason) && !_.isNull(this.selectedTemperature);
    },
    close() {
      window.EventBus.$emit('clearAppHeight');
      window.EventBus.$emit('closeInspireMeModal');
    },
    desireWasClicked(index) {
      if (!_.isArray(this.selectedDesires)) {
        this.selectedDesires = [];
      }

      // If it's already selected, remove from array
      let selectedIndex = _.indexOf(this.selectedDesires, index);

      if (selectedIndex != -1) {
        this.selectedDesires.splice(selectedIndex, 1);
        return;
      }

      // If it's not selected and we have >= 2, deselect all
      if (this.selectedDesires.length >= 2) {
        this.selectedDesires = [];
      }

      // Add to the array
      this.selectedDesires.push(index);
    },
    fetchInspireMe() {
      this.loading = true;

      VisitEuropeApi.getInspireMe()
        .then(response => {
          this.handleSuccessResponse(response);
        }, response => {
          this.handleErrorResponse(response);
        });
    },
    handleSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (this.isValidInspireMe(json)) {
            this.audiences = json.audiences;
            this.budgets = json.budgets;
            this.desires = json.desires;
            this.imageInitial = json.imageinitial;
            this.imageFull = json.imagefull;
            this.seasons = json.seasons;
            this.temperatures = json.temperatures;
            this.loading = false;

            setTimeout(function() {
              this.setAppHeight();
            }.bind(this), 50);
          } else {
            this.handleErrorResponse(response);
          }
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleErrorResponse(response);
        }.bind(this));
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.fetchInspireMe, this.handleErrorResponse)
      } else {
        this.audiences = [];
        this.budgets = [];
        this.desires = [];
        this.imageinitial = '';
        this.imagefull = '';
        this.seasons = [];
        this.temperatures = [];
        this.loading = false;
      }
    },
    isAudienceSelected(index) {
      return this.selectedAudience == index;
    },
    isBudgetSelected(index) {
      return this.selectedBudget == index;
    },
    isDesireSelected(index) {
      return _.isArray(this.selectedDesires) && _.indexOf(this.selectedDesires, index) != -1;
    },
    isSeasonSelected(index) {
      return this.selectedSeason == index;
    },
    isTemperatureSelected(index) {
      return this.selectedTemperature == index;
    },
    isValidInspireMe(inspireMe) {
      return InspireMeValidator.validate(inspireMe);
    },
    setAppHeight() {
      if (jQuery('#inspire-me-modal > .inner > .container').length > 0) {
        let element = jQuery('#inspire-me-modal > .inner > .container');
        let height = element.height() + element.offset().top + 30;

        window.EventBus.$emit('setAppHeight', height + 'px');
      }
    },
    seasonWasClicked(index) {
      this.selectedSeason = null;

      if (_.isArray(this.seasons) && !_.isUndefined(this.seasons[index])) {
        this.selectedSeason = index;
      }
    },
    submitSearch() {
      if (!this.canSubmitSearch()) {
        return false;
      }

      this.processing = true;
      this.animateProcessingDots();
      window.EventBus.$emit('disableBodyScroll');
      jQuery('html, body').scrollTop(0);

      // Set the height of the overlay
      if (jQuery(window).width() > 991) {
        this.processingHeight = jQuery(window).height() - (jQuery('.navbar-fixed-top').height() * 2) - 60;
      } else {
        this.processingHeight = jQuery(window).height();
      }

      // Send the search
      setTimeout(function() {
        window.EventBus.$emit('inspireMeWasSubmitted', this.selectedAudience, this.selectedBudget, this.selectedDesires, this.selectedSeason, this.selectedTemperature);
      }.bind(this), 500);
    },
    temperatureWasClicked(index) {
      this.selectedTemperature = null;

      if (_.isArray(this.temperatures) && !_.isUndefined(this.temperatures[index])) {
        this.selectedTemperature = index;
      }
    }
  },
  computed: {
    audiencesSubtitle() {
      return VisitEuropeLocales.inspireMe.modal.required.select1;
    },
    audiencesTitle() {
      return VisitEuropeLocales.inspireMe.modal.audiences.title;
    },
    body() {
      return VisitEuropeLocales.inspireMe.modal.body;
    },
    budgetsSubtitle() {
      return VisitEuropeLocales.inspireMe.modal.required.select1;
    },
    budgetsTitle() {
      return VisitEuropeLocales.inspireMe.modal.budgets.title;
    },
    button() {
      return VisitEuropeLocales.inspireMe.modal.button;
    },
    desiresSubtitle() {
      return VisitEuropeLocales.inspireMe.modal.required.select2;
    },
    desiresTitle() {
      return VisitEuropeLocales.inspireMe.modal.desires.title;
    },
    processingSubtitle() {
      return VisitEuropeLocales.inspireMe.modal.processing.subtitle;
    },
    processingTitle() {
      return VisitEuropeLocales.inspireMe.modal.processing.title;
    },
    seasonsSubtitle() {
      return VisitEuropeLocales.inspireMe.modal.required.select1;
    },
    seasonsTitle() {
      return VisitEuropeLocales.inspireMe.modal.seasons.title;
    },
    temperaturesSubtitle() {
      return VisitEuropeLocales.inspireMe.modal.required.select1;
    },
    temperaturesTitle() {
      return VisitEuropeLocales.inspireMe.modal.temperatures.title;
    },
    title() {
      return VisitEuropeLocales.inspireMe.modal.title;
    }
  }
}
</script>
