<template>
<div id="interactive-map-destinations" class="sidebar-inner">
  <div class="sidebar-inner-content">
    <section class="sidebar-header">
      <header>
        <h1>
          <small>{{ subtitle }}</small>
          {{ title }}
        </h1>
      </header>
    </section>
    <section id="interactive-map-destinations-sidebar-content" class="sidebar-content">
      <div class="sidebar-content-inner destinations-list">
        <section v-if="hasRegions" class="sidebar-content-destination">
          <header>
            <h3>{{ regionTitle }}</h3>
          </header>
          <interactive-map-destinations-item
            v-for="(region, index) in regions"
            :key="index"
            :id="region.id"
            :imageinitial="region.imageinitial"
            :imagefull="region.imagefull"
            :title="region.title"
            :url="region.url"
            :overlays="region.map.overlays"
            @updateMapOverlays="updateMapOverlays">
          </interactive-map-destinations-item>
        </section>
        <section v-if="hasCountries" class="sidebar-content-destination">
          <header>
            <h3>{{ countryTitle }}</h3>
          </header>
          <interactive-map-destinations-item
            v-for="(country, index) in countries"
            :key="index"
            :id="country.id"
            :imageinitial="country.imageinitial"
            :imagefull="country.imagefull"
            :title="country.title"
            :url="country.url"
            :overlays="country.map.overlays"
            @updateMapOverlays="updateMapOverlays">
          </interactive-map-destinations-item>
        </section>
      </div>
    </section>
  </div>
</div>
</template>

<script>
import DestinationsValidator from './../validators/DestinationsValidator';
import InteractiveMapDestinationsItem from './InteractiveMapDestinationsItem.vue';
import jQuery from 'jquery';
import PerfectScrollbar from 'perfect-scrollbar/jquery';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'interactive-map-destinations',
  components: {
    InteractiveMapDestinationsItem
  },
  data() {
    return {
      countries: [],
      regions: [],
      subtitle: VisitEuropeLocales.destinations.subtitle,
      title: VisitEuropeLocales.destinations.title
    };
  },
  mounted() {
    jQuery('#interactive-map-destinations').perfectScrollbar({
      suppressScrollX: true,
      suppressScrollY: false
    });

    this.fetchDestinations();
  },
  methods: {
    fetchDestinations() {
      window.InteractiveMapEventBus.$emit('loadingStarted');

      VisitEuropeApi.getDestinations()
        .then(response => {
          this.handleSuccessResponse(response);
        }, response => {
          this.handleErrorResponse(response);
        });
    },
    handleSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (DestinationsValidator.validate(json)) {
            this.countries = json.countries;
            this.regions = json.regions;
          } else {
            this.handleErrorResponse(response);
          }

          jQuery('#interactive-map-destinations').perfectScrollbar('update');
          window.InteractiveMapEventBus.$emit('loadingCompleted');
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleErrorResponse(response);
        }.bind(this));
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.fetchDestinations, this.handleErrorResponse)
      } else {
        jQuery('#interactive-map-destinations').perfectScrollbar('update');
        window.InteractiveMapEventBus.$emit('loadingCompleted');
      }
    },
    updateMapOverlays(overlays) {
      this.$emit('updateMapOverlays', overlays);
    }
  },
  computed: {
    countryTitle() {
      return VisitEuropeLocales.destinations.countries.title;
    },
    hasCountries() {
      return this.countries.length > 0
    },
    hasRegions() {
      return this.regions.length > 0
    },
    regionTitle() {
      return VisitEuropeLocales.destinations.regions.title;
    }
  }
}
</script>
