<template>
<div id="interactive-map-experience-preview" class="sidebar-inner ps--active-y">
  <div class="sidebar-inner-content">
    <section v-if="hasPreview" class="sidebar-header" is="blurry-background-image"
      :initial="preview.imageinitial"
      :full="preview.imagefull">
      <header>
        <h1>
          <small>{{ subtitle }}</small>
          {{ preview.title }}
        </h1>
      </header>
    </section>
    <section class="sidebar-content">
      <div class="sidebar-content-inner">
        <div v-if="hasPreview" class="preview">
          <div class="intro-visuals">
            <span class="tag label label-primary">{{ subtitle }}</span>
            <div class="pointers" v-if="hasPointers">
              <ul>
                <li class="pointer"
                  v-for="(pointer, index) in preview.pointers"
                  :class="pointerClasses(pointer.type)">
                  <span class="title">{{ pointer.title }}</span>
                  <a class="subtitle" target="_blank"
                    v-if="pointerHasUrl(pointer)"
                    :href="pointer.url">
                    {{ pointer.subtitle }}
                  </a>
                  <span v-if="!pointerHasUrl(pointer)" class="subtitle">
                    {{ pointer.subtitle }}
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="body">
            <header>
              <h4>{{ preview.title }}</h4>
            </header>
            <div class="information">
              <span class="date">{{ preview.date }}</span>
            </div>
            <div class="blurb">
              <p v-html="preview.body"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div v-if="hasPreview" class="preview-btn-container">
    <a href="#" class="back btn btn-default btn-sm btn-back" @click.prevent="backButtonWasPressed">
      {{ backButton }}
    </a>
    <a :href="preview.url" class="btn btn-default btn-sm btn-view">
      {{ viewArticle }}
    </a>
  </div>
</div>
</template>

<script>
import _ from 'lodash';
import ExperiencePreviewValidator from './../validators/ExperiencePreviewValidator';
import jQuery from 'jquery';
import PerfectScrollbar from 'perfect-scrollbar/jquery';
import Shave from 'shave';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'interactive-map-experience-preview',
  props: {
    id: {
      type: Number,
      required: true
    },
    parentName: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      preview: null,
      scrollContainer: null
    };
  },
  mounted() {
    this.scrollContainer = jQuery('#interactive-map-experience-preview');
    this.scrollContainer.perfectScrollbar({
      suppressScrollX: true,
      suppressScrollY: false
    });

    this.fetchExperiencePreview();
  },
  methods: {
    applyEllipsis() {
      setTimeout(function() {
        Shave('#interactive-map-experience-preview .body .blurb', 200);
      }.bind(this), 50);
    },
    backButtonWasPressed() {
      window.InteractiveMapEventBus.$emit('closeExperiencePreview');
    },
    fetchExperiencePreview() {
      window.InteractiveMapEventBus.$emit('loadingStarted');

      VisitEuropeApi.getExperiencePreview(this.id)
        .then(response => {
          this.handleSuccessResponse(response);
        }, response => {
          this.handleErrorResponse(response);
        });
    },
    handleSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (this.isValidExperiencePreview(json)) {
            this.preview = json;
          } else {
            this.handleErrorResponse(response);
          }

          this.scrollContainer.perfectScrollbar('update');
          this.applyEllipsis();
          window.InteractiveMapEventBus.$emit('loadingCompleted');
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleErrorResponse(response);
        }.bind(this));
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.fetchExperiencePreview, this.handleErrorResponse)
      } else {
        this.preview = null;
        this.scrollContainer.perfectScrollbar('update');
        window.InteractiveMapEventBus.$emit('loadingCompleted');
        window.InteractiveMapEventBus.$emit('closeExperiencePreview');
      }
    },
    isValidExperiencePreview(preview) {
      return ExperiencePreviewValidator.validate(preview);
    },
    pointerClasses(type) {
      return {
        ['pointer-' + _.kebabCase(type)]: true
      };
    },
    pointerHasUrl(pointer) {
      return !_.isUndefined(pointer.url) && !_.isEmpty(pointer.url) && pointer.url != '#';
    }
  },
  computed: {
    backButton() {
      return VisitEuropeLocales.interactiveMap.backTo + ' ' + this.parentName;
    },
    hasPreview() {
      return !_.isNull(this.preview);
    },
    hasPointers() {
      return this.hasPreview && !_.isUndefined(this.preview.pointers);
    },
    subtitle() {
      if (this.hasPreview) {
        return VisitEuropeLocales.experiences.types[this.preview.type.toLowerCase()];
      }

      return '';
    },
    viewArticle() {
      return VisitEuropeLocales.interactiveMap.viewFull;
    }
  },
  watch: {
    scrollContainerTop: function(value) {
      if (_.isNumber(value)) {
        jQuery('#interactive-map-experience-preview').animate({
          scrollTop: value
        }, 400);
      }
    }
  }
}
</script>
