<template>
<div id="interactive-map-user-trip" class="sidebar-inner">
  <div class="sidebar-inner-content">
    <section v-if="hasUserTrip" class="sidebar-header" is="blurry-background-image"
      :initial="userTrip.imageinitial"
      :full="userTrip.imagefull">
      <header>
        <h1>
          <small>{{ subtitle }}</small>
          {{ userTrip.title }}
        </h1>
      </header>
    </section>
    <section id="interactive-map-user-trip-sidebar-content" class="sidebar-content">
      <div v-if="hasUserTrip" class="sidebar-content-inner usertrip-list">
        <section class="sidebar-content-user-trip">
          <div class="standard-grid">
            <div class="standard">
              <div v-for="(item, index) in items" class="article-container">
                <preview-item-destination v-if="itemIsDestination(item)"
                  :item="item"
                  @itemWasClicked="destinationItemWasClicked">
                </preview-item-destination>
                <preview-item v-if="itemIsExperience(item)"
                  :item="item"
                  @itemWasClicked="experienceItemWasClicked">
                </preview-item>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>
</template>

<script>
import _ from 'lodash';
import jQuery from 'jquery';
import PreviewItem from './PreviewItem.vue';
import PreviewItemDestination from './PreviewItemDestination.vue';
import PerfectScrollbar from 'perfect-scrollbar/jquery';
import UserTripValidator from './../validators/UserTripValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'interactive-map-user-trip',
  components: {
    PreviewItem,
    PreviewItemDestination
  },
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      userTrip: null,
      items: []
    };
  },
  mounted() {
    jQuery('#interactive-map-user-trip').perfectScrollbar({
      suppressScrollX: true,
      suppressScrollY: false
    });

    this.fetchUserTrip();
  },
  methods: {
    destinationItemWasClicked(item) {
      window.InteractiveMapEventBus.$emit('itemWasSelected', item);
      this.$emit('updateMapOverlays', item.map.overlays);
    },
    experienceItemWasClicked(item) {
      this.$emit('updateMapOverlays', []);
    },
    fetchUserTrip() {
      window.InteractiveMapEventBus.$emit('loadingStarted');

      VisitEuropeApi.getUserTripMap(this.id)
        .then(response => {
          this.handleSuccessResponse(response);
        }, response => {
          this.handleErrorResponse(response);
        });
    },
    handleSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (UserTripValidator.validate(json)) {
            this.userTrip = json;
            this.setItemsAndMapMarkers();
          } else {
            this.handleErrorResponse(response);
          }

          jQuery('#interactive-map-user-trip').perfectScrollbar('update');
          window.InteractiveMapEventBus.$emit('loadingCompleted');
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleErrorResponse(response);
        }.bind(this));
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.fetchUserTrip, this.handleErrorResponse)
      } else {
        jQuery('#interactive-map-user-trip').perfectScrollbar('update');
        window.InteractiveMapEventBus.$emit('loadingCompleted');
      }
    },
    itemIsDestination(item) {
      let types = VisitEurope.options.customPostTypes.destinations.types;
      return !_.isNull(this.item) && VisitEurope.helper.isTypeFoundInObjectKeys(item.type, types);
    },
    itemIsExperience(item) {
      let types = VisitEurope.options.customPostTypes.experiences.types;
      return !_.isNull(this.item) && VisitEurope.helper.isTypeFoundInObjectKeys(item.type, types);
    },
    setItemsAndMapMarkers() {
      if (!this.hasUserTrip || _.isUndefined(this.userTrip.items) || !_.isArray(this.userTrip.items)) {
        return;
      }

      var markers = [];
      var items = [];

      _.forEach(this.userTrip.items, function(item) {
        if (!_.isUndefined(item.map)) {
          var marker = item.map;

          marker.metadata = { item: item }
          markers.push(marker);
          items.push(item);
        }
      });

      this.items = items;

      window.InteractiveMapEventBus.$emit('updateMapMarkers', markers);
    }
  },
  computed: {
    hasUserTrip() {
      return !_.isNull(this.userTrip);
    },
    subtitle() {
      return VisitEuropeLocales.myTrips.items.title;
    }
  }
}
</script>
