<template>
<div id="interactive-map-experience-gallery" class="sidebar-inner ps--active-y">
  <div class="sidebar-inner-content">
    <div v-if="hasGallery">
      <section class="sidebar-header" is="blurry-background-image"
        :initial="gallery.imageinitial"
        :full="gallery.imagefull">
        <header>
          <h1>
            <small>{{ subtitle }}</small>
            {{ gallery.title }}
          </h1>
        </header>
      </section>
      <section class="sidebar-content">
        <div class="sidebar-content-inner">
          <p v-html="gallery.body"></p>
          <carousel-mini
            v-if="hasItems"
            :id="'interactive-map-experience-gallery-carousel-mini'"
            :items="gallery.items"
            :slide-index="slideIndex"
            @slideWasChangedManually="slideWasChangedManually">
            <div v-for="(item, index) in gallery.items" :key="index">
              <section is="blurry-background-image"
                :initial="item.imageinitial"
                :full="item.imagefull">
              </section>
              <section class="content">
                <header>
                  <h3>{{ item.title }}</h3>
                </header>
                <p v-html="item.body"></p>
              </section>
            </div>
          </carousel-mini>
        </div>
      </section>
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash';
import CarouselMini from './CarouselMini.vue';
import ExperienceGalleryValidator from './../validators/ExperienceGalleryValidator';
import jQuery from 'jquery';
import PerfectScrollbar from 'perfect-scrollbar/jquery';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'interactive-map-experience-gallery',
  components: {
    CarouselMini,
  },
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      gallery: null,
      markers: [],
      slideIndex: 0,
      subtitle: VisitEuropeLocales.experiences.types.gallery
    };
  },
  mounted() {
    jQuery('#interactive-map-experience-gallery').perfectScrollbar({
      suppressScrollX: true,
      suppressScrollY: false
    });

    this.fetchExperience();

    window.InteractiveMapEventBus.$on('infoBoxWasOpened', function(item) {
      this.selectItem(item);
    }.bind(this));
  },
  methods: {
    fetchExperience() {
      window.InteractiveMapEventBus.$emit('loadingStarted');

      VisitEuropeApi.getExperience(this.id)
        .then(response => {
          this.handleSuccessResponse(response);
        }, response => {
          this.handleErrorResponse(response);
        });
    },
    handleSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (this.isValidExperienceGallery(json)) {
            this.gallery = json;
            this.updateItemMarkers();
          } else {
            this.handleErrorResponse(response);
          }

          jQuery('#interactive-map-experience-gallery').perfectScrollbar('update');
          window.InteractiveMapEventBus.$emit('loadingCompleted');
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleErrorResponse(response);
        }.bind(this));
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.fetchExperience, this.handleErrorResponse)
      } else {
        this.gallery = null;
        jQuery('#interactive-map-experience-gallery').perfectScrollbar('update');
        window.InteractiveMapEventBus.$emit('loadingCompleted');
      }
    },
    isValidExperienceGallery(gallery) {
      return ExperienceGalleryValidator.validate(gallery);
    },
    selectItem(selectedItem) {
      _.forEach(this.gallery.items, function(item, index) {
        if (item.id == selectedItem.id) {
          this.slideIndex = index;
          return false;
        }
      }.bind(this));
    },
    slideWasChangedManually(item, index) {
      if (!_.isUndefined(item)) {
        window.InteractiveMapEventBus.$emit('itemWasSelected', item);
      }
    },
    updateItemMarkers() {
      this.markers = [];

      if (!this.hasGallery) {
        return;
      }

      let items = [];

      _.each(this.gallery.items, function (item, key) {
        var marker = item.map;

        marker.metadata = { item: item }
        items.push(marker);
      });

      this.markers = items;
    }
  },
  computed: {
    hasGallery() {
      return !_.isNull(this.gallery);
    },
    hasItems() {
      return this.hasGallery && this.gallery.items.length > 0;
    }
  },
  watch: {
    markers: function (value) {
      if (_.isArray(value)) {
        window.InteractiveMapEventBus.$emit('updateMapMarkers', value, true);
      } else {
        window.InteractiveMapEventBus.$emit('updateMapMarkers', []);
      }

      window.InteractiveMapEventBus.$emit('fitMapToMarkerBounds');
    }
  }
}
</script>
