<template>
<section id="interactive-map" :class="interactiveMapClasses">
  <div class="container">
    <div v-if="loading" class="loading">
      <span class="loading-icon"></span>
    </div>
    <section class="map">
      <visit-europe-gmap
        :center="map.center"
        :markers="map.visibleMarkers"
        :overlays="map.overlays"
        :zoom="map.zoom"
        :is-interactive-map="map.isInteractive">
      </visit-europe-gmap>
    </section>
    <aside class="sidebar">
      <interactive-map-destinations
        v-if="showDestinationsLayout"
        @updateMapOverlays="updateMapOverlays">
      </interactive-map-destinations>
      <interactive-map-destination
        v-if="showDestinationLayout"
        :id="contentID">
      </interactive-map-destination>
      <interactive-map-experience-preview
        v-if="showExperiencePreviewLayout"
        :id="childContentID"
        :parent-name="parentName">
      </interactive-map-experience-preview>
      <interactive-map-experience-gallery
        v-if="showExperienceGalleryLayout"
        :id="contentID">
      </interactive-map-experience-gallery>
      <interactive-map-inspire-me
        v-if="showInspireMeLayout"
        :params="contentParams"
        @updateMapOverlays="updateMapOverlays">
      </interactive-map-inspire-me>
      <interactive-map-trips
        v-if="showTripsLayout"
        @updateMapOverlays="updateMapOverlays">
      </interactive-map-trips>
      <interactive-map-user-trip
        v-if="showUserTripLayout"
        :id="contentID"
        @updateMapOverlays="updateMapOverlays">
      </interactive-map-user-trip>
    </aside>
  </div>
</section>
</template>

<script>
import _ from 'lodash';
import InteractiveMapDestinations from './InteractiveMapDestinations.vue';
import InteractiveMapDestination from './InteractiveMapDestination.vue';
import InteractiveMapExperienceGallery from './InteractiveMapExperienceGallery.vue';
import InteractiveMapExperiencePreview from './InteractiveMapExperiencePreview.vue';
import InteractiveMapInspireMe from './InteractiveMapInspireMe.vue';
import InteractiveMapTrips from './InteractiveMapTrips.vue';
import InteractiveMapUserTrip from './InteractiveMapUserTrip.vue';
import VisitEurope from './../VisitEurope';
import VisitEuropeMap from './../VisitEuropeMap';

/**
 * There are different layouts of the InteractiveMap:
 *   - Destinations: List of Regions / Countries)
 *   - Destination: Information about a Region / Country
 *   - Experience: Gallery
 *   - ExperiencePreview: Preview about an experience item
 *   - InspireMe: Destinations and trips within inspire me
 *   - Trips: List of trips
 *   - UserTrips: List of user trips
 */
export default {
  components: {
    InteractiveMapDestinations,
    InteractiveMapDestination,
    InteractiveMapExperienceGallery,
    InteractiveMapExperiencePreview,
    InteractiveMapInspireMe,
    InteractiveMapTrips,
    InteractiveMapUserTrip
  },
  props: {
    params: {
      type: Object,
      required: false,
    },
    initialLayout: {
      type: String,
      required: true
    },
    id: {
      type: Number,
      required: false
    }
  },
  data() {
    let map = {
      center: {
        lat: 46.8,
        lng: 12.9
      },
      isInteractive: true,
      visibleMarkers: [],
      markers: [],
      overlays: [],
      zoom: 4
    };

    return {
      contentID: null,
      childContentID: null,
      contentParams: null,
      parentName: '',
      loading: true,
      layout: null,
      map: map
    }
  },
  mounted() {
    this.layout = this.initialLayout;

    if (!_.isUndefined(this.id)) {
      this.contentID = this.id;
    }

    if (!_.isUndefined(this.params)) {
      this.contentParams = this.params;
    }

    window.InteractiveMapEventBus.$on('loadingStarted', function() {
      this.loadingStarted();
    }.bind(this));

    window.InteractiveMapEventBus.$on('loadingCompleted', function() {
      this.loadingCompleted();
    }.bind(this));

    window.InteractiveMapEventBus.$on('setParentName', function(string) {
      this.parentName = string;
    }.bind(this));

    window.InteractiveMapEventBus.$on('disableInteractiveMap', function() {
      this.map.isInteractive = false;
    }.bind(this));

    window.InteractiveMapEventBus.$on('enableInteractiveMap', function() {
      this.map.isInteractive = true;
    }.bind(this));

    window.InteractiveMapEventBus.$on('launchChildByItem', function(item) {
      if (!_.isNull(item) && item.type != 'REGION' && item.type != 'COUNTRY' && item.type != 'TRIP') {
        this.launchChildByItem(item);
      } else if (!_.isUndefined(item.url) && item.url != '#') {
        window.location = item.url;
      }
    }.bind(this));

    window.InteractiveMapEventBus.$on('closeExperiencePreview', function() {
      this.closeExperiencePreview();
    }.bind(this));
  },
  created() {
    window.InteractiveMapEventBus.$on('updateMapMarkers', function(markers) {
      this.updateMapMarkers(markers);
    }.bind(this));

    window.InteractiveMapEventBus.$on('filterMapMarkers', function(itemIDs) {
      this.filterMapMarkers(itemIDs);
    }.bind(this));
  },
  methods: {
    close() {
      window.EventBus.$emit('closeInteractiveMap');
    },
    closeExperiencePreview() {
      this.childContentID = null;
      this.layout = VisitEurope.options.interactiveMap.layouts.destination;
      window.InteractiveMapEventBus.$emit('enableInteractiveMap');
    },
    filterMapMarkers(itemIDs) {
      if (_.isEmpty(itemIDs)) {
        this.map.visibleMarkers = this.map.markers;
      } else {
        this.map.visibleMarkers = _.filter(this.map.markers, function(marker) {
          return !_.isUndefined(marker.metadata) && !_.isUndefined(marker.metadata.item) && !_.isUndefined(marker.metadata.item.id) && _.indexOf(itemIDs, marker.metadata.item.id) >= 0;
        });
      }
    },
    launchChildByItem(item) {
      this.childContentID = item.id;
      this.layout = VisitEurope.options.interactiveMap.layouts.experiencePreview;
      window.InteractiveMapEventBus.$emit('disableInteractiveMap');
    },
    loadingStarted() {
      this.loading = true;
    },
    loadingCompleted() {
      setTimeout(function() {
        this.loading = false;
      }.bind(this), 1000);
    },
    updateMapMarkers(markers) {
      this.map.markers = markers;
      this.map.visibleMarkers = markers;
    },
    updateMapOverlays(overlays) {
      this.map.overlays = overlays;
    },
  },
  computed: {
    destinationID() {
      if (this.showDestinationLayout) {
        return this.contentID;
      }

      return null;
    },
    experienceID() {
      if (this.showExperienceGalleryLayout) {
        return this.contentID;
      }

      return null;
    },
    interactiveMapClasses() {
      return {
        'type-destinations': this.showDestinationsLayout,
        'type-destination': this.showDestinationLayout,
        'type-experience-gallery': this.showExperienceGalleryLayout,
        'type-experience-preview': this.showExperiencePreviewLayout,
        'type-trips': this.showTripsLayout
      }
    },
    showDestinationsLayout() {
      return this.layout === VisitEurope.options.interactiveMap.layouts.destinations;
    },
    showDestinationLayout() {
      return this.layout === VisitEurope.options.interactiveMap.layouts.destination;
    },
    showExperienceGalleryLayout() {
      return this.layout === VisitEurope.options.interactiveMap.layouts.experienceGallery;
    },
    showExperiencePreviewLayout() {
      return this.layout === VisitEurope.options.interactiveMap.layouts.experiencePreview && !_.isNull(this.childContentID);
    },
    showInspireMeLayout() {
      return this.layout === VisitEurope.options.interactiveMap.layouts.inspireMe && !_.isNull(this.contentParams);
    },
    showTripsLayout() {
      return this.layout === VisitEurope.options.interactiveMap.layouts.trips;
    },
    showUserTripLayout() {
      return this.layout === VisitEurope.options.interactiveMap.layouts.userTrip;
    }
  }
}
</script>
