<template>
<div id="interactive-map-inspire-me" class="sidebar-inner">
  <div class="sidebar-inner-content">
    <section class="sidebar-header">
      <header>
        <h1>
          <small>{{ subtitle }}</small>
          {{ title }}
        </h1>
      </header>
    </section>
    <section id="interactive-map-inspire-me-sidebar-content" class="sidebar-content">
      <div class="sidebar-content-inner destinations-list trips-list">
        <section v-if="hasDestinations" class="sidebar-content-inspire-me sidebar-content-destination destinations">
          <header>
            <h3>{{ destinationsTitle }}</h3>
          </header>
          <interactive-map-destinations-item
            v-for="(destination, index) in destinations"
            :key="index"
            :id="destination.id"
            :imageinitial="destination.imageinitial"
            :imagefull="destination.imagefull"
            :title="destination.title"
            :url="destination.url"
            :overlays="destination.map.overlays"
            @updateMapOverlays="updateMapOverlays">
          </interactive-map-destinations-item>
        </section>
        <section v-if="hasTrips" class="sidebar-content-inspire-me sidebar-content-trip trips">
          <header>
            <h3>{{ tripsTitle }}</h3>
          </header>
          <section class="standard-grid">
            <div class="standard">
              <interactive-map-trips-item
                v-for="(trip, index) in trips"
                :key="index"
                :id="trip.id"
                :imageinitial="trip.imageinitial"
                :imagefull="trip.imagefull"
                :title="trip.title"
                :url="trip.url"
                :overlays="trip.map.overlays"
                @updateMapOverlays="updateMapOverlays">
              </interactive-map-trips-item>
            </div>
          </section>
        </section>
      </div>
    </section>
  </div>
</div>
</template>

<script>
import _ from 'lodash';
import InteractiveMapDestinationsItem from './InteractiveMapDestinationsItem.vue';
import InteractiveMapTripsItem from './InteractiveMapTripsItem.vue';
import jQuery from 'jquery';
import PerfectScrollbar from 'perfect-scrollbar/jquery';
import Validator from './../validators/Validator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'interactive-map-inspire-me',
  components: {
    InteractiveMapDestinationsItem,
    InteractiveMapTripsItem
  },
  props: {
    params: {
      type: Object,
      required: true,
      validator: function(value) {
        return Validator.isValidStructure(value, {
          destinations: [],
          trips: []
        });
      }
    }
  },
  data() {
    return {
      destinations: [],
      destinationsTitle: VisitEuropeLocales.inspireMe.search.destinations,
      subtitle: VisitEuropeLocales.inspireMe.interactiveMap.subtitle,
      trips: [],
      tripsTitle: VisitEuropeLocales.inspireMe.search.trips,
      title: VisitEuropeLocales.inspireMe.interactiveMap.title
    };
  },
  mounted() {
    jQuery('#interactive-map-inspire-me').perfectScrollbar({
      suppressScrollX: true,
      suppressScrollY: false
    });

    this.destinations = this.params.destinations;
    this.trips = this.params.trips;

    window.InteractiveMapEventBus.$emit('loadingCompleted');
  },
  methods: {
    itemWasClicked(item) {
      console.log('Item was clicked', item);
    },
    updateMapOverlays(overlays) {
      this.$emit('updateMapOverlays', overlays);
    }
  },
  computed: {
    hasDestinations() {
      return _.isArray(this.destinations) && this.destinations.length > 0;
    },
    hasTrips() {
      return _.isArray(this.trips) && this.trips.length > 0;
    }
  }
}
</script>
