<template>
<article :id="uniqueID" class="list-item">
  <a @click.prevent="itemWasClicked(url, $event)">
    <section is="blurry-background-image" :initial="imageinitial" :full="imagefull">
      <header>
        <h4>{{ title }}</h4>
      </header>
    </section>
  </a>
</article>
</template>

<script>
export default {
    name: 'interactive-map-destinations-item',
    props: {
      id: {
        type: Number,
        required: true
      },
      imageinitial: {
        type: String,
        required: true
      },
      imagefull: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      url: {
        type: String,
        required: true
      },
      overlays: {
        type: Array,
        required: true
      }
    },
    mounted() {
      this.setupHover();
    },
    data() {
        return {};
    },
    methods: {
      itemWasClicked(url, event) {
        if (jQuery(event.currentTarget).parent('.list-item').hasClass('hover')) {
          window.location = url;
        }
      },
      setupHover() {
        var _this = this;

        jQuery('body').on('mouseenter', '#' + this.uniqueID, function() {
          jQuery('#interactive-map .list-item.hover').removeClass('hover');
          jQuery(this).addClass('hover');

          _this.updateMapOverlays(_this.overlays);

          // Offset the class addition to allow for mobile tapping
          setTimeout(function() {
            jQuery(this).addClass('hover');
          }.bind(this), 10);
        });

        jQuery('body').on('mouseleave', '#' + this.uniqueID, function() {
          jQuery(this).removeClass('hover');
          _this.updateMapOverlays([]);
        });
      },
      updateMapOverlays(overlays) {
        this.$emit('updateMapOverlays', overlays);
      }
    },
    computed: {
      uniqueID () {
        return 'destinations-item-' + this._uid + '-' + this.id;
      }
    }
}
</script>
