<template>
<div class="destination-modules-container">
  <div v-for="module in modules">
    <div v-if="showAccordion(module)" :data-layout="module.layout" class="accordion"
      :class="{ 'has-title':moduleHasTitle(module) }">
      <section-header v-if="moduleHasTitle(module)"
        :title="module.content.title"
        :url="module.content.url">
      </section-header>
      <accordion v-if="accordionHasItems(module)"
        :columns="1"
        :items="module.content.content">
      </accordion>
    </div>
    <div v-if="showCarousel(module)" :data-layout="module.layout" class="carousel"
      :class="{ 'has-title':moduleHasTitle(module) }">
      <section-header v-if="moduleHasTitle(module)"
        :title="module.content.title"
        :url="module.content.url">
      </section-header>
      <interactive-map-destination-carousel
        :id="'carousel-mini-' + tab"
        :items="module.content.content">
      </interactive-map-destination-carousel>
    </div>
    <div v-if="showFeatureGrid(module)" :data-layout="module.layout" class="feature-grid"
      :class="{ 'has-title':moduleHasTitle(module) }">
      <section-header v-if="moduleHasTitle(module)"
        :title="module.content.title"
        :url="module.content.url">
      </section-header>
      <div class="featured standard">
        <preview-item v-for="(item, index) in module.content.featured"
          :item="item"
          :key="index">
        </preview-item>
        <preview-item v-for="(item, index) in module.content.standard"
          :item="item"
          :key="index">
        </preview-item>
      </div>
    </div>
    <div v-if="showInterestsGrid(module)" :data-layout="module.layout" class="interests-grid"
      :class="{ 'has-title':moduleHasTitle(module) }">
      <section-header v-if="moduleHasTitle(module)"
        :title="interestsGridTitle">
      </section-header>
      <filterable-grid
        :filters="module.content.filters"
        :items="module.content.standard"
        :is-interactive-map="true"
        @filterItemWasClicked="filterItemWasClicked">
      </filterable-grid>
    </div>
    <div v-if="showStandardGrid(module)" :data-layout="module.layout" class="standard-grid"
      :class="{ 'has-title':moduleHasTitle(module) }">
      <section-header v-if="moduleHasTitle(module)"
        :title="module.content.title"
        :url="module.content.url">
      </section-header>
      <div class="standard">
        <preview-item v-for="(item, index) in module.content.standard"
          :item="item"
          :key="index">
        </preview-item>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash';
import InteractiveMapDestinationCarousel from './InteractiveMapDestinationCarousel.vue';
import PreviewItem from './PreviewItem.vue';

export default {
  name: 'interactive-map-destination-modules',
  components: {
    InteractiveMapDestinationCarousel,
    PreviewItem
  },
  props: {
    modules: {
      type: Array,
      required: true
    },
    tab: {
      type: String,
      required: true
    }
  },
  data() {
    return {}
  },
  methods: {
    accordionHasItems(module) {
      return module.content.content.length > 0;
    },
    /**
     * Find the first interests grid module on the current tab
     * and update the map markers with only the filtered items
     */
    filterItemWasClicked(filters) {
      setTimeout(function() {
        if (_.isEmpty(filters)) {
          window.InteractiveMapEventBus.$emit('filterMapMarkers', []);
          return;
        }

        var visibleItems = jQuery('#interactive-map-destination [data-tab="' + this.tab + '"] [data-layout="interests_grid"] .filter-grid-container article:visible');

        var itemIDs = _.map(visibleItems, function(item) {
          return Number(jQuery(item).attr('data-item'));
        });

        window.InteractiveMapEventBus.$emit('filterMapMarkers', itemIDs);
      }.bind(this), 250);
    },
    gridHasFeaturedItems(module) {
      return module.content.featured.length > 0;
    },
    gridHasStandardItems(module) {
      return module.content.standard.length > 0;
    },
    itemWasClicked(item) {
      this.$emit('itemWasClicked', item);
    },
    moduleHasTitle(module) {
      return !_.isEmpty(module.content.title) && !_.isNull(module.content.title);
    },
    showAccordion(module) {
      return module.layout == 'accordion' && this.accordionHasItems(module);
    },
    showCarousel(module) {
      return module.layout == 'carousel';
    },
    showFeatureGrid(module) {
      return module.layout == 'feature_grid' && this.gridHasFeaturedItems(module) && this.gridHasStandardItems(module);
    },
    showInterestsGrid(module) {
      return module.layout == 'interests_grid' && this.gridHasStandardItems(module);
    },
    showStandardGrid(module) {
      return module.layout == 'standard_grid' && this.gridHasStandardItems(module);
    }
  },
  computed: {
    interestsGridTitle() {
      return VisitEuropeLocales.flexibleContent.interestsGrid.title;
    }
  }
}
</script>
