<template>
<div class="carousel-item"
  :id="uniqueID"
  :data-item="id"
  @click="itemWasClicked">
  <div class="visual"
    :style="{ 'background-image': 'url(' + imagefull + ')'}">
  </div>
  <section class="content">
    <header>
      <h4>{{ title }}</h4>
    </header>
    <div class="blurb" v-html="body"></div>
  </section>
</div>
</template>

<script>
import Shave from 'shave';

export default {
  name: 'interactive-map-destination-carousel-slide',
  props: {
    id: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    body: {
      type: String,
      required: true
    },
    imageinitial: {
      type: String,
      required: true
    },
    imagefull: {
      type: String,
      required: true
    },
    url: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      uniqueID: null
    };
  },
  mounted() {
    this.uniqueID = 'preview-item-' + this.id + '-' + this._uid;
    this.setupEllipsis();
    this.applyEllipsis();
  },
  methods: {
    applyEllipsis() {
      setTimeout(function() {
        Shave('#' + this.uniqueID + ' .content .blurb', 60);
      }.bind(this), 50);
    },
    itemWasClicked() {
      jQuery('#interactive-map-destination .hover:not(#' + this.uniqueID + ')').removeClass('hover');

      if (jQuery('#' + this.uniqueID).hasClass('hover')) {
        if (this.url != '#') {
          window.location = this.url;
        }
      } else {
        jQuery('#' + this.uniqueID).addClass('hover');
        this.$emit('itemWasClicked', this.id);
      }
    },
    setupEllipsis() {
      jQuery(window).on('resize', function() {
        this.applyEllipsis();
      }.bind(this));
    }
  }
}
</script>
