<template>
<div class="interactive-map-destination-carousel">
  <carousel-mini
    :id="id"
    :items="items"
    :force-reload="forceReload"
    :slide-index="slideIndex"
    @slideWasChangedManually="slideWasChangedManually">
    <interactive-map-destination-carousel-slide
      v-for="(item, index) in items" :key="index"
      :id="item.id"
      :title="item.title"
      :body="item.body"
      :imageinitial="item.imageinitial"
      :imagefull="item.imagefull"
      :url="item.url"
      @itemWasClicked="itemWasClicked">
    </interactive-map-destination-carousel-slide>
  </carousel-mini>
</div>
</template>

<script>
import _ from 'lodash';
import CarouselMini from './CarouselMini.vue';
import DestinationCarouselValidator from './../validators/DestinationCarouselValidator';
import InteractiveMapDestinationCarouselSlide from './InteractiveMapDestinationCarouselSlide.vue'

export default {
  name: 'interactive-map-destination-carousel',
  components: {
    CarouselMini,
    InteractiveMapDestinationCarouselSlide
  },
  props: {
    id: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      required: true,
      validator: function(value) {
        return DestinationCarouselValidator.validate(value);
      }
    }
  },
  data() {
    return {
      forceReload: false,
      slideIndex: null
    };
  },
  mounted() {
    window.InteractiveMapEventBus.$on('interactiveMapRequestCarouselByItemID', function(itemID) {
      this.setIndexByItemID(itemID);
    }.bind(this));
  },
  methods: {
    itemWasClicked(itemID) {
      _.forEach(this.items, function(item) {
        if (item.id == itemID) {
          window.InteractiveMapEventBus.$emit('itemWasSelected', item);
          return false;
        }
      });
    },
    setIndexByItemID(itemID) {
      _.forEach(this.items, function(item, index) {
        if (item.id == itemID) {
          this.slideIndex = index;
          return false;
        }
      }.bind(this));
    },
    slideWasChangedManually(item, index) {
      if (!_.isUndefined(item)) {
        window.InteractiveMapEventBus.$emit('itemWasSelected', item);
      }
    }
  }
}
</script>
