<template>
<article class="preview standard-preview"
  :id="uniqueID"
  :class="classString"
  :data-item="id">
  <a href="#" @click.prevent="itemWasClicked($event)">
    <section is="blurry-background-image"
      :initial="imageinitial"
      :full="imagefull">
      <span class="tag label label-primary">{{ type }}</span>
    </section>
    <section class="content">
      <span class="save save-icon"></span>
      <header>
        <h4>{{ title }}</h4>
      </header>
      <div class="blurb">
        <p v-html="body"></p>
      </div>
    </section>
  </a>
</article>
</template>

<script>
export default {
    name: 'interactive-map-trips-item',
    props: {
      id: {
        type: Number,
        required: true
      },
      imageinitial: {
        type: String,
        required: true
      },
      imagefull: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      url: {
        type: String,
        required: true
      },
      overlays: {
        type: Array,
        required: true
      }
    },
    mounted() {
      this.setupHover();
    },
    data() {
      return {
        type: VisitEuropeLocales.trip.tag
      };
    },
    methods: {
      itemWasClicked($event) {
        if ($event.target.className == "save save-icon") {
          window.EventBus.$emit('previewItemWasClicked', this.id, VisitEurope.options.customPostTypes.trips.types.trip, $event);
        } else {
          if (jQuery($event.currentTarget).hasClass('hover')) {
            window.location = this.url;
          }
        }
      },
      setupHover() {
        var _this = this;

        jQuery('body').on('mouseenter', '#' + this.uniqueID, function() {
          jQuery('#interactive-map .preview.hover').removeClass('hover');
          jQuery(this).addClass('hover');

          _this.updateMapOverlays(_this.overlays);

          // Offset the class addition to allow for mobile tapping
          setTimeout(function() {
            jQuery(this).addClass('hover');
          }.bind(this), 10);
        });

        jQuery('body').on('mouseleave', '#' + this.uniqueID, function() {
          jQuery(this).removeClass('hover');
          _this.updateMapOverlays([]);
        });
      },
      updateMapOverlays(overlays) {
        this.$emit('updateMapOverlays', overlays);
      }
    },
    computed: {
      uniqueID () {
        return 'trips-item-' + this._uid + '-' + this.id;
      }
    }
}
</script>
