<template>
<div id="interactive-map-destination" class="sidebar-inner ps--active-y">
  <div class="sidebar-inner-content">
    <section class="sidebar-header">
      <header>
        <h1>
          <small>{{ subtitle }}</small>
          {{ destinationTitle }}
        </h1>
      </header>
      <nav>
        <ul class="hidden-xs hidden-sm nav nav-pills">
          <li v-for="(tab, key) in tabs" v-if="hasTabContentByKey(key)" role="presentation"
            :class="{ active:isSelectedTabByKey(key) }">
            <a href="#" @click.prevent="selectTabByKey(key)">
              {{ tab }}
            </a>
          </li>
        </ul>
        <div class="dropdown visible-xs visible-sm">
          <a id="interactive-map-destination-mobile-nav" href="#"
            role="button" class="btn btn-default btn-block"
            data-target="" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"
            @click.prevent="">
            {{ selectedTabName }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="interactive-map-destination-mobile-nav">
            <li v-for="(tab, key) in tabs" v-if="hasTabContentByKey(key)" role="presentation"
              :class="{ active:isSelectedTabByKey(key) }">
              <a href="#" @click.prevent="selectTabByKey(key)">
                {{ tab }}
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <section class="sidebar-content">
      <div class="sidebar-content-inner">
        <div v-if="hasDestination" class="destination">
          <div data-tab="tab1" v-if="isSelectedTabByKey('tab1')">
            <div class="intro-visuals">
              <div class="pointers" v-if="hasPointers">
                <ul>
                  <li class="pointer"
                    v-for="(pointer, index) in destination.extras.pointers"
                    :class="pointerClasses(pointer.type)">
                    <span class="title">{{ pointer.title }}</span>
                    <a class="subtitle" target="_blank"
                      v-if="pointerHasUrl(pointer)"
                      :href="pointer.url">
                      {{ pointer.subtitle }}
                    </a>
                    <span v-if="!pointerHasUrl(pointer)" class="subtitle">
                      {{ pointer.subtitle }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="col-sm-12" :class="weatherClasses" v-if="isCountry">
                <weather :item="destination.extras.weather"></weather>
              </div>
            </div>
            <section class="intro">
              <div v-html="destination.body"></div>
            </section>
            <interactive-map-destination-modules
              v-if="hasTabContentByKey('tab1')"
              :modules="selectedTabModules"
              :tab="'tab1'">
            </interactive-map-destination-modules>
          </div>
          <div data-tab="tab2" v-if="showTabContentByKey('tab2')">
            <interactive-map-destination-modules
              :modules="selectedTabModules"
              :tab="'tab2'">
            </interactive-map-destination-modules>
          </div>
          <div data-tab="tab3" v-if="showTabContentByKey('tab3')">
            <interactive-map-destination-modules
              :modules="selectedTabModules"
              :tab="'tab3'">
            </interactive-map-destination-modules>
          </div>
          <div data-tab="tab4" v-if="showTabContentByKey('tab4')">
            <interactive-map-destination-modules
              :modules="selectedTabModules"
              :tab="'tab4'">
            </interactive-map-destination-modules>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</template>

<script>
import _ from 'lodash';
import DestinationValidator from './../validators/DestinationValidator';
import InteractiveMapDestinationHelper from './../helpers/InteractiveMapDestinationHelper';
import InteractiveMapDestinationModules from './InteractiveMapDestinationModules.vue';
import jQuery from 'jquery';
import PerfectScrollbar from 'perfect-scrollbar/jquery';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'interactive-map-destination',
  components: {
    InteractiveMapDestinationModules
  },
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      defaultTab: 'tab1',
      destination: null,
      items: {},
      markers: [],
      tabs: VisitEuropeLocales.destination.tabs,
      scrollContainerTop: 0,
      selectedTab: 'tab1',
      subtitle: VisitEuropeLocales.destination.subtitle,
    };
  },
  mounted() {
    jQuery('#interactive-map-destination').perfectScrollbar({
      suppressScrollX: true,
      suppressScrollY: false
    });

    this.selectTabByKey(this.defaultTab);
    this.fetchDestination();

    window.InteractiveMapEventBus.$on('infoBoxWasOpened', function(item) {
      this.selectItem(item);
    }.bind(this));
  },
  methods: {
    fetchDestination() {
      window.InteractiveMapEventBus.$emit('loadingStarted');

      VisitEuropeApi.getDestination(this.id)
        .then(response => {
          this.handleSuccessResponse(response);
        }, response => {
          this.handleErrorResponse(response);
        });
    },
    handleSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (this.isValidDestination(json)) {
            this.destination = json;
            this.updateMarkersWithModuleItems();
            window.InteractiveMapEventBus.$emit('setParentName', this.destinationTitle);
          } else {
            this.handleErrorResponse(response);
          }

          jQuery('#interactive-map-destination').perfectScrollbar('update');
          window.InteractiveMapEventBus.$emit('loadingCompleted');
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleErrorResponse(response);
        }.bind(this));
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.fetchDestination, this.handleErrorResponse)
      } else {
        this.destination = null;
        jQuery('#interactive-map-destination').perfectScrollbar('update');
        window.InteractiveMapEventBus.$emit('loadingCompleted');
      }
    },
    hasTabContentByKey(key) {
      return this.hasDestination && !_.isUndefined(this.destination.modules) && !_.isUndefined(this.destination.modules[key]);
    },
    isSelectedTabByKey(key) {
      return this.selectedTab == key
    },
    isValidDestination(destination) {
      return DestinationValidator.validate(destination);
    },
    modulesForTabByKey(key) {
      if (this.hasDestination && this.hasTabContentByKey(key)) {
        return this.destination.modules[key];
      }

      return [];
    },
    pointerClasses(type) {
      return {
        ['pointer-' + _.kebabCase(type)]: true
      };
    },
    pointerHasUrl(pointer) {
      return !_.isUndefined(pointer.url) && !_.isEmpty(pointer.url) && pointer.url != '#';
    },
    scrollToItemOnTab(tabKey, moduleKey, itemID) {
      var element = null;
      var elementSlide = null;

      if (_.isUndefined(tabKey) || _.isUndefined(moduleKey) || _.isUndefined(itemID)) {
        return;
      }

      jQuery('#interactive-map-destination .hover').removeClass('hover');

      // Find the slide, and then the parent carousel
      if (moduleKey === 'carousel') {
        elementSlide = jQuery('#interactive-map-destination [data-tab="' + tabKey + '"] [data-layout="' + moduleKey + '"] [data-item="' + itemID + '"]:not(.slick-cloned)').first();
        element = elementSlide.parents('[data-layout="carousel"]').first();

      // Find the item
      } else {
        element = jQuery('#interactive-map-destination [data-tab="' + tabKey + '"] [data-layout="' + moduleKey + '"] [data-item="' + itemID + '"]').first();
      }

      // Scroll container position: element + navbar + sidebar.margin + visual.space
      if (!_.isUndefined(element) && !_.isUndefined(element.position())) {
        if (jQuery(window).width() <= 991) {
          this.scrollContainerTop = element.position().top + 115;
        } else {
          this.scrollContainerTop = element.position().top - 130;
        }

        // Switch the Carousel slide
        if (moduleKey === 'carousel') {
          elementSlide.addClass('hover');
          window.InteractiveMapEventBus.$emit('interactiveMapRequestCarouselByItemID', itemID);
        } else {
          element.addClass('hover');
        }
      }
    },
    selectItem(item) {
      jQuery('#interactive-map-destination .hover').removeClass('hover');

      if (_.isNull(item) || _.isUndefined(item) || !this.destination) {
        return;
      }

      // Attempt to find the tab of the given item
      let modules = this.destination.modules;
      let selectedTab = this.selectedTab;
      let tabData = InteractiveMapDestinationHelper.getTabKeyOfItem(modules, selectedTab, item);

      if (!_.isObject(tabData) || _.isUndefined(tabData.key) || _.isUndefined(tabData.module)
        || _.isNull(tabData.key) || _.isNull(tabData.module)) {
        return;
      }

      // Navigate to the tab and scroll down to the item
      if (this.selectedTab != tabData.key) {
        this.selectTabByKey(tabData.key);
      }

      setTimeout(function() {
        this.scrollToItemOnTab(tabData.key, tabData.module, item.id);
      }.bind(this), 50);
    },
    selectTabByKey(key) {
      if (!_.isUndefined(this.tabs[key])) {
        this.selectedTab = key
      } else {
        this.selectedTab = this.defaultTab;
      }

      window.InteractiveMapEventBus.$emit('tabWasSelected', key);
    },
    showTabContentByKey(key) {
      return this.hasTabContentByKey(key) && this.isSelectedTabByKey(key);
    },
    updateMarkersWithModuleItems() {
      this.markers = [];

      if (!this.hasDestination) {
        return;
      }

      let modules = _.cloneDeep(this.destination.modules);
      this.markers = InteractiveMapDestinationHelper.getMarkersFromModules(modules);
    }
  },
  computed: {
    destinationTitle() {
      if (this.hasDestination && this.destination.title) {
        return this.destination.title;
      }

      return '';
    },
    hasDestination() {
      return !_.isNull(this.destination);
    },
    hasExtras() {
      return this.hasDestination && !_.isUndefined(this.destination.extras);
    },
    hasPointers() {
      return this.hasDestination && this.hasExtras && !_.isUndefined(this.destination.extras.pointers) && _.isArray(this.destination.extras.pointers) && this.destination.extras.pointers.length > 0;
    },
    isCountry() {
      return this.hasDestination && this.destination.type == "COUNTRY";
    },
    isRegion() {
      return this.hasDestination && this.destination.type == "REGION";
    },
    selectedTabModules() {
      return this.modulesForTabByKey(this.selectedTab);
    },
    selectedTabName() {
      if (!_.isUndefined(this.tabs[this.selectedTab])) {
        return this.tabs[this.selectedTab];
      }

      return '';
    },
    weatherClasses() {
      return {
        'weather': true,
        'col-sm-6': this.hasPointers,
        'col-sm-12': !this.hasPointers
      }
    }
  },
  watch: {
    markers: function (value) {
      if (_.isArray(value)) {
        window.InteractiveMapEventBus.$emit('updateMapMarkers', value);
      } else {
        window.InteractiveMapEventBus.$emit('updateMapMarkers', []);
      }

      window.InteractiveMapEventBus.$emit('fitMapToMarkerBounds');
    },
    scrollContainerTop: function(value) {
      if (_.isNumber(value)) {
        jQuery('#interactive-map-destination').animate({
          scrollTop: value
        }, 400);
      }
    }
  }
}
</script>
