<template>
<section id="message-modal" :class="classes">
  <modal @close="close">
    <div slot="body">
      <div v-html="body"></div>
    </div>
  </modal>
</section>
</template>

<script>
import _ from 'lodash';

export default {
  name: 'message-modal',
  props: {
    body: {
      type: String,
      required: true
    },
    closeEvent: {
      type: String,
      required: false,
      default: '',
    },
    outerClass: {
      type: String,
      required: false,
      default: '',
    }
  },
  data() {
    return {}
  },
  methods: {
    close() {
      window.EventBus.$emit('closeMessageModal');

      if (!_.isEmpty(this.closeEvent)) {
        window.EventBus.$emit(this.closeEvent);
      }
    }
  },
  computed: {
    classes() {
      return {
        [this.outerClass]: true
      };
    }
  }
}
</script>
