<template>
<div class="modal fade in" tabindex="-1" role="dialog" :id="uniqueID">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div v-if="loading" class="loading">
        <span class="loading-icon"></span>
      </div>
      <div class="modal-header" v-if="!hasHeaderImage">
        <button type="button" class="close" @click="close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          {{ title }}
          <small v-if="hasSubtitle">
            {{ subtitle }}
          </small>
        </h4>
      </div>
      <div class="modal-header" v-if="hasHeaderImage"
        is="blurry-background-image"
        :initial="headerImageInitial"
        :full="headerImageFull">
        <button type="button" class="close" @click="close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          {{ title }}
          <small v-if="hasSubtitle">
            {{ subtitle }}
          </small>
        </h4>
     </div>
      <div v-if="hasBody" class="modal-body">
        <slot name="body"></slot>
      </div>
      <div v-if="hasFooter" class="modal-footer">
        <slot name="footer"></slot>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash';

export default {
  props: {
    closeEvent: {
      type: String,
      required: false,
      default: '',
    },
    id: {
      type: String,
      required: false,
      default: 'modal'
    },
    headerImageInitial: {
      type: String,
      required: false,
      default: null
    },
    headerImageFull: {
      type: String,
      required: false,
      default: null
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    subtitle: {
      type: String,
      required: false,
      default: null
    },
    title: {
      type: String,
      required: false,
      default: ' '
    }
  },
  data() {
    return {}
  },
  methods: {
    close() {
      this.$emit('close');

      if (!_.isEmpty(this.closeEvent)) {
        window.EventBus.$emit(this.closeEvent);
      }
    }
  },
  computed: {
    hasBody() {
      return !_.isUndefined(this.$slots.body);
    },
    hasFooter() {
      return !_.isUndefined(this.$slots.footer);
    },
    hasHeaderImage() {
      return !_.isNull(this.headerImageInitial) && !_.isNull(this.headerImageFull);
    },
    hasSubtitle() {
      return !_.isNull(this.subtitle);
    },
    uniqueID() {
      return this.id + '-' + this._uid;
    }
  }
}
</script>
