<template>
<div id="my-trips-create-event">
  <experience-event-create
    :countries="countries"
    :interests="interests"
    :private="true"
    :trip-id="tripId">
  </experience-event-create>
</div>
</template>

<script>
import ExperienceEventCreate from './ExperienceEventCreate.vue';
import InterestGroupsValidator from './../validators/InterestGroupsValidator';
import Validator from './../validators/Validator';

export default {
  name: 'my-trips-create-event',
  components: {
    ExperienceEventCreate
  },
  props: {
    countries: {
      type: Array,
      required: true,
      validator: function(value) {
        return Validator.isArrayWithKeyAndTitle(value);
      }
    },
    interests: {
      type: Array,
      required: true,
      validator: function(value) {
        return InterestGroupsValidator.validateForDropdown(value);
      }
    },
    tripId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      //
    }
  }
}
</script>
