<template>
<section id="my-trips-items">
  <section class="container usertrip-items-filter">
    <h2>{{ title }}</h2>
    <div class="filter-container">
      <span class="btn btn-link btn-sm" v-for="(tab, key) in tabs"
        :class="{ active:isTabSelected(key) }"
        @click="selectTab(key)">
        {{ tab }}
      </span>
    </div>
  </section>
  <section class="container standard-grid standard-article section-default experiences"
    :class="classes">
    <section class="standard-grid-size-full standard-grid-type-article">
      <div class="grid-container">
        <section class="standard">
          <div class="standard-container">
            <div class="article-container article-create-container">
              <article class="preview create-preview">
                <a :href="addEventUrl">
                  <section class="visual">
                    <header>
                      <h4 v-html="addEvent"></h4>
                    </header>
                  </section>
                </a>
              </article>
            </div>
            <draggable v-model="visibleItems" class="standard-container items-container"
              :class="draggableClasses"
              :move="draggableCanMove"
              @start="onDraggableStart"
              @end="onDraggableEnd">
              <div class="article-container" v-for="(item, index) in visibleItems">
                <preview-item-destination v-if="itemIsDestination(item)"
                  :item="item"
                  @itemWasClicked="itemWasClicked">
                </preview-item-destination>
                <preview-item v-if="itemIsExperience(item)"
                  :item="item"
                  @itemWasClicked="itemWasClicked">
                </preview-item>
              </div>
            </draggable>
          </div>
        </section>
      </div>
    </section>
  </section>
</section>
</template>

<script>
import _ from 'lodash';
import draggable from 'vuedraggable';
import PreviewItem from './PreviewItem.vue';
import PreviewItemDestination from './PreviewItemDestination.vue';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'my-trips-items',
  components: {
    draggable,
    PreviewItem,
    PreviewItemDestination
  },
  props: {
    id: {
      type: Number,
      required: true
    },
    items: {
      type: Array,
      required: true
    }
  },
  mounted() {
    this.visibleItems = this.items;
  },
  data() {
    return {
      draggableOptions: {
        draggable: '.article-container',
        handle: '.article-container'
      },
      isDragging: false,
      orderedItemIDs: [],
      selectedTab: 'ALL',
      tabs: {
        'ALL': VisitEuropeLocales.myTrips.items.tabs.all,
        'PLACES': VisitEuropeLocales.myTrips.items.tabs.places,
        'THINGS': VisitEuropeLocales.myTrips.items.tabs.things
      },
      visibleItems: []
    }
  },
  methods: {
    draggableCanMove() {
      return this.isTabSelected('ALL');
    },
    handleSuccessResponse(response) {
      // No response
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.saveUpdatedItemsOrder, this.handleErrorResponse)
      }
      // No response
    },
    isTabSelected(key) {
      return this.selectedTab === key;
    },
    itemIsDestination(item) {
      let types = VisitEurope.options.customPostTypes.destinations.types;
      return !_.isNull(this.item) && VisitEurope.helper.isTypeFoundInObjectKeys(item.type, types);
    },
    itemIsExperience(item) {
      let types = VisitEurope.options.customPostTypes.experiences.types;
      return !_.isNull(this.item) && VisitEurope.helper.isTypeFoundInObjectKeys(item.type, types);
    },
    itemWasClicked(item) {
      window.location = item.url;
    },
    onDraggableEnd(e) {
      this.isDragging = false;
      var reOrderedItemIDs = [];

      _.forEach(this.visibleItems, function(item, index) {
        reOrderedItemIDs.push(item.id);
      });

      // Update the order
      this.orderedItemIDs = reOrderedItemIDs;
      this.saveUpdatedItemsOrder();

      // Update preview images
      this.updatePreviewImages();
    },
    onDraggableStart(e) {
      this.isDragging = true;
    },
    saveUpdatedItemsOrder() {
      VisitEuropeApi.postUserTripUpdateItemsOrder(this.id, this.orderedItemIDs)
        .then(response => {
          this.handleSuccessResponse(response);
        }, response => {
          this.handleErrorResponse(response);
        });
    },
    selectTab(key) {
      this.selectedTab = key;

      switch (key) {
        case 'THINGS':
          this.setVisibleItemsToThings();
          break;
        case 'PLACES':
          this.setVisibleItemsToPlaces();
          break;
        default:
          this.visibleItems = this.items;
          break;
      }
    },
    setVisibleItemsToPlaces() {
      let cloned = _.cloneDeep(this.items);

      this.visibleItems = _.filter(cloned, function(value, index) {
        return this.itemIsDestination(value);
      }.bind(this));
    },
    setVisibleItemsToThings() {
      let cloned = _.cloneDeep(this.items);

      this.visibleItems = _.filter(cloned, function(value, index) {
        return this.itemIsExperience(value);
      }.bind(this));
    },
    updatePreviewImages() {
      // For some reason the background images don't update on drag end
      _.forEach(this.visibleItems, function(item, index) {
        jQuery('#my-trips-items .standard-container.items-container .article-container:nth-of-type(' + Number(index + 1) + ')')
          .find('.visual-preload')
          .attr('style', 'background-image: url(' + item.imagefull + ');');
      });
    }
  },
  computed: {
    addEvent() {
      return VisitEuropeLocales.myTrips.items.addEvent;
    },
    addEventUrl() {
      return VisitEuropeUrls.pages.accountTripsCreate + '?trip=' + this.id;
    },
    classes() {
      return {
        ['tab-' + this.selectedTab.toLowerCase()]: true,
        'has-places': this.hasAtLeastOnePlaces,
        'has-things': this.hasAtLeastOneThings
      };
    },
    draggableClasses() {
      return {
        'is-dragging': this.isDragging
      }
    },
    hasAtLeastOneThings() {
      var result = false;

      _.forEach(this.items, function(item, index) {
        if (this.itemIsExperience(item)) {
          result = true;
          return;
        }
      }.bind(this));

      return result;
    },
    hasAtLeastOnePlaces() {
      var result = false;

      _.forEach(this.items, function(item, index) {
        if (this.itemIsDestination(item)) {
          result = true;
          return;
        }
      }.bind(this));

      return result;
    },
    title() {
      return VisitEuropeLocales.myTrips.items.title;
    }
  }
}
</script>
