<template>
<section id="my-trips-modal-select">
  <div class="existing-trips">
    <button type="button" class="close" @click.prevent="close">
      <span aria-hidden="true">×</span>
    </button>
    <div class="inner">
      <h3>{{ title }}</h3>
      <div class="search">
        <input type="text" class="form-control" v-model="searchTerm"
          :placeholder="searchPlaceholder">
        <span @click="filterUserTrips" class="search-icon"></span>
      </div>
      <div class="trip-list">
        <div v-if="hasUserTrips">
          <h5>{{ allTrips }}</h5>
          <ul v-if="hasVisibleUserTrips">
            <li v-for="(userTrip, index) in visibleUserTrips"
              :key="index">
              <my-trips-user-trip-item
                :item="userTrip"
                @userTripWasSelected="userTripWasSelected">
              </my-trips-user-trip-item>
            </li>
          </ul>
          <p class="no-trips" v-if="!hasVisibleUserTrips">
            {{ noVisibleUserTrips }}
          </p>
        </div>
        <div v-if="!hasUserTrips">
          <p class="no-trips">
            {{ noUserTrips }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="create-trip">
    <div class="trip-list">
      <ul>
        <li>
          <a href="#" @click.prevent="createTripWasSelected">
            <div class="visual"></div>
            <span class="title">{{ createTrip }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
</template>

<script>
import _ from 'lodash';
import jQuery from 'jquery';
import PerfectScrollbar from 'perfect-scrollbar/jquery';
import MyTripsUserTripItem from './MyTripsUserTripItem.vue';

export default {
  name: 'my-trips-modal-select',
  components: {
    MyTripsUserTripItem
  },
  props: {
    userTrips: {
      type: Array,
      required: false,
      default: []
    }
  },
  mounted() {
    jQuery('#my-trips-modal-select .existing-trips').perfectScrollbar({
      suppressScrollX: true,
      suppressScrollY: false
    });

    this.filterUserTrips('');
  },
  data() {
    return {
      loading: false,
      searchTerm: '',
      visibleUserTrips: []
    }
  },
  methods: {
    close() {
      window.EventBus.$emit('closeMyTripsModal');
    },
    createTripWasSelected() {
      this.$emit('createWasPressed');
    },
    filterUserTrips(searchTerm) {
      var visibleUserTrips = [];
      var hasSearchTerm = false;

      if (!_.isUndefined(searchTerm) && !_.isEmpty(searchTerm) && !_.isNull(searchTerm)) {
        hasSearchTerm = true;
      }

      _.forEach(this.userTrips, function(userTrip, index) {
        if (!hasSearchTerm) {
          visibleUserTrips.push(userTrip);
        } else {
          if (_.lowerCase(userTrip.title).indexOf(_.lowerCase(searchTerm)) > -1) {
            visibleUserTrips.push(userTrip);
          }
        }
      });

      this.visibleUserTrips = visibleUserTrips;
      jQuery('#my-trips-modal-select .existing-trips').perfectScrollbar('update');
    },
    userTripWasSelected(userTrip) {
      this.$emit('userTripWasSelected', userTrip);
    }
  },
  computed: {
    allTrips() {
      return VisitEuropeLocales.myTrips.modal.select.allTrips;
    },
    createTrip() {
      return VisitEuropeLocales.myTrips.modal.select.create;
    },
    hasUserTrips() {
      return _.isArray(this.userTrips) && !_.isEmpty(this.userTrips);
    },
    hasVisibleUserTrips() {
      return this.hasUserTrips && _.isArray(this.visibleUserTrips) && !_.isEmpty(this.visibleUserTrips);
    },
    noUserTrips() {
      return VisitEuropeLocales.myTrips.modal.select.empty;
    },
    noVisibleUserTrips() {
      return VisitEuropeLocales.myTrips.modal.select.emptySearch;
    },
    searchPlaceholder() {
      return VisitEuropeLocales.myTrips.modal.select.search;
    },
    title() {
      return VisitEuropeLocales.myTrips.modal.select.title;
    }
  },
  watch: {
    searchTerm: function(newValue) {
      this.filterUserTrips(newValue);
    },
    userTrips: function(newValue) {
      this.filterUserTrips('');
    }
  }
}
</script>
