<template>
<article :id="uniqueID" class="user-trip-item">
  <a href="#" @click.prevent="userTripWasSelected(userTrip)">
    <blurry-background-image
      :initial="item.imageinitial"
      :full="item.imagefull">
    </blurry-background-image>
    <span class="title" v-html="item.title"></span>
  </a>
</article>
</template>

<script>
import UserTripValidator from './../validators/UserTripValidator';

export default {
  name: 'my-trips-user-trip-item',
  props: {
    item: {
      type: Object,
      required: true,
      validator: function(value) {
        return UserTripValidator.validate(value);
      }
    }
  },
  data() {
    return {
      //
    }
  },
  methods: {
    userTripWasSelected() {
      this.$emit('userTripWasSelected', this.item);
    }
  },
  computed: {
    uniqueID() {
      return 'user-trip-item-' + this._uid;
    }
  }
}
</script>
