<template>
<section id="my-trips-modal" :class="classes">
  <modal
    :loading="loading">
    <div slot="body">
      <div v-if="hasError" class="form-error">
        <div class="alert alert-danger">
          <p>{{ formError }}</p>
          <div class="btn-container single">
            <a href="#" class="btn btn-block btn-primary btn-lg"
              @click.prevent="close">
              {{ closeButton }}
            </a>
          </div>
        </div>
      </div>
      <div class="inner" v-if="isSave && !hasError">
        <my-trips-modal-save
          :user-trip="userTrip"
          :item-id="itemId"
          :item-type="itemType"
          :save="requiresSaving"
          @loadingComplete="loadingComplete"
          @loadingStarted="loadingStarted">
        </my-trips-modal-save>
      </div>
      <div class="inner" v-if="!isSave && !hasError">
        <div class="preview-container">
          <preview-item-destination v-if="isDestination"
            :item="item">
          </preview-item-destination>
          <preview-item v-if="isExperience"
            :item="item">
          </preview-item>
        </div>
        <div class="interactive-container">
          <my-trips-modal-create v-if="isCreate"
            :item-id="itemId"
            :item-type="itemType"
            @cancelWasPressed="cancelWasPressed"
            @loadingComplete="loadingComplete"
            @loadingStarted="loadingStarted"
            @userTripWasCreated="userTripWasCreated">
          </my-trips-modal-create>
          <my-trips-modal-select v-if="isSelect"
            :user-trips="userTrips"
            @createWasPressed="createWasPressed"
            @userTripWasSelected="userTripWasSelected">
          </my-trips-modal-select>
        </div>
      </div>
    </div>
  </modal>
</section>
</template>

<script>
import _ from 'lodash';
import DestinationValidator from './../validators/DestinationValidator';
import ExperiencePreviewValidator from './../validators/ExperiencePreviewValidator';
import MyTripsModalCreate from './MyTripsModalCreate.vue';
import MyTripsModalSave from './MyTripsModalSave.vue';
import MyTripsModalSelect from './MyTripsModalSelect.vue';
import PreviewItem from './PreviewItem.vue';
import PreviewItemDestination from './PreviewItemDestination.vue';
import UserTripValidator from './../validators/UserTripValidator';
import UserTripsModalValidator from './../validators/UserTripsModalValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'my-trips-modal',
  components: {
    MyTripsModalCreate,
    MyTripsModalSave,
    MyTripsModalSelect,
    PreviewItem,
    PreviewItemDestination
  },
  props: {
    initialLayout: {
      type: String,
      required: false,
      default: ''
    },
    itemId: {
      type: Number,
      required: false,
      default: null
    },
    itemType: {
      type: String,
      required: false,
      default: null
    },
    redirectTo: {
      type: String,
      required: false,
      default: ''
    }
  },
  mounted() {
    if (!_.isEmpty(this.initialLayout)) {
      this.layout = this.initialLayout;
    }

    // Trips can't be inside trips, so we'll save this automatically
    if (!this.isNewEmptyUserTrip && this.itemType.toLowerCase() === 'trip') {
      this.createUserTripFromTrip();
    } else {
      this.fetchUserTripsModal();
    }
  },
  data() {
    return {
      formError: '',
      item: null,
      layout: VisitEurope.options.myTripsModal.layouts.select,
      loading: false,
      requiresSaving: true,
      userTrip: null,
      userTrips: []
    }
  },
  methods: {
    cancelWasPressed() {
      if (this.isNewEmptyUserTrip) {
        this.close();
      } else {
        this.layout = VisitEurope.options.myTripsModal.layouts.select;
      }
    },
    close() {
      window.EventBus.$emit('closeMyTripsModal');
    },
    createUserTripFromTrip() {
      this.loading = true;

      VisitEuropeApi.postUserTripsModalCreate('', this.itemId, this.itemType)
        .then(response => {
          this.handleCreateSuccessResponse(response);
        }, response => {
          this.handleCreateErrorResponse(response);
        });

      return;
    },
    createWasPressed() {
      return this.layout = VisitEurope.options.myTripsModal.layouts.create;
    },
    fetchUserTripsModal() {
      this.loading = true;

      VisitEuropeApi.postUserTripsModal(this.itemId, this.itemType)
        .then(response => {
          this.handleFetchSuccessResponse(response);
        }, response => {
          this.handleFetchErrorResponse(response);
        });
    },
    handleCreateSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (UserTripValidator.validate(json)) {
            this.userTripWasCreated(json);
          } else {
            this.handleCreateErrorResponse(response);
          }
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleCreateErrorResponse(response);
        }.bind(this));
    },
    handleCreateErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.createUserTripFromTrip, this.handleCreateErrorResponse)
      } else {
        this.loading = false;
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
      }
    },
    handleFetchSuccessResponse(response) {
      this.loading = false;

      response.json()
        .then(function(json) {
          if (UserTripsModalValidator.validate(json)) {
            this.item = json.item;
            this.userTrips = json.userTrips;

            if (_.isEmpty(this.userTrips)) {
              this.layout = VisitEurope.options.myTripsModal.layouts.create;
            }
          } else {
            this.handleFetchErrorResponse(response);
          }
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleFetchErrorResponse(response);
        }.bind(this));
    },
    handleFetchErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.fetchUserTripsModal, this.handleFetchErrorResponse)
      } else {
        // Looks like the user doesn't have permission to access this endpoint
        // launch user verification instead
        if (!_.isUndefined(response.body) && !_.isNull(response.body)
          && !_.isUndefined(response.body.code) && response.body.code === 'rest_forbidden') {
          window.EventBus.$emit('closeMyTripsModal');

          if (_.isString(this.redirectTo) && !_.isEmpty(this.redirectTo)) {
            window.EventBus.$emit('launchUserVerification', '', this.redirectTo);
          } else {
            window.EventBus.$emit('launchUserVerification', '', window.location.href);
          }
        } else {
          this.loading = false;
          this.layout = VisitEurope.options.myTripsModal.layouts.create;
        }
      }
    },
    loadingComplete() {
      this.loading = false;
    },
    loadingStarted() {
      this.loading = true;
    },
    userTripWasCreated(userTrip) {
      this.userTrip = userTrip;
      this.requiresSaving = false;
      this.layout = VisitEurope.options.myTripsModal.layouts.save;
    },
    userTripWasSelected(userTrip) {
      this.userTrip = userTrip;
      this.layout = VisitEurope.options.myTripsModal.layouts.save;
    }
  },
  computed: {
    classes() {
      return {
        ['layout-' + this.layout.toLowerCase()]: true,
        'new-usertrip': this.isNewEmptyUserTrip
      };
    },
    closeButton() {
      return VisitEuropeLocales.myTrips.modal.close;
    },
    hasError() {
      return _.isString(this.formError) && !_.isEmpty(this.formError);
    },
    isCreate() {
      return this.layout === VisitEurope.options.myTripsModal.layouts.create;
    },
    isDestination() {
      let types = VisitEurope.options.customPostTypes.destinations.types;
      return !_.isNull(this.item) && VisitEurope.helper.isTypeFoundInObjectKeys(this.item.type, types);
    },
    isNewEmptyUserTrip() {
      return _.isNull(this.itemId) && _.isNull(this.itemType);
    },
    isExperience() {
      let types = VisitEurope.options.customPostTypes.experiences.types;
      return !_.isNull(this.item) && VisitEurope.helper.isTypeFoundInObjectKeys(this.item.type, types);
    },
    isSave() {
      return this.layout === VisitEurope.options.myTripsModal.layouts.save;
    },
    isSelect() {
      return this.layout === VisitEurope.options.myTripsModal.layouts.select;
    }
  }
}
</script>
