<template>
<div id="my-trips-header-banner">
  <section class="container header-banner layout-strip slides-0">
    <blurry-background-image
      class="banner-slide"
      :initial="imageinitial"
      :full="imagefull">
      <div class="copyright" v-if="hasCopyright">
        <a :href="copyrightUrl" target="_blank" v-if="hasCopyrightUrl" v-html="copyright"></a>
        <span v-if="!hasCopyrightUrl" v-html="copyright"></span>
      </div>
      <div class="banner-inner">
        <div>
          <h1>
            <a :href="backUrl" class="back">
              {{ backLabel }}
            </a>
            <span v-html="name"></span>
            <a href="#" @click.prevent="editButtonWasPressed" class="edit-icon" v-if="editable"></span>
          </h1>
        </div>
      </div>
    </blurry-background-image>
  </section>
  <my-trips-header-banner-modal v-if="showModal"
    :id="id"
    :initial-title="name"
    @close="closeModal"
    @saved="modalWasSaved">
  </my-trips-header-banner-modal>
</div>
</template>

<script>
import _ from 'lodash';
import MyTripsHeaderBannerModal from './MyTripsHeaderBannerModal.vue';

export default {
  name: 'my-trips-header-banner',
  components: {
    MyTripsHeaderBannerModal
  },
  props: {
    copyright: {
      type: String,
      required: false,
      default: '',
    },
    copyrightUrl: {
      type: String,
      required: false,
      default: ''
    },
    editable: {
      type: Boolean,
      required: true
    },
    imageinitial: {
      type: String,
      required: true
    },
    imagefull: {
      type: String,
      required: true
    },
    id: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  },
  mounted() {
    this.name = this.title;

    if (this.editable === true) {
      this.showNameModal = true;
    }
  },
  data() {
    return {
      formError: '',
      loading: false,
      name: '',
      showModal: false
    }
  },
  methods: {
    closeModal() {
      this.showModal = false;
    },
    editButtonWasPressed() {
      this.showModal = true;
    },
    modalWasSaved(title) {
      this.name = title;
      this.closeModal();
    }
  },
  computed: {
    backLabel() {
      return VisitEuropeLocales.myTrips.header.back;
    },
    backUrl() {
      return VisitEuropeUrls.pages.accountTrips;
    },
    hasCopyright() {
      return _.isString(this.copyright) && !_.isEmpty(this.copyright);
    },
    hasCopyrightUrl() {
      return _.isString(this.copyright) && !_.isEmpty(this.copyrightUrl);
    }
  }
}
</script>
