<template>
<section id="my-trips-modal-create">
  <form @submit.prevent="validateAndSubmit">
    <h3>{{ title }}</h3>
    <div class="form-group" :class="{ 'has-error': hasNameError }">
      <label for="myTripsModalCreateName">{{ nameLabel }}</label>
      <input type="text" class="form-control" id="myTripsModalCreateName"
        v-model.lazy="name"
        @blur="$v.name.$touch()">
    </div>
    <div v-if="hasFormErrors" class="alert alert-danger form-error">
      {{ formErrors }}
    </div>
    <div class="btn-container double">
      <button class="btn btn-block btn-primary btn-lg btn-create" type="submit">
        {{ createButton }}
      </button>
      <a href="#" class="btn btn-primary btn-lg btn-block"
        @click.prevent="cancelWasPressed">
        {{ cancelButton }}
      </a>
    </div>
  </form>
</section>
</template>

<script>
import _ from 'lodash';
import { required } from 'vuelidate/lib/validators';
import FormValidator from './../validators/FormValidator';
import UserTripValidator from './../validators/UserTripValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'my-trips-modal-create',
  props: {
    itemId: {
      type: Number,
      required: false,
      default: null
    },
    itemType: {
      type: String,
      required: false,
      default: null
    }
  },
  data() {
    return {
      formError: null,
      loading: false,
      name: ''
    }
  },
  methods: {
    cancelWasPressed() {
      this.$emit('cancelWasPressed');
    },
    handleSuccessResponse(response) {
      response.json()
        .then(function(json) {
          if (UserTripValidator.validate(json)) {
            this.$emit('userTripWasCreated', json);
          } else {
            this.handleErrorResponse(response);
          }
        }.bind(this))
        .catch(function(error) {
          console.log(error);
          this.handleErrorResponse(response);
        }.bind(this));
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.validateAndSubmit, this.handleErrorResponse)
      } else {
        this.loading = false;
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
      }
    },
    validateAndSubmit() {
      this.$v.$touch();
      this.loading = true;

      if (FormValidator.isValid(this.$v)) {
        VisitEuropeApi.postUserTripsModalCreate(this.name, this.itemId, this.itemType)
          .then(response => {
            this.handleSuccessResponse(response);
          }, response => {
            this.handleErrorResponse(response);
          });

        return;
      } else {
        this.loading = false;
      }
    }
  },
  validations: {
    name: {
      required
    }
  },
  computed: {
    cancelButton() {
      return VisitEuropeLocales.myTrips.modal.create.cancel;
    },
    createButton() {
      return VisitEuropeLocales.myTrips.modal.create.create;
    },
    formErrors() {
      var errors = [];

      if (!_.isNull(this.formError)) { errors.push(this.formError); }
      if (this.hasNameError) { errors.push(this.nameError); }

      return errors.join(' ');
    },
    hasNameError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.nameError);
    },
    hasFormErrors() {
      return !_.isEmpty(this.formErrors);
    },
    nameError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'name');
    },
    nameLabel() {
      return VisitEuropeLocales.myTrips.modal.create.name;
    },
    title() {
      return VisitEuropeLocales.myTrips.modal.create.title;
    }
  },
  watch: {
    loading: function(newValue) {
      if (newValue === true) {
        this.$emit('loadingStarted');
      } else {
        this.$emit('loadingComplete');
      }
    }
  }
}
</script>
