<template>
<section id="my-trips-header-banner-modal">
  <form @submit.prevent="validateAndSubmit">
    <modal
      :loading="loading"
      @close="close">
      <div slot="body">
        <div class="form-group" :class="{ 'has-error': hasNameError }">
          <label for="myTripsHeaderBannerModalName">{{ nameLabel }}</label>
          <input type="text" class="form-control" id="myTripsHeaderBannerModalName"
            v-model.lazy="name"
            @blur="$v.name.$touch()">
        </div>
        <div v-if="hasFormErrors" class="alert alert-danger form-error">
          {{ formErrors }}
        </div>
        <div class="btn-container single">
          <button class="btn btn-block btn-primary btn-lg btn-save" type="submit">
            {{ saveButton }}
          </button>
        </div>
      </div>
    </modal>
  </form>
</section>
</template>

<script>
import _ from 'lodash';
import { required } from 'vuelidate/lib/validators';
import FormValidator from './../validators/FormValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'my-trips-header-banner-modal',
  props: {
    id: {
      type: Number,
      required: true
    },
    initialTitle: {
      type: String,
      required: false,
      default: ''
    }
  },
  mounted() {
    this.name = this.initialTitle
  },
  data() {
    return {
      name: '',
      formError: null,
      loading: false,
      password: ''
    }
  },
  methods: {
    close() {
      this.$emit('close');
    },
    handleSuccessResponse(response) {
      this.$emit('saved', this.name);
    },
    handleErrorResponse(response) {
      this.loading = false;
      this.formError = VisitEuropeApi.errorMessageFromResponse(response);
    },
    validateAndSubmit() {
      this.$v.$touch();
      this.loading = true;

      if (FormValidator.isValid(this.$v)) {
        let data = {
          name: this.name
        }

        VisitEuropeApi.postUserTripUpdateDetails(this.id, data)
          .then(response => {
            this.handleSuccessResponse(response);
          }, response => {
            this.handleErrorResponse(response);
          });

        return;
      } else {
        this.loading = false;
      }
    }
  },
  validations: {
    name: {
      required
    }
  },
  computed: {
    formErrors() {
      var errors = [];

      if (!_.isNull(this.formError)) { errors.push(this.formError); }
      if (this.hasNameError) { errors.push(this.nameError); }

      return errors.join(' ');
    },
    hasNameError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.nameError);
    },
    hasFormErrors() {
      return !_.isEmpty(this.formErrors);
    },
    saveButton() {
      return VisitEuropeLocales.myTrips.header.save;
    },
    nameError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'name');
    },
    nameLabel() {
      return VisitEuropeLocales.myTrips.header.name;
    }
  }
}
</script>
