<template>
<section id="my-trips-modal-save">
  <div class="alert alert-danger" v-if="hasError">
    <p>{{ formError }}</p>
    <div class="btn-container single">
      <a href="#" class="btn btn-block btn-primary btn-lg"
        @click.prevent="close">
        {{ closeButton }}
      </a>
    </div>
  </div>
  <div v-if="!hasError">
    <h4>{{ title }}</h4>
    <div class="trip-list">
      <ul>
        <li>
          <my-trips-user-trip-item
            :item="userTrip">
          </my-trips-user-trip-item>
        </li>
      </ul>
    </div>
    <div class="btn-container double">
      <a :href="tripsUrl" class="btn btn-block btn-primary btn-lg">
        {{ tripsButton }}
      </a>
      <a href="#" class="btn btn-block btn-primary btn-lg"
        @click.prevent="close">
        {{ closeButton }}
      </a>
    </div>
  </div>
</section>
</template>

<script>
import _ from 'lodash';
import MyTripsUserTripItem from './MyTripsUserTripItem.vue';
import UserTripValidator from './../validators/UserTripValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'my-trips-modal-save',
  components: {
    MyTripsUserTripItem
  },
  props: {
    userTrip: {
      type: Object,
      required: true,
      validator: function(value) {
        return UserTripValidator.validate(value);
      }
    },
    itemId: {
      type: Number,
      required: false,
      default: null
    },
    itemType: {
      type: String,
      required: false,
      default: null
    },
    save: {
      type: Boolean,
      required: true
    }
  },
  mounted() {
    if (this.save === true) {
      this.saveItemToUserTrip();
    } else {
      this.loading = false;
      this.$emit('loadingComplete');
    }
  },
  data() {
    return {
      formError: '',
      loading: false
    }
  },
  methods: {
    close() {
      window.EventBus.$emit('closeMyTripsModal');
    },
    handleSuccessResponse(response) {
      this.loading = false;
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.saveItemToUserTrip, this.handleErrorResponse)
      } else {
        this.loading = false;
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
      }
    },
    saveItemToUserTrip() {
      this.loading = true;

      VisitEuropeApi.postUserTripsSaveItem(this.userTrip.id, this.itemId, this.itemType)
        .then(response => {
          this.handleSuccessResponse(response);
        }, response => {
          this.handleErrorResponse(response);
        });
    }
  },
  computed: {
    closeButton() {
      return VisitEuropeLocales.myTrips.modal.close;
    },
    hasError() {
      return _.isString(this.formError) && !_.isEmpty(this.formError);
    },
    title() {
      return VisitEuropeLocales.myTrips.modal.save.title;
    },
    tripsButton() {
      return VisitEuropeLocales.myTrips.modal.save.trips;
    },
    tripsUrl() {
      return VisitEuropeUrls.pages.accountTrips;
    }
  },
  watch: {
    loading: function(newValue) {
      if (newValue === true) {
        this.$emit('loadingStarted');
      } else {
        this.$emit('loadingComplete');
      }
    }
  }
}
</script>
