<template>
<article class="preview standard-preview"
  :id="uniqueID"
  :class="classString"
  :data-item="item.id">
  <a href="#" @click.prevent="itemWasClicked($event)">
    <section is="blurry-background-image"
      :id="'preview-' + item.id.toString()"
      :initial="item.imageinitial"
      :full="item.imagefull">
      <span class="tag label label-primary">{{ item.type }}</span>
      <span class="icon"></span>
    </section>
    <section class="content">
      <span class="save save-icon"></span>
      <header>
        <h4>{{ item.title }}</h4>
      </header>
      <div class="blurb">
        <p v-html="item.body"></p>
      </div>
    </section>
  </a>
</article>
</template>

<script>
import _ from 'lodash';
import PreviewAdvertValidator from './../validators/PreviewAdvertValidator';
import PreviewItemValidator from './../validators/PreviewItemValidator';

export default {
  name: 'preview-item',
  props: {
    item: {
      type: Object,
      required: true,
      validator: function(value) {
        if (!_.isUndefined(value.type) && value.type === 'advertisement') {
          return PreviewAdvertValidator.validateItem(value);
        }

        return PreviewItemValidator.validateItem(value);
      }
    },
    isFilterable: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      uniqueID: null
    };
  },
  mounted() {
    this.uniqueID = 'preview-item-' + this.item.id + '-' + this._uid;
  },
  methods: {
    itemWasClicked($event) {
      if ($event.target.className == "save save-icon") {
        window.EventBus.$emit('previewItemWasClicked', this.item.id, this.item.type, $event);
      } else {
        this.$emit('itemWasClicked', this.item);

        if (jQuery('#interactive-map').length > 0) {
          if (jQuery('#' + this.uniqueID).hasClass('hover')) {
            if (jQuery('#interactive-map-user-trip').length > 0) {
              window.location = this.item.url;
            } else {
              window.InteractiveMapEventBus.$emit('launchChildByItem', this.item);
            }
          } else {
            jQuery('#interactive-map .hover').removeClass('hover');
            jQuery('#' + this.uniqueID).addClass('hover');
            window.InteractiveMapEventBus.$emit('itemWasSelected', this.item);
          }
        }
      }
    }
  },
  computed: {
    classString() {
      let preview = this.item.type.toLowerCase() + '-preview';
      let filterable = this.isFilterable ? 'mix' : '';
      let filters = _.map(this.item.filters, function(interest) {
        return 'filter-' + interest;
      }).join(' ');

      return filterable + ' ' + filters + ' ' + preview;
    }
  }
}
</script>
