<template>
<article class="destination-preview country-preview"
  :id="uniqueID"
  :class="classString"
  :data-item="item.id">
  <a :href="item.url" @click.prevent="itemWasClicked($event)">
    <section is="blurry-background-image"
      :initial="item.imageinitial"
      :full="item.imagefull">
      <span class="save save-icon"></span>
      <header>
        <h4>{{ item.title }}</h4>
      </header>
    </section>
  </a>
</article>
</template>

<script>
import _ from 'lodash';
import PreviewItemDestinationValidator from './../validators/PreviewItemDestinationValidator';

export default {
  name: 'preview-item-destination',
  props: {
    item: {
      type: Object,
      required: true,
      validator: function(value) {
        return PreviewItemDestinationValidator.validateItem(value);
      }
    },
    isFilterable: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      uniqueID: null
    };
  },
  mounted() {
    this.uniqueID = 'preview-item-destination' + this.item.id + '-' + this._uid;
  },
  methods: {
    itemWasClicked($event) {
      if ($event.target.className == 'save save-icon') {
        window.EventBus.$emit('previewItemWasClicked', this.item.id, this.item.type, $event);
      } else {
        this.$emit('itemWasClicked', this.item);

        if (jQuery('#' + this.uniqueID).hasClass('hover')) {
          window.location = this.item.url;
        } else {
          jQuery('#interactive-map .hover').removeClass('hover');
          jQuery('#' + this.uniqueID).addClass('hover');
          window.InteractiveMapEventBus.$emit('itemWasSelected', this.item);
        }
      }

      return false;
    }
  },
  computed: {
    classString() {
      let preview = this.item.type.toLowerCase() + '-preview';
      let filterable = this.isFilterable ? 'mix' : '';
      let filters = _.map(this.item.filters, function(interest) {
        return 'filter-' + interest;
      }).join(' ');

      return filterable + ' ' + filters + ' ' + preview;
    }
  }
}
</script>
