<template>
<header class="section-header" v-if="hasTitle"
  :class="{'section-header-w-link':hasUrl }">
  <a class="btn btn-default" v-if="hasUrl"
    :href="url">
    {{ viewAll }}
  </a>
  <h2><span>{{ title }}</span></h2>
</header>
</template>

<script>
import _ from 'lodash';

export default {
  name: 'section-header',
  props: {
    title: {
      type: String,
      required: true
    },
    url: {
      type: String,
      required: false,
      default: ''
    }
  },
  data() {
    return{}
  },
  computed: {
    hasTitle() {
      return !_.isEmpty(this.title) && !_.isNull(this.title);
    },
    hasUrl() {
      return !_.isEmpty(this.url) && !_.isNull(this.url);
    },
    viewAll() {
      return VisitEuropeLocales.sectionHeader.link;
    }
  }
}
</script>
