<template>
<section id="user-account">
  <div v-if="loading" class="loading">
    <span class="loading-icon"></span>
  </div>
  <div v-if="isComplete" class="complete">
    <h4>{{ successTitle }}</h4>
    <div class="blurb" v-html="successBody"></div>
    <div class="btn-container double">
      <a :href="tripsLink" class="btn btn-primary btn-lg btn-block">
        {{ tripsButton }}
      </a>
      <a :href="homeLink" class="btn btn-primary btn-lg btn-block">
        {{ homeButton }}
      </a>
    </div>
  </div>
  <div v-if="!isComplete">
    <form @submit.prevent="validateAndSubmit">
        <div slot="body">
          <div class="form-group" :class="{ 'has-error': hasEmailError }">
            <label for="userVerificationRegisterEmail">{{ emailLabel }}</label>
            <input type="text" class="form-control" id="userVerificationRegisterEmail"
              v-model.lazy="email"
              @blur="$v.email.$touch()">
          </div>
          <h5>{{ passwordTitle }}</h5>
          <div class="form-group" :class="{ 'has-error': hasPasswordError }">
            <label for="userVerificationRegisterPassword">{{ passwordLabel }}</label>
            <input type="password" class="form-control" id="userVerificationRegisterPassword"
              v-model.lazy="password"
              @blur="$v.password.$touch()">
          </div>
          <div class="form-group" :class="{ 'has-error': hasConfirmPasswordError }">
            <label for="userVerificationRegisterPassword">{{ confirmPasswordLabel }}</label>
            <input type="password" class="form-control" id="userVerificationRegisterConfirmPassword"
              v-model.lazy="confirmPassword"
              @blur="$v.confirmPassword.$touch()">
          </div>
          <div v-if="hasFormErrors" class="alert alert-danger form-error">
            {{ formErrors }}
          </div>
          <div class="btn-container single">
            <button class="btn btn-block btn-primary btn-lg btn-register" type="submit">
              {{ submitButton }}
            </button>
          </div>
        </div>
      </modal>
    </form>
  </div>
</section>
</template>

<script>
import _ from 'lodash';
import { email, maxLength, minLength, required, sameAs } from 'vuelidate/lib/validators';
import FormValidator from './../validators/FormValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'user-verification-register-modal',
  props: {
    id: {
      type: Number,
      required: true,
    },
    initialEmail: {
      type: String,
      required: false,
      default: ''
    }
  },
  data() {
    return {
      confirmPassword: '',
      email: '',
      formError: null,
      isComplete: false,
      loading: false,
      password: ''
    }
  },
  mounted() {
    this.email = this.initialEmail;
    this.password = '';
    this.confirmPassword = '';
  },
  methods: {
    close() {
      window.EventBus.$emit('closeUserVerification');
    },
    handleSuccessResponse(response) {
      this.isComplete = true;
      this.loading = false;
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.validateAndSubmit, this.handleErrorResponse)
      } else {
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
        this.loading = false;
      }
    },
    validateAndSubmit() {
      this.$v.$touch();
      this.formError = null;
      this.loading = true;

      if (FormValidator.isValid(this.$v)) {
        VisitEuropeApi.postAccountUpdateAccount(this.id, this.email, this.password)
          .then(response => {
            this.handleSuccessResponse(response);
          }, response => {
            this.handleErrorResponse(response);
          });

        return;
      } else {
        this.loading = false;
      }
    }
  },
  validations: {
    email: {
      required,
      email,
      maxLength: maxLength(60)
    },
    password: {
      minLength: minLength(6),
      maxLength: maxLength(60)
    },
    confirmPassword: {
      sameAs: sameAs('password')
    }
  },
  computed: {
    confirmPasswordError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'confirmPassword');
    },
    confirmPasswordLabel() {
      return VisitEuropeLocales.account.details.password.confirmPassword;
    },
    emailLabel() {
      return VisitEuropeLocales.account.details.email;
    },
    emailError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'email');
    },
    formErrors() {
      var errors = [];

      if (!_.isNull(this.formError)) { errors.push(this.formError); }
      if (this.hasEmailError) { errors.push(this.emailError); }
      if (this.hasPasswordError) { errors.push(this.passwordError); }
      if (this.hasConfirmPasswordError) { errors.push(this.confirmPasswordError); }

      return errors.join(' ');
    },
    hasConfirmPasswordError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.confirmPasswordError);
    },
    hasEmailError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.emailError);
    },
    hasFormErrors() {
      return !_.isEmpty(this.formErrors);
    },
    hasPasswordError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.passwordError);
    },
    homeButton() {
      return VisitEuropeLocales.account.details.success.home;
    },
    homeLink() {
      return VisitEuropeUrls.base;
    },
    passwordError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'password');
    },
    passwordLabel() {
      return VisitEuropeLocales.account.details.password.password;
    },
    passwordTitle() {
      return VisitEuropeLocales.account.details.password.title;
    },
    registerBody() {
      return VisitEuropeLocales.account.details.body;
    },
    submitButton() {
      return VisitEuropeLocales.account.details.button;
    },
    successBody() {
      return VisitEuropeLocales.account.details.success.body;
    },
    successTitle() {
      return VisitEuropeLocales.account.details.success.title;
    },
    tripsButton() {
      return VisitEuropeLocales.account.details.success.trips;
    },
    tripsLink() {
      return VisitEuropeUrls.pages.accountTrips;
    }
  }
}
</script>
