<template>
<section id="user-verification-login">
  <form @submit.prevent="validateAndSubmit">
    <modal
      :title="title"
      :loading="loading"
      @close="close">
      <div slot="body">
        <div v-if="hasFormErrors" class="alert alert-danger form-error">
          {{ formErrors }}
        </div>
        <div class="form-group" :class="{ 'has-error': hasEmailError }">
          <label for="userVerificationLoginEmail">{{ emailLabel }}</label>
          <input type="text" class="form-control" id="userVerificationLoginEmail"
            v-model.lazy="email"
            @blur="$v.email.$touch()">
        </div>
        <div class="form-group" :class="{ 'has-error': hasPasswordError }">
          <label for="userVerificationLoginPassword">{{ passwordLabel }}</label>
          <input type="password" class="form-control" id="userVerificationLoginPassword"
            v-model.lazy="password"
            @blur="$v.password.$touch()">
        </div>
        <p class="forgot">
          <a href="#" @click.prevent="forgotLinkWasPressed"
            v-html="forgotText">{{ forgotText }}</a>
        </p>
        <button class="btn btn-block btn-primary btn-lg btn-login" type="submit">
          {{ loginButton }}
        </button>
        <div class="login-separator">
          {{ separatorText }}
        </div>
        <div class="btn btn-block btn-facebook btn-lg" @click="facebookButtonWasPressed">
          <span>{{ facebookButton }}</span>
        </div>
        <div class="btn btn-block btn-google btn-lg" @click="googleButtonWasPressed">
          <span>{{ googleButton }}</span>
        </div>
        <p class="register">
          <a href="#" @click.prevent="registerLinkWasPressed"
            v-html="registerText"></a>
        </p>
      </div>
    </modal>
  </form>
</section>
</template>

<script>
import _ from 'lodash';
import { required, email } from 'vuelidate/lib/validators';
import FormValidator from './../validators/FormValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'user-verification-login-modal',
  props: {
    initialEmail: {
      type: String,
      required: false,
      default: ''
    },
    redirectTo: {
      type: String,
      required: false,
      default: ''
    }
  },
  data() {
    return {
      formError: null,
      loading: false,
      password: ''
    }
  },
  methods: {
    close() {
      window.EventBus.$emit('closeUserVerification');
    },
    /**
     * User will hopefully grant us access and be successfully logged in w Facebook.
     * Once that happens, we need to check if they have a VE account.
     *   - If they do, then log them in
     *   - If they don't, send an alert to the parent alerting they don't have an account yet
     */
    facebookButtonWasPressed() {
      this.loading = true;

      FB.login(function(response) {
        if (response.status === 'connected') {
          let userID = response.authResponse.userID;
          let accessToken = response.authResponse.accessToken;

          VisitEuropeApi.postUserVerificationLoginWithFacebook(userID, accessToken)
            .then(response => {
              this.handleLoginWithFacebookSuccessResponse(response);
            }, response => {
              this.handleLoginWithFacebookErrorResponse(response);
            });
        } else {
          this.handleLoginWithFacebookErrorResponse(response);
        }
      }.bind(this), { scope: 'email' });
    },
    forgotLinkWasPressed() {
      this.$emit('forgotLinkWasPressed');
    },
    /**
     * User will hopefully grant us access and be successfully logged in w Facebook.
     * Once that happens, we need to check if they have a VE account.
     *   - If they do, then log them in
     *   - If they don't, send an alert to the parent alerting they don't have an account yet
     */
    googleButtonWasPressed() {
      this.loading = true;

      let params = {
        client_id: VisitEuropeUrls.services.google.appID + '.apps.googleusercontent.com',
        scope: 'email openid',
        response_type: 'id_token permission'
      };

      gapi.load('auth2', function() {
        gapi.auth2.authorize(params, function(response) {
          if (response.error || _.isUndefined(response.access_token)) {
            this.handleLoginWithGoogleErrorResponse(response);
          } else {
            VisitEuropeApi.postUserVerificationLoginWithGoogle(response.access_token)
              .then(response => {
                this.handleLoginWithGoogleSuccessResponse(response);
              }, response => {
                this.handleLoginWithGoogleErrorResponse(response);
              });
          }
        }.bind(this), function(response) {
          this.handleLoginWithGoogleErrorResponse(response);
        }.bind(this));
      }.bind(this));
    },
    handleLoginSuccessResponse(response) {
      if (!_.isEmpty(this.redirectTo) && !_.isUndefined(this.redirectTo) && _.isString(this.redirectTo)) {
        window.location = this.redirectTo;
      } else {
        window.location = VisitEuropeUrls.pages.account;
      }
    },
    handleLoginErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.validateAndSubmit, this.handleLoginErrorResponse)
      } else {
        this.loading = false;
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
      }
    },
    handleLoginWithFacebookSuccessResponse(response) {
      this.handleLoginSuccessResponse(response);
    },
    handleLoginWithFacebookErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.facebookButtonWasPressed, this.handleLoginWithFacebookErrorResponse)
      } else {
        this.loading = false;
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
        this.$emit('externalFail', response);
      }
    },
    handleLoginWithGoogleSuccessResponse(response) {
      this.handleLoginSuccessResponse(response);
    },
    handleLoginWithGoogleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.googleButtonWasPressed, this.handleLoginWithGoogleErrorResponse)
      } else {
        this.loading = false;
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
        this.$emit('externalFail', response);
      }
    },
    registerLinkWasPressed() {
      this.$emit('registerLinkWasPressed');
    },
    validateAndSubmit() {
      this.$v.$touch();
      this.loading = true;

      if (FormValidator.isValid(this.$v)) {
        VisitEuropeApi.postUserVerificationLogin(this.email, this.password)
          .then(response => {
            this.handleLoginSuccessResponse(response);
          }, response => {
            this.handleLoginErrorResponse(response);
          });

        return;
      } else {
        this.loading = false;
      }
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  computed: {
    emailError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'email');
    },
    emailLabel() {
      return VisitEuropeLocales.userVerification.login.email;
    },
    facebookButton() {
      return VisitEuropeLocales.userVerification.login.facebook;
    },
    forgotText() {
      let link = '<span>' + VisitEuropeLocales.userVerification.login.forgotLink + '</span>';
      return VisitEuropeLocales.userVerification.login.forgot.replace(':link', link);
    },
    formErrors() {
      var errors = [];

      if (!_.isNull(this.formError)) { errors.push(this.formError); }
      if (this.hasEmailError) { errors.push(this.emailError); }
      if (this.hasPasswordError) { errors.push(this.passwordError); }

      return errors.join(' ');
    },
    googleButton() {
      return VisitEuropeLocales.userVerification.login.google;
    },
    hasEmailError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.emailError);
    },
    hasFormErrors() {
      return !_.isEmpty(this.formErrors);
    },
    hasPasswordError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.passwordError);
    },
    loginButton() {
      return VisitEuropeLocales.userVerification.login.login;
    },
    passwordError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'password');
    },
    passwordLabel() {
      return VisitEuropeLocales.userVerification.login.password;
    },
    registerText() {
      let link = '<span>' + VisitEuropeLocales.userVerification.login.registerLink; + '</span>';
      return VisitEuropeLocales.userVerification.login.register.replace(':link', link);
    },
    separatorText() {
      return VisitEuropeLocales.userVerification.login.optionsSeparator;
    },
    title() {
      return VisitEuropeLocales.userVerification.login.title;
    }
  }
}
</script>
