<template>
<section id="user-verification-verified">
  <modal
    @close="close">
    <div slot="body">
      <h4>{{ title }}</h4>
      <div v-html="body"></div>
      <div class="btn-container double">
        <a :href="tripsURL" class="btn btn-block btn-lg btn-primary">
          {{ tripsButton }}
        </a>
        <a :href="homeURL" class="btn btn-block btn-lg btn-primary">
          {{ homeButton }}
        </a>
      </div>
    </div>
  </modal>
</section>
</template>

<script>

export default {
  name: 'user-verification-verified-modal',
  data() {
    return {}
  },
  methods: {
    close() {
      window.location = VisitEuropeUrls.base;
    }
  },
  computed: {
    body() {
      return VisitEuropeLocales.userVerification.verified.body;
    },
    homeButton() {
      return VisitEuropeLocales.userVerification.verified.homeButton;
    },
    homeURL() {
      return VisitEuropeUrls.base;
    },
    title() {
      return VisitEuropeLocales.userVerification.verified.title;
    },
    tripsButton() {
      return VisitEuropeLocales.userVerification.verified.tripsButton;
    },
    tripsURL() {
      return VisitEuropeUrls.pages.accountTrips;
    }
  }
}
</script>
