<template>
<section id="user-verification-register">
  <form @submit.prevent="validateAndSubmit">
    <modal v-if="isComplete"
      @close="close">
      <div slot="body" v-html="successBody"></div>
    </modal>
    <modal v-if="!isComplete"
      :title="title"
      :loading="loading"
      @close="close">
      <div slot="body">
        <p class="blurb" v-html="registerBody"></p>
        <div v-if="hasFormErrors" class="alert alert-danger form-error">
          {{ formErrors }}
        </div>
        <div class="form-group" :class="{ 'has-error': hasEmailError }">
          <label for="userVerificationRegisterEmail">{{ emailLabel }}</label>
          <input type="text" class="form-control" id="userVerificationRegisterEmail"
            v-model.lazy="email"
            @blur="$v.email.$touch()">
        </div>
        <div class="form-group" :class="{ 'has-error': hasPasswordError }">
          <label for="userVerificationRegisterPassword">{{ passwordLabel }}</label>
          <input type="password" class="form-control" id="userVerificationRegisterPassword"
            v-model.lazy="password"
            @blur="$v.password.$touch()">
        </div>
        <div class="form-group" :class="{ 'has-error': hasConfirmPasswordError }">
          <label for="userVerificationRegisterPassword">{{ confirmPasswordLabel }}</label>
          <input type="password" class="form-control" id="userVerificationRegisterConfirmPassword"
            v-model.lazy="confirmPassword"
            @blur="$v.confirmPassword.$touch()">
        </div>
        <div class="btn-container single">
          <button class="btn btn-block btn-primary btn-lg btn-register" type="submit">
            {{ registerButton }}
          </button>
        </div>
      </div>
    </modal>
  </form>
</section>
</template>

<script>
import _ from 'lodash';
import { email, maxLength, minLength, required, sameAs } from 'vuelidate/lib/validators';
import FormValidator from './../validators/FormValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'user-verification-register-modal',
  props: {
    initialEmail: {
      type: String,
      required: false,
      default: ''
    },
    initialErrors: {
      type: Array,
      required: false,
      default: []
    }
  },
  data() {
    return {
      confirmPassword: '',
      email: '',
      formError: null,
      isComplete: false,
      loading: false,
      password: ''
    }
  },
  mounted() {
    this.email = this.initialEmail;
    this.password = '';
    this.confirmPassword = '';

    if (_.isArray(this.initialErrors) && !_.isEmpty(this.initialErrors)) {
      this.formError = _.join(this.initialErrors, '. ');
    }
  },
  methods: {
    close() {
      window.EventBus.$emit('closeUserVerification');
    },
    handleSuccessResponse(response) {
      this.isComplete = true;
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.validateAndSubmit, this.handleErrorResponse)
      } else {
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
        this.loading = false;
      }
    },
    validateAndSubmit() {
      this.$v.$touch();
      this.formError = null;
      this.loading = true;

      if (FormValidator.isValid(this.$v)) {
        VisitEuropeApi.postUserVerificationRegister(this.email, this.password)
          .then(response => {
            this.handleSuccessResponse(response);
          }, response => {
            this.handleErrorResponse(response);
          });

        return;
      } else {
        this.loading = false;
      }
    }
  },
  validations: {
    email: {
      required,
      email,
      maxLength: maxLength(60)
    },
    password: {
      required,
      minLength: minLength(6),
      maxLength: maxLength(60)
    },
    confirmPassword: {
      required,
      sameAs: sameAs('password')
    }
  },
  computed: {
    body() {
      return VisitEuropeLocales.userVerification.register.body;
    },
    confirmPasswordError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'confirmPassword');
    },
    confirmPasswordLabel() {
      return VisitEuropeLocales.userVerification.register.confirmPassword;
    },
    emailLabel() {
      return VisitEuropeLocales.userVerification.register.email;
    },
    emailError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'email');
    },
    formErrors() {
      var errors = [];

      if (!_.isNull(this.formError)) { errors.push(this.formError); }
      if (this.hasEmailError) { errors.push(this.emailError); }
      if (this.hasPasswordError) { errors.push(this.passwordError); }
      if (this.hasConfirmPasswordError) { errors.push(this.confirmPasswordError); }

      return errors.join(' ');
    },
    hasConfirmPasswordError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.confirmPasswordError);
    },
    hasEmailError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.emailError);
    },
    hasFormErrors() {
      return !_.isEmpty(this.formErrors);
    },
    hasPasswordError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.passwordError);
    },
    passwordError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'password');
    },
    passwordLabel() {
      return VisitEuropeLocales.userVerification.register.password;
    },
    registerBody() {
      return VisitEuropeLocales.userVerification.register.body;
    },
    registerButton() {
      return VisitEuropeLocales.userVerification.register.register;
    },
    successBody() {
      return VisitEuropeLocales.userVerification.register.success.body.replace(':email', '<strong>' + this.email + '</strong>');
    },
    title() {
      return VisitEuropeLocales.userVerification.register.title;
    }
  }
}
</script>
