<template>
<section id="user-verification-forgot">
  <form @submit.prevent="validateAndSubmit">
    <modal v-if="isComplete"
      @close="close">
      <div slot="body" v-html="successBody"></div>
    </modal>
    <modal v-if="!isComplete"
      :title="title"
      :loading="loading"
      @close="close">
      <div slot="body">
        <p class="blurb" v-html="body"></p>
        <div v-if="hasFormErrors" class="alert alert-danger form-error">
          {{ formErrors }}
        </div>
        <div class="form-group" :class="{ 'has-error': hasEmailError }">
          <label for="userVerificationRegisterEmail">{{ emailLabel }}</label>
          <input type="text" class="form-control" id="userVerificationRegisterEmail"
            v-model.lazy="email"
            @blur="$v.email.$touch()">
        </div>
        <div class="btn-container single">
          <button class="btn btn-block btn-primary btn-lg btn-register" type="submit">
            {{ submitButton }}
          </button>
        </div>
      </div>
    </modal>
  </form>
</section>
</template>

<script>
import _ from 'lodash';
import { email, required } from 'vuelidate/lib/validators';
import FormValidator from './../validators/FormValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'user-verification-forgot-modal',
  data() {
    return {
      email: '',
      formError: null,
      isComplete: false,
      loading: false
    }
  },
  mounted() {
    this.password = '';
    this.confirmPassword = '';
  },
  methods: {
    close() {
      window.EventBus.$emit('closeUserVerification');
    },
    handleSuccessResponse(response) {
      this.isComplete = true;
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.validateAndSubmit, this.handleErrorResponse)
      } else {
        this.formError = VisitEuropeLocales.userVerification.forgot.error.unknown;
        this.loading = false;
      }
    },
    validateAndSubmit() {
      this.$v.$touch();
      this.formError = null;
      this.loading = true;

      if (FormValidator.isValid(this.$v)) {
        VisitEuropeApi.postUserVerificationForgot(this.email)
          .then(response => {
            this.handleSuccessResponse(response);
          }, response => {
            this.handleErrorResponse(response);
          });

        return;
      } else {
        this.loading = false;
      }
    }
  },
  validations: {
    email: {
      required,
      email
    }
  },
  computed: {
    body() {
      return VisitEuropeLocales.userVerification.forgot.body;
    },
    emailLabel() {
      return VisitEuropeLocales.userVerification.forgot.email;
    },
    emailError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'email');
    },
    formErrors() {
      var errors = [];

      if (!_.isNull(this.formError)) { errors.push(this.formError); }
      if (this.hasEmailError) { errors.push(this.emailError); }

      return errors.join(' ');
    },
    hasEmailError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.emailError);
    },
    hasFormErrors() {
      return !_.isEmpty(this.formErrors);
    },
    submitButton() {
      return VisitEuropeLocales.userVerification.forgot.button;
    },
    successBody() {
      return VisitEuropeLocales.userVerification.forgot.success.body.replace(':email', '<strong>' + this.email + '</strong>');
    },
    title() {
      return VisitEuropeLocales.userVerification.forgot.title;
    }
  }
}
</script>
