<template>
<section id="user-verification-reset">
  <form @submit.prevent="validateAndSubmit">
    <modal v-if="isComplete"
      @close="close">
      <div slot="body" class="complete">
        <h4>{{ successTitle }}</h4>
        <div v-html="successBody"></div>
        <div class="btn-container single">
          <a href="#" class="btn btn-block btn-primary btn-lg btn-login"
            @click.prevent="login">
            {{ successButton }}
          </a>
        </div>
      </div>
    </modal>
    <modal v-if="!isComplete"
      :title="title"
      :loading="loading"
      @close="close">
      <div slot="body">
        <p class="blurb" v-html="body"></p>
        <div v-if="hasFormErrors" class="alert alert-danger form-error">
          {{ formErrors }}
        </div>
        <div class="form-group" :class="{ 'has-error': hasPasswordError }">
          <label for="userVerificationResetPassword">{{ passwordLabel }}</label>
          <input type="password" class="form-control" id="userVerificationResetPassword"
            v-model.lazy="password"
            @blur="$v.password.$touch()">
        </div>
        <div class="form-group" :class="{ 'has-error': hasConfirmPasswordError }">
          <label for="userVerificationResetPassword">{{ confirmPasswordLabel }}</label>
          <input type="password" class="form-control" id="userVerificationResetConfirmPassword"
            v-model.lazy="confirmPassword"
            @blur="$v.confirmPassword.$touch()">
        </div>
        <div class="btn-container single">
          <button class="btn btn-block btn-primary btn-lg btn-reset" type="submit">
            {{ resetButton }}
          </button>
        </div>
      </div>
    </modal>
  </form>
</section>
</template>

<script>
import _ from 'lodash';
import { maxLength, minLength, required, sameAs } from 'vuelidate/lib/validators';
import FormValidator from './../validators/FormValidator';
import VisitEuropeApi from './../VisitEuropeApi';

export default {
  name: 'user-verification-reset-modal',
  props: {
    email: {
      type: String,
      required: true
    },
    token: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      confirmPassword: '',
      formError: null,
      isComplete: false,
      loading: false,
      password: ''
    }
  },
  mounted() {
    this.password = '';
    this.confirmPassword = '';
  },
  methods: {
    close() {
      window.EventBus.$emit('closeUserVerification');
    },
    handleSuccessResponse(response) {
      this.isComplete = true;
    },
    handleErrorResponse(response) {
      if (VisitEuropeApi.isResponseForbidden(response) && !VisitEuropeApi.hasFreshApiToken()) {
        VisitEuropeApi.getApiTokenAndRetry(this.validateAndSubmit, this.handleErrorResponse)
      } else {
        this.formError = VisitEuropeApi.errorMessageFromResponse(response);
        this.loading = false;
      }
    },
    login() {
      this.$emit('success');
    },
    validateAndSubmit() {
      this.$v.$touch();
      this.formError = null;
      this.loading = true;

      if (FormValidator.isValid(this.$v)) {
        VisitEuropeApi.postUserVerificationReset(this.email, this.password, this.token)
          .then(response => {
            this.handleSuccessResponse(response);
          }, response => {
            this.handleErrorResponse(response);
          });

        return;
      } else {
        this.loading = false;
      }
    }
  },
  validations: {
    password: {
      required,
      minLength: minLength(6),
      maxLength: maxLength(60)
    },
    confirmPassword: {
      required,
      sameAs: sameAs('password')
    }
  },
  computed: {
    body() {
      return VisitEuropeLocales.userVerification.reset.body;
    },
    confirmPasswordError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'confirmPassword');
    },
    confirmPasswordLabel() {
      return VisitEuropeLocales.userVerification.reset.confirmPassword;
    },
    formErrors() {
      var errors = [];

      if (!_.isNull(this.formError)) { errors.push(this.formError); }
      if (this.hasPasswordError) { errors.push(this.passwordError); }
      if (this.hasConfirmPasswordError) { errors.push(this.confirmPasswordError); }

      return errors.join(' ');
    },
    hasConfirmPasswordError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.confirmPasswordError);
    },
    hasFormErrors() {
      return !_.isEmpty(this.formErrors);
    },
    hasPasswordError() {
      return FormValidator.isDirty(this.$v) && !_.isEmpty(this.passwordError);
    },
    passwordError() {
      return FormValidator.errorMessagesForAttribute(this.$v, 'password');
    },
    passwordLabel() {
      return VisitEuropeLocales.userVerification.reset.password;
    },
    resetButton() {
      return VisitEuropeLocales.userVerification.reset.button;
    },
    successButton() {
      return VisitEuropeLocales.userVerification.reset.success.button;
    },
    successBody() {
      return VisitEuropeLocales.userVerification.reset.success.body;
    },
    successTitle() {
      return VisitEuropeLocales.userVerification.reset.success.title;
    },
    title() {
      return VisitEuropeLocales.userVerification.reset.title;
    }
  }
}
</script>
