<template>
<section id="user-verification">
  <user-verification-forgot-modal v-if="isForgot">
  </user-verification-forgot-modal>
  <user-verification-login-modal v-if="isLogin"
    :initial-email="email"
    :redirect-to="redirectTo"
    @externalFail="userFailedExternalLogin"
    @forgotLinkWasPressed="forgotLinkWasPressed"
    @registerLinkWasPressed="registerLinkWasPressed">
  </user-verification-login-modal>
  <user-verification-register-modal v-if="isRegister"
    :initial-email="email"
    :initial-errors="registerErrors">
  </user-verification-register-modal>
  <user-verification-reset-modal v-if="isReset"
    :email="email"
    :token="token"
    @success="userHasResetPassword">
  </user-verification-reset-modal>
  <user-verification-verified-modal v-if="isVerified">
  </user-verification-verified-modal>
</section>
</template>

<script>
import _ from 'lodash';
import UserVerificationForgotModal from './UserVerificationForgotModal.vue';
import UserVerificationLoginModal from './UserVerificationLoginModal.vue';
import UserVerificationRegisterModal from './UserVerificationRegisterModal.vue';
import UserVerificationResetModal from './UserVerificationResetModal.vue';
import UserVerificationVerifiedModal from './UserVerificationVerifiedModal.vue';
import VisitEurope from './../VisitEurope';

export default {
  name: 'user-verification',
  components: {
    UserVerificationForgotModal,
    UserVerificationLoginModal,
    UserVerificationRegisterModal,
    UserVerificationResetModal,
    UserVerificationVerifiedModal
  },
  props: {
    initialEmail: {
      type: String,
      required: false,
      default: ''
    },
    initialLayout: {
      type: String,
      required: false,
      default: VisitEurope.options.userVerification.layouts.login
    },
    redirectTo: {
      type: String,
      required: false,
      default: ''
    },
    token: {
      type: String,
      required: false,
      default: ''
    }
  },
  mounted() {
    this.email = this.initialEmail;
    this.layout = this.initialLayout;
  },
  data() {
    return {
      email: '',
      layout: '',
      successBody: '',
      registerErrors: []
    }
  },
  methods: {
    forgotLinkWasPressed() {
      this.layout = VisitEurope.options.userVerification.layouts.forgot;
    },
    registerLinkWasPressed() {
      this.layout = VisitEurope.options.userVerification.layouts.register;
    },
    userFailedExternalLogin(response) {
      this.layout = VisitEurope.options.userVerification.layouts.login;
      // if (!_.isUndefined(response.body)) {
      //   if (!_.isUndefined(response.body.email)) {
      //     this.email = response.body.email;
      //   }
      //
      //   if (!_.isUndefined(response.body.errors)) {
      //     this.registerErrors = response.body.errors;
      //   }
      // }
      //
      // this.layout = VisitEurope.options.userVerification.layouts.register;
    },
    userHasResetPassword() {
      this.layout = VisitEurope.options.userVerification.layouts.login;
    }
  },
  computed: {
    isForgot() {
      return this.layout === VisitEurope.options.userVerification.layouts.forgot;
    },
    isLogin() {
      return this.layout === VisitEurope.options.userVerification.layouts.login;
    },
    isRegister() {
      return this.layout === VisitEurope.options.userVerification.layouts.register;
    },
    isReset() {
      return this.layout === VisitEurope.options.userVerification.layouts.reset;
    },
    isVerified() {
      return this.layout === VisitEurope.options.userVerification.layouts.verified;
    }
  }
}
</script>
