<template>
<div class="video-fullscreen" :class="videoClasses">
  <div class="inner">
    <a href="#" class="close" @click.prevent="close"></a>
    <iframe :src="videoUrl" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
</template>

<script>
export default {
  name: 'video-fullscreen',
  props: {
    url: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      isActive: false,
      isVisible: false
    }
  },
  mounted() {
    setTimeout(function () {
      this.isActive = true;
      this.isVisible = true;
    }.bind(this), 50)
  },
  methods: {
    close() {
      this.isVisible = false;

      // Delay for animation
      setTimeout(function () {
        this.isActive = false;
        window.EventBus.$emit('closeVideoFullscreen');
      }.bind(this), 150);
    }
  },
  computed: {
    videoClasses() {
      return {
        active: this.isActive,
        visible: this.isVisible
      };
    },
    videoUrl() {
      return this.url + '?rel=0&amp;showinfo=0&autoplay=1';
    }
  }
}
</script>
