<template>
<div id="overlay-generator">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label>North</label>
        <input class="form-control" type="number" step="0.01" v-model="north">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>South</label>
        <input class="form-control" type="number" step="0.01" v-model="south">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>East</label>
        <input class="form-control" type="number" step="0.01" v-model="east">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>West</label>
        <input class="form-control" type="number" step="0.01" v-model="west">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>NE Navigation</label>
        <input class="form-control" placeholder="Use arrow keys to navigate"
          v-on:keyup.up="north = Number(north) + 0.01"
          v-on:keyup.down="north = Number(north) - 0.01"
          v-on:keyup.left="east = Number(east) - 0.01"
          v-on:keyup.right="east = Number(east) + 0.01">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>SW Navigation</label>
        <input class="form-control" placeholder="Use arrow keys to navigate"
          v-on:keyup.up="south = Number(south) + 0.01"
          v-on:keyup.down="south = Number(south) - 0.01"
          v-on:keyup.left="west = Number(west) - 0.01"
          v-on:keyup.right="west = Number(west) + 0.01">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label>Filename</label>
        <input class="form-control" v-model="filename">
      </div>
    </div>
  </div>
  <section class="map" style="height: 800px;">
    <gmap-map style="width: 100%; height: 100%;"
      :center="center"
      :zoom="zoom"
      :options="options">
      <gmap-marker
        :position="markerA"
        :clickable="false"
        :draggable="true"
        @dragend="markerAWasDragged">
      </gmap-marker>
      <gmap-marker
        :position="markerB"
        :clickable="false"
        :draggable="true"
        @dragend="markerBWasDragged">
      </gmap-marker>
      <visit-europe-gmap-overlay
        :imageUrl="overlayImageUrl"
        :bounds="overlayBounds"
        :opacity="0.5">
      </visit-europe-gmap-overlay>
    </gmap-map>
  </section>
</div>
</template>

<script>
import VisitEuropeGMapOverlay from './VisitEuropeGMapOverlay.vue';

export default {
  name: 'visit-europe-gmap-overlay-generator',
  components: {
    'visit-europe-gmap-overlay': VisitEuropeGMapOverlay
  },
  data() {
    let north = 47;
    let south = 46;
    let east = 12;
    let west = 11;
    let filename = 'germany.svg';

    return {
      north: north,
      south: south,
      east: east,
      west: west,
      center: {
        lat: north,
        lng: east
      },
      filename: filename,
      markerA: {
        lat: north,
        lng: east
      },
      markerB: {
        lat: south,
        lng: west
      },
      options: {
        styles: VisitEurope.options.map.styles
      },
      overlayBounds: {
        north: north,
        south: south,
        east: east,
        west: west
      },
      zoom: 5
    }
  },
  methods: {
    markerAWasDragged(marker) {
      this.north = marker.latLng.lat();
      this.east = marker.latLng.lng();
    },
    markerBWasDragged(marker) {
      this.south = marker.latLng.lat()
      this.west = marker.latLng.lng()
    },
    updateMapMarkers() {
      this.markerA = {
        lat: Number(this.north),
        lng: Number(this.east)
      }

      this.markerB = {
        lat: Number(this.south),
        lng: Number(this.west)
      }
    },
    updateMapOverlay() {
      this.overlayBounds = {
        north: Number(this.north),
        south: Number(this.south),
        east: Number(this.east),
        west: Number(this.west)
      }
    }
  },
  computed: {
    overlayImageUrl() {
      return VisitEuropeUrls.theme + '/assets/img/destinations/' + this.filename;
    }
  },
  watch: {
    bounds: function(newValue) {
      console.log('Bounds', newValue);
    },
    north: function(newValue) {
      setTimeout(function () {
        this.updateMapMarkers()
        this.updateMapOverlay()
      }.bind(this), 50)
    },
    south: function(newValue) {
      setTimeout(function () {
        this.updateMapMarkers()
        this.updateMapOverlay()
      }.bind(this), 50)
    },
    east: function(newValue) {
      setTimeout(function () {
        this.updateMapMarkers()
        this.updateMapOverlay()
      }.bind(this), 50)
    },
    west: function(newValue) {
      setTimeout(function () {
        this.updateMapMarkers()
        this.updateMapOverlay()
      }.bind(this), 50)
    }
  }
}

</script>
