<template>
<gmap-map style="width: 100%; height: 100%;" :ref="uniqueID"
  :center="center"
  :options="options"
  :zoom="zoom"
  @zoom_changed="zoomWasChanged">
  <visit-europe-gmap-overlay v-if="hasOverlays"
    v-for="(overlay, index) in overlays" :key="index"
    :bounds="overlay.bounds"
    :imageUrl="overlay.imageurl"
    :opacity="0.5">
  </visit-europe-gmap-overlay>
  <visit-europe-gmap-info-box
    :content="infoBox.content"
    :opened="infoBox.isOpen"
    :options="infoBox.options"
    :position="infoBox.position">
  </visit-europe-gmap-info-box>
  <gmap-marker
    v-for="(marker, index) in validMarkers" :key="index"
    :clickable="markersAreClickable"
    :draggable="markersAreDraggable"
    :icon="marker.icon"
    :position="marker.location"
    @click="markerWasClicked(marker, index)"
    @dragend="markerWasDragged">
  </gmap-marker>
  <gmap-polyline
    :editable="false"
    :draggable="false"
    :options="polylineOptions"
    :path="validPolyline">
  </gmap-polyline>
</gmap-map>
</template>

<script>
import _ from 'lodash';
import VisitEurope from './../VisitEurope';
import VisitEuropeGMapInfoBox from './VisitEuropeGMapInfoBox.vue';
import VisitEuropeGMapOverlay from './VisitEuropeGMapOverlay.vue';
import VisitEuropeMap from './../VisitEuropeMap';

export default {
  name: 'visit-europe-gmap',
  components: {
    'visit-europe-gmap-info-box': VisitEuropeGMapInfoBox,
    'visit-europe-gmap-overlay': VisitEuropeGMapOverlay
  },
  props: {
    center: {
      type: Object,
      required: true
    },
    fitMapToMarkerBounds: {
      type: Boolean,
      required: false,
      default: false
    },
    isInteractiveMap: {
      type: Boolean,
      required: false,
      default: false
    },
    markers: {
      type: Array,
      required: false,
      default: function() {
        return [];
      }
    },
    markersAreClickable: {
      type: Boolean,
      required: false,
      default: true
    },
    markersAreDraggable: {
      type: Boolean,
      required: false,
      default: false
    },
    overlays: {
      type: Array,
      required: false
    },
    selectedMarkerIndex: {
      type: Number,
      required: false,
      default: null
    },
    polyline: {
      type: Array,
      required: false,
      default: function() {
        return [];
      }
    },
    zoom: {
      type: Number,
      required: false,
      default: 4
    }
  },
  mounted() {
    this.updateValidMarkers(this.markers);
    this.updateValidPolylinePaths(this.polyline);

    if (this.fitMapToMarkerBounds) {
      this.fitMapToBounds();
    }

    if (this.isInteractiveMap) {
      window.InteractiveMapEventBus.$on('fitMapToMarkerBounds', function() {
        this.fitMapToBounds();
      }.bind(this));

      window.InteractiveMapEventBus.$on('itemWasSelected', function(item) {
        this.selectMarkerByItem(item);
      }.bind(this));
    }
  },
  data() {
    let infoBox = {
      content: '',
      currentMarkerIndex: null,
      isOpen: false,
      options: {
        pixelOffset: {
          width: -95,
          height: -90
        },
        maxWidth: 190,
        closeBoxURL: ''
      },
      position: {
        lat: 0,
        lng: 0
      },
    }

    let options = {
      styles: VisitEurope.options.map.styles
    }

    let polylineOptions = {
      strokeColor: '#FC9F09',
      strokeOpacity: 1,
      strokeWeight: 2
    }

    return {
      infoBox,
      options,
      polylineOptions,
      validMarkers: [],
      validPolyline: []
    }
  },
  methods: {
    closeInfoBox() {
      if (!this.isInteractiveMap) {
        return false;
      }

      this.infoBox.currentMarkerIndex = null;
      this.infoBox.isOpen = false;
    },
    fitMapToBounds() {
      if (!_.isUndefined(this.$refs[this.uniqueID])) {
        this.$refs[this.uniqueID].$mapCreated.then(function () {
          var bounds = new google.maps.LatLngBounds();

          _.each(this.validMarkers, function(item, key) {
            bounds.extend(new google.maps.LatLng({
              lat: item.location.lat,
              lng: item.location.lng,
            }));
          })

          this.$refs[this.uniqueID].fitBounds(bounds, 15);
        }.bind(this));
      }
    },
    isValidLocation(location) {
      return location.lat != 0 && location.lng != 0;
    },
    launchInfoBox(item, index) {
      if (_.isUndefined(item.map) || _.isUndefined(item.map.location)) {
        return;
      }

      let map = VisitEuropeMap();

      this.infoBox.content = map.infoBoxContent(item.id, item.url, item.imagefull, item.title);
      this.infoBox.currentMarkerIndex = index;
      this.infoBox.isOpen = true;
      this.infoBox.position = new google.maps.LatLng(item.map.location.lat, item.map.location.lng);
    },
    markerWasClicked(marker, index) {
      if (!this.markersAreClickable) {
        return;
      }

      let map = VisitEuropeMap();
      let item = marker.metadata.item;

      if (this.infoBox.currentMarkerIndex == index) {
        this.closeInfoBox();
      } else {
        this.launchInfoBox(item, index);

        if (this.isInteractiveMap) {
          window.InteractiveMapEventBus.$emit('infoBoxWasOpened', item);
        }
      }
    },
    markerWasDragged(marker) {
      this.$emit('markerwasdragged', marker);
    },
    selectMarkerByItem(item) {
      var markerFound = false;

      _.each(this.validMarkers, function(marker, index) {
        if (!_.isUndefined(marker.metadata) && !_.isUndefined(marker.metadata.item)
          && !_.isUndefined(marker.metadata.item.id) && marker.metadata.item.id === item.id) {
          this.launchInfoBox(item, index);
          markerFound = true;
        }
      }.bind(this));

      if (markerFound !== true) {
        this.closeInfoBox();
      }
    },
    updateValidMarkers(markers) {
      let validMarkers = [];

      _.forEach(markers, function(marker) {
        if (this.isValidLocation(marker.location)) {
          validMarkers.push(marker);
        }
      }.bind(this))

      this.validMarkers = validMarkers;
    },
    updateValidPolylinePaths(polyline) {
      let validPolyline = [];

      _.forEach(polyline, function(point) {
        if (this.isValidLocation(point)) {
          validPolyline.push(point);
        }
      }.bind(this));

      this.validPolyline = validPolyline;
    },
    zoomWasChanged(zoom) {
      this.$emit('zoomWasChanged', zoom);
    }
  },
  computed: {
    hasOverlays() {
      return !_.isUndefined(this.overlays) && _.isArray(this.overlays) && this.overlays.length > 0;
    },
    uniqueID() {
      return 'gmap-' + this._uid;
    }
  },
  watch: {
    markers: function(newValue) {
      this.closeInfoBox();
      this.updateValidMarkers(newValue);

      if (this.fitMapToMarkerBounds === true) {
        this.fitMapToBounds();
      }
    },
    polyline: function(newValue) {
      this.updateValidPolylinePaths(newValue);
    }
  }
}
</script>
