<template>
<div ref="flyaway">
  <slot>
    <div v-html="content"></div>
  </slot>
</div>
</template>

<script>
/**
 * Template: https://github.com/xkjyeah/vue-google-maps/blob/vue2/src/components/infoBox.vue
 * Script:   https://github.com/xkjyeah/vue-google-maps/blob/vue2/src/components/infoWindowImpl.js
 */
import _ from 'lodash';
import * as VueGoogleMaps from 'vue2-google-maps';
import EventsBinder from './../utils/EventsBinder';
import PropsBinder from './../utils/PropsBinder';
import VisitEuropeMap from './../VisitEuropeMap';

const props = {
  options: {
    type: Object,
    required: false,
    default () {
      return {};
    }
  },
  content: {
    type: String,
    default: ''
  },
  opened: {
    type: Boolean,
    default: true,
  },
  position: {
    type: Object,
    twoWay: true,
  },
  zIndex: {
    type: Number,
    twoWay: true,
  }
};

const events = [
  'domready',
  'closeclick',
  'content_changed',
];

export default {
  name: 'visit-europe-gmap-info-box',
  mixins: [VueGoogleMaps.MapElementMixin],
  replace: false,
  props: props,

  mounted() {
    const el = this.$refs.flyaway;
    el.parentNode.removeChild(el);
  },

  deferredReady() {
    this.$markerObject = null;
    this.$markerComponent = this.$findAncestor(
      (ans) => ans.$markerObject
    );

    if (this.$markerComponent) {
      this.$markerObject = this.$markerComponent.$markerObject;
    }
    this.createInfoBox();
  },

  destroyed () {
    if (this.disconnect) {
      this.disconnect();
    }
    if (this.$infoBox) {
      this.$infoBox.setMap(null);
    }
  },

  methods: {
    openInfoBox () {
      if(this.opened) {
        if (!_.isNull(this.$markerObject)) {
          this.$infoBox.open(this.$map, this.$markerObject);
        } else {
          this.$infoBox.open(this.$map);
        }
      } else {
        this.$infoBox.close();
      }
    },

    createInfoBox() {
      // setting options
      const options = _.cloneDeep(this.options);
      options.content = this.$refs.flyaway;

      // only set the position if the info window is not bound to a marker
      if (_.isNull(this.$markerComponent)) {
        options.position = this.position;
      }

      let map = VisitEuropeMap();
      this.$infoBox = new map.infoBox(options);

      // Binding
      PropsBinder(this, this.$infoBox, _.omit(props, ['opened']));
      EventsBinder(this, this.$infoBox, events);

      this.openInfoBox();
      this.$watch('opened', () => {
        this.openInfoBox();
      });
    }
  },
};
</script>
