<template>
<div :id="uniqueID" class="interactive-weather">
  <header>
    <h4>{{ locale.heading }}</h4>
  </header>
  <section class="carousel-container">
    <div class="inner" :class="{ active: showMonths, inactive: !showMonths }">
      <slick ref="slick"
        :options="slickOptions">
        <div v-for="(item, index) in months" :key="index">
          <p class="title">
            {{ item.title }}
          </p>
          <div class="temperatures">
            <span class="low">{{ item.low }}</span>
            -
            <span class="high">{{ item.high }}</span>
            &deg;
          </div>
        </div>
      </slick>
    </div>
    <div class="inner" :class="{ active: showSeasons, inactive: !showSeasons }">
      <slick ref="slick"
        :options="slickOptions">
        <div v-for="(item, index) in seasons" :key="index">
          <p class="title">
            {{ item.title }}
          </p>
          <div class="temperatures">
            <span class="low">{{ item.low }}</span>
            -
            <span class="high">{{ item.high }}</span>
            &deg;
          </div>
        </div>
      </slick>
    </div>
  </section>
  <nav>
    <ul class="weather-types">
      <li class="month">
        <a href="#" @click.prevent="showMonthsCarousel"
          :class="{ active: showMonths }">
          {{ locale.tabs.months }}
        </a>
      </li>
      <li class="season">
        <a href="#" @click.prevent="showSeasonsCarousel"
          :class="{ active: showSeasons }">
          {{ locale.tabs.seasons }}
        </a>
      </li>
    </ul>
  </nav>
</div>
</template>

<script>
import _ from 'lodash';
import Slick from 'vue-slick';
import DestinationWeatherValidator from './../validators/DestinationWeatherValidator';

export default {
  name: 'weather',
  components: {
    Slick
  },
  props: {
    id: {
      type: String,
      required: false,
      default: 'weather'
    },
    item: {
      type: Object,
      required: true,
      validator: function(value) {
        return DestinationWeatherValidator.validate(value);
      }
    }
  },
  data () {
    return {
      locale: VisitEuropeLocales.weather,
      showMonths: true,
      slickOptions: {
        arrows: true,
        autoplay: false,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  },
  methods: {
    showMonthsCarousel() {
      this.showMonths = true;
    },
    showSeasonsCarousel() {
      this.showMonths = false;
    }
  },
  computed: {
    months () {
      var items = {};

      _.forOwn(this.item.months, function (value, key) {
        items[value.key] = value;
      })

      return items;
    },
    showSeasons () {
      return !this.showMonths;
    },
    seasons () {
      var items = {};

      _.forOwn(this.item.seasons, function (value, key) {
        items[value.key] = value;
      })

      return items;
    },
    uniqueID() {
      return this.id + '-' + this._uid;
    }
  }
}
</script>
