.btn, .btn-primary, .btn-danger, .btn-success, .btn-info, .btn-warning {
  text-transform: uppercase;
  border: 1px solid transparent;
  font-family: $headings-font-family;

  @include transition(color $transition-speed-base $transition-type-default,
                      background $transition-speed-base $transition-type-default);

  &:hover {
    border: 1px solid transparent;
  }
}

.vdp-datepicker {
  .input-group {
    background: $input-bg;

    input {
      padding: $padding-large-vertical $padding-large-horizontal;
      background: transparent;
      border: 1px solid $input-border;
      color: $text-color;
      height: 53px;
    }

    .vdp-datepicker__clear-button {
      width: 45px;
      border: none;
      background: #fff;
      position: relative;
      z-index: 1;
      @include border-radius(0);
      @include opacity(1);

      i {
        height: 53px;
        background-image: url('./../../../static/img/icon-close-dark.svg');
        background-repeat: no-repeat;
        background-position: 15px center;
        background-size: 13px 13px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include opacity(0.5);

        span {
          display: none;
        }
      }
    }

    &:after {
      width: 28px;
      height: 28px;
      content: ' ';
      background-image: url('./../../../static/img/icon-calendar.svg');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 20px 20px;
      position: absolute;
      right: 14px;
      top: 12px;
    }
  }
}

.btn {
  outline: none;

  &.btn-facebook {
    @include btn-facebook();
  }

  &.btn-google {
    @include btn-google();
  }

  &.btn-interactive-map {
    @include btn-interactive-map();
  }

  &:hover, &:focus, &:active {
    outline: none;
  }
}

.btn-default, .btn-default:hover, .btn-default:focus {
  border: 1px solid $gray-base;
}

.btn-inverse {
  @include button-variant(#fff, $gray-base, $gray-base);
}

.btn-container {
  &.single {
    .btn {
      margin: 45px 0 0;
    }
  }

  &.double {
    .btn:nth-child(1) {
      margin: 45px 0 15px;
    }

    .btn:nth-child(2) {
      margin: 0;
    }
  }
}

.btn.btn-lg {
  .loading-icon {
    margin: 0 auto;
    width: 26px;
    height: 26px;
    display: block;

    &:before {
      left: 0;
      background-size: 75%;
    }
  }
}

input, textarea {
  &.form-control {
    @include border-radius(0);
  }
}

.form-group {
  position: relative;

  &.has-error {
    .form-control {
      color: $state-danger-text;
      border: 1px solid $input-border;
    }
  }
}

.inline-form-error {
  padding: $grid-gutter-width/4 $grid-gutter-width/3;
  width: 40%;
  height: 90px;
  position: absolute;
  right: 0;
  top: -19px;
  background: $brand-danger;
  vertical-align: middle;
  box-sizing: border-box;
  z-index: 1;
  display: table;
  text-align: left;

  &:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: $brand-danger;
    border-width: 10px;
    margin-top: -10px;
  }

  > div {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: $headings-font-family;
    font-size: $font-size-xsmall;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .btn-container {
    &.single {
      .btn {
        margin: 30px 0;
      }
    }

    &.double {
      .btn:nth-child(1) {
        margin: 30px 0 15px;
      }

      .btn:nth-child(2) {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .btn-lg {
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-base;
  }

  .btn-interactive-map {
    padding-left: 45px;
    width: 100%;

    &:before {
      top: 2px;
      left: $padding-base-horizontal;
      background-size: 25px;
    }
  }
}
