@mixin section-default {
  background: #fff;
  color: $text-color;

  > .inner.container {
    padding: 0;
    width: 100%;
    background: transparent;
  }

  a {
    color: inherit;
  }

  .visual-preload {
    background-color: darken(#fff, 5%);
  }
}

@mixin section-inverse {
  padding: $spacing-vertical-sm 0 0;

  > .inner.container {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;
    width: 100%;
    background: $gray-base;
    color: #fff;
  }

  &.standard-grid {
    > .inner.container {
      padding-bottom: $spacing-vertical-sm;
    }
  }

  a {
    color: inherit;
  }

  .visual-preload {
    background-color: lighten($gray-base, 5%);
  }

  .section-header {
    h2 {
      &:after {
        border-bottom: 1px solid $gray;
      }
    }

    a.btn.btn-default {
      background: $gray-base;
      border: 1px solid #fff;
      color: #fff;

      &:hover, &:focus {
        color: #fff;
        border: 1px solid #fff;
        background: lighten($gray-base, 10%);
      }
    }

    &.section-header-w-link {
      a {
        &:before {
          background: $gray-base;
        }
      }
    }
  }
}

@mixin border-radius($radius) {
  @include border-top-radius($radius);
  @include border-right-radius($radius);
  @include border-bottom-radius($radius);
  @include border-left-radius($radius);
}

@mixin image-overlay($color) {
  content: ' ';
  background-color: $color;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin btn-interactive-map() {
  padding-left: 65px;
  background-image: url('./../../../static/img/cta-interactive-map-btn.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;

  &:before {
    content: ' ';
    height: 30px;
    width: 30px;
    position: absolute;
    left: $padding-large-horizontal;
    top: calc(50% - 15px);
    background-image: url('./../../../static/img/icon-interactive-map.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &:hover {
    color: #fff;
  }
}

@mixin btn-facebook() {
  @include button-variant(#fff, #4867aa, #4867aa);

  > span {
    padding-right: 32px;
    background-image: url('./../../../static/img/icon-social-facebook.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
  }
}

@mixin btn-google() {
  @include button-variant(#fff, #db5146, #db5146);

  > span {
    padding-right: 32px;
    background-image: url('./../../../static/img/icon-social-googleplus.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
  }
}
