h1, h2, h3 {
  small {
    display: block;
  }
}

a {
  @include transition(all $transition-speed-base $transition-type-default);
}

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}

@media screen and (max-width: $screen-xs-max) {
  h1 { font-size: 24px; }
  h2 { font-size: 22px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
}
