.ve-meta-box {
  padding-top: 5px;

  select {
    width: 100%;
  }

  .tab-container {
    ul.tabs {
      margin: 5px 0;
      padding: 3px 0 0;

      li {
        display: inline;
        line-height: 1.35em;
        border: 1px solid transparent;
        position: relative;
        padding: 3px 5px 6px;

        a {
          text-decoration: none;
        }

        &.active {
          border: 1px solid #ddd;
          border-bottom-color: #fdfdfd;
          background-color: #fdfdfd;

          a {
            color: #32373c;
          }
        }
      }
    }

    .tab-panel {
      min-height: 42px;
      max-height: 200px;
      overflow: auto;
      padding: .3em .9em;
      border: 1px solid #ddd;
      background-color: #fdfdfd;
    }

    .sync-status {
      margin-top: 12px;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }
  }

  table {
    width: 100%;
    text-align: left;
  }

  &#destination-weather-meta-box {
    input {
      width: 60px;
      text-align: center;
    }
  }

  &#destination-type-meta-box {
    ul {
      max-height: 195px;
      overflow: scroll;
    }
  }
}

table.compat-attachment-fields {
  width: 100%;

  th {
    width: 100px;
  }

  td {
    input {
      width: 100%;
    }
  }
}

body:not(.superadmin) {
  #menu-tools,
  #toplevel_page_edit-post_type-acf-field-group {
    display: none;
  }
}
