.about {
  margin: 0;
  padding: $grid-gutter-width;
  color: #fff;
  background: $gray-base;
  display: flex;
  flex-direction: column;

  a {
    color: #fff;
    @include transition(color 0.2s $transition-type-default,
                        background 0.2s $transition-type-default);

    &:hover {
      color: $link-color;
    }
  }

  header {
    margin: 0 0 auto;
    padding: 0 0 0 25px;
    background-image: url('./../../../static/img/icon-about.svg');
    background-position: 0 12px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .items {
    margin: auto 0;
    padding: 0 0 $grid-gutter-width/6 25px;
    list-style: none;

    a {
      text-decoration: underline;
      font-size: $font-size-small;
    }
  }

  .social {
    margin: auto 0 0 25px;

    .share {
      line-height: 30px;
      vertical-align: top;
    }

    ul {
      margin: 0;
      padding: 0 0 0 $grid-gutter-width/6;
      display: inline-block;

      li {
        padding-left: $grid-gutter-width/6;
        display: inline-block;

        a {
          width: 30px;
          height: 30px;
          display: block;
          text-align: center;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min) {
  .about {
    padding: $spacing-vertical-sm $spacing-horizontal-xs;

    header {
      padding: 0;
      background: 0;
    }

    .items {
      padding-left: 0;
    }

    .social {
      margin-left: 0;
    }
  }
}
