.create-preview {
  a {
    .visual {
      background: $gray-base;
      position: relative;

      header {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;

        h4 {
          margin: auto;
          padding: 10px 0 0;
          color: #fff;
          font-weight: normal;
          font-size: $font-size-small;
          text-align: center;

          &:after {
            margin: 5px 0 0;
            padding: 0;
            width: 100%;
            height: 20px;
            content: ' ';
            display: block;
            background-image: url('./../../../static/img/icon-plus-light.svg');
            background-position: top center;
            background-size: 16px;
            background-repeat: no-repeat;
            @include transition(background-size $transition-speed-base $transition-type-default);
          }
        }
      }
    }
  }
}

body.page-template-template-account-trips {
  .custom-trips {
    section.standard-grid {
      padding-top: $spacing-vertical-sm;
    }

    .trip-preview.usertrip-custom-preview {
      .visual {
        .new-usertrip {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: flex;

          span {
            margin: auto;
            padding: $spacing-vertical-xs $spacing-horizontal-xs;
            width: 100%;
            display: block;
            font-family: $headings-font-family;
            font-size: $font-size-small;
            text-align: center;
          }
        }
      }

      .content {
        header {
          padding-right: 0;

          h4 {
            margin-bottom: 0;
          }
        }

        .count {
          margin: 3px 0 0;
          padding: 0;
          font-size: $font-size-xsmall;
          font-family: $headings-font-family;
          font-style: italic;
        }
      }
    }
  }

  .planned-trips, .suggested-trips {
    > .container {
      h2 {
        margin: $spacing-vertical-xs 0 0;
        padding: $spacing-vertical-md 0 0 0;
        border-top: 1px solid $gray-base;
      }
    }

    section.standard-grid {
      padding-top: $spacing-vertical-sm;
    }
  }

  .planned-trips {
    section.standard-grid {
      .trip-preview {
        .content {
          .save {
            display: none;
          }

          header {
            padding-right: 0;
          }

          .blurb {
            display: none;
          }
        }
      }
    }
  }

  .suggested-trips {
    section.standard-grid {
      padding-bottom: $spacing-vertical-xs;

      > section {
        border-bottom: none;
      }
    }
  }
}
