.single-ve_experience.type-article {
  .content {
    .experience-content {
      padding-top: $spacing-vertical-md;
      padding-bottom: $spacing-vertical-md;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    section.carousel, section.media-crowdriff-gallery {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
