.visual-preload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: darken(#fff, 5%);
  @include transition(all 0.2s $transition-type-default);
}
