.destination-nav {
  position: relative;
  padding: 0 !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);

  .destination-nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(42, 44, 55, 0.9);
    z-index: 10;
    height: 0px;
  }

  .destination-nav-inner {
    position: relative;
    padding: $grid-gutter-width/2 $spacing-horizontal-md;
    min-height: 70px;
    background: #fff;
    z-index: 10;

    .search-topbar {
      input {
        padding-left: 0;
        border: none;
        box-shadow: none;
        font-style: italic;
        color: $text-color;
        font-size: $font-size-h3;
      }

      .input-group-addon {
        width: 35px;
        background: none;
        border: none;
        cursor: pointer;
        background-image: url('./../../../static/img/icon-search-dark.svg');
        background-position: right center;
        background-size: 25px 25px;
        background-repeat: no-repeat;
      }

      .tab-container {
        font-family: $headings-font-family;

        ul.nav-pills {
          margin-top: 5px;
        }

        .dropdown {
          .dropdown-menu {
            width: 100%;
            font-size: $font-size-small;
            border: none;
            @include border-radius(0);

            li {
              a {
                padding: $padding-base-vertical $padding-large-horizontal;
                font-size: $font-size-small;
              }
            }
          }
        }
      }
    }

    .search-content {
      padding: $grid-gutter-width/2 $spacing-horizontal-md;
      position: absolute;
      left: 0;
      right: 0;
      top: 83px;
      background: #fff;
      font-family: $headings-font-family;
      font-size: $font-size-xsmall;
      box-shadow: inset 0px 8px 9px -6px rgba(0, 0, 0, 0.1);

      .close-icon {
        height: 20px;
        width: 20px;
        position: absolute;
        right: $spacing-horizontal-md;
        top: $grid-gutter-width/2;
        z-index: 2;
        cursor: pointer;
        background-image: url('./../../../static/img/icon-close-dark.svg');
        background-position: right center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
      }

      .regions-list, .countries-list {
        padding-top: $spacing-vertical-xs;
        padding-bottom: $spacing-vertical-xs;
        border-right: 1px solid $gray;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          flex-direction: column;
          flex-flow: column wrap;
          height: 430px;

          li {
            a {
              display: block;
              padding: $spacing-vertical-sm/3 0 $spacing-vertical-sm/3 $spacing-horizontal-xs;
              color: $text-color;
              background-image: url('./../../../static/img/icon-pin-dark.svg');
              background-position: left center;
              background-repeat: no-repeat;
              background-size: 10px 14px;
              @include opacity(1);

              &:hover:not(.inactive) {
                color: $link-color;
              }

              &.inactive {
                @include opacity(0.3);
              }

              &.active {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .regions-map {
        padding-top: 60px;
        height: 400px;
        position: relative;
      }

      .countries-other {
        padding-top: 45px;
        height: 460px;
      }
    }

    .search-button-container {
      text-align: right;
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  .destination-nav {
    .destination-nav-inner {
      .search-content {
        .regions-list, .countries-list {
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .destination-nav {
    .destination-nav-inner {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;

      .search-content {
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;

        .close-icon {
          right: $grid-gutter-width/2;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .destination-nav {
    .destination-nav-inner {
      .search-topbar {
        .tab-container {
          margin-bottom: $spacing-vertical-xs;
        }
      }
    }
  }
}
