#interactive-map-destination, .single-ve_destination {
  .weather {
    padding: $grid-gutter-width;
    background-color: $brand-info;
    color: #fff;
    background-image: url('./../../../static/img/weather.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .interactive-weather {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: space-between;

      header {
        margin: 0 0 auto;

        h4 {
          margin: 0;
          padding: 0;
          font-style: italic;
          font-family: $font-family-base;
          font-size: $font-size-h3;
        }
      }

      .carousel-container {
        margin: $spacing-vertical-xs 0;
        width: 100%;

        .inner {
          &.active {
            visibility: visible;
            height: auto;
          }

          &.inactive {
            visibility: hidden;
            height: 0px;
          }

          .title {
            margin: 0;
            padding: 0;
            display: block;
            text-align: center;
            font-size: $font-size-h4;
            font-family: $headings-font-family;
          }

          .temperatures {
            text-align: center;
            font-size: $font-size-h3;
            font-weight: $headings-font-weight;
            font-family: $headings-font-family;
          }

          .slick-next, .slick-prev {
            margin: 0;
            padding: 0;
            width: 20px;
            height: 12px;
            position: absolute;
            top: calc(50% - 6px);
            background: transparent;
            border: none;
            overflow: hidden;
            z-index: 1;
            text-indent: -1000px;

            &:focus {
              outline: none;
            }

            &:before {
              content: ' ';
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
              display: block;
              text-indent: 0;
              background-image: url('./../../../static/img/icon-arrow-light.svg');
              background-repeat: no-repeat;
              background-position: center center;
            }
          }

          .slick-prev {
            left: 0;

            &:before {
              @include rotate(180deg);
            }
          }

          .slick-next {
            right: 0;
          }
        }
      }

      nav {
        margin: auto 0 0;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          width: 100%;
          text-align: center;
          font-family: $headings-font-family;

          li {
            margin: 0;
            padding: 0;
            display: inline-block;

            a {
              margin: 0 $grid-gutter-width/4;
              padding: 3px 0;
              color: #fff;
              text-decoration: none;
              font-size: $font-size-small;
              border-bottom: 1px solid transparent;

              &.active, &:hover {
                color: $gray-base;
                border-bottom: 1px solid $gray-base;
              }
            }
          }
        }
      }
    }
  }
}

.single-ve_destination {
  .container {
    &.map {
      padding-left: 0;
      padding-right: 0;

      .map-content {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        position: relative;
        background: $brand-info;

        > .map {
          margin: auto;
          height: 335px !important;
          position: relative;
        }
      }

      &.has-pointers {
        .map-content {
          display: flex;
          flex-direction: row-reverse;
          flex-wrap: nowrap;
          align-items: stretch;
        }

        .vue-map-container {
          width: $container-third-main-xl + $spacing-horizontal-md !important;
        }

        .pointers {
          padding-right: $spacing-horizontal-md;
          width: $container-third-side-xl + $spacing-horizontal-md;
          display: flex;

          > ul {
            margin: auto auto auto 0;
          }
        }
      }
    }

    &.intro {
      .intro-content {
        margin: 0;
        width: 100%;
        position: relative;

        > div {
          position: relative;
        }

        h2 {
          font-family: $font-family-base;
          font-style: italic;
        }

        .content {
          padding-right: $grid-gutter-width/2;
          text-align: left;
          font-family: $headings-font-family;
          font-size: $font-size-small;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          > h2 {
            margin-top: auto;
          }

          > p {
            margin-bottom: auto;
          }
        }

        .weather {
          display: flex;
        }
      }
    }

    &.essentials {
      .essentials-content {
        display: flex;
        flex-direction: row;

        > * {
          flex: 1;
          display: flex;
          width: 50%;
        }
      }
    }
  }

  .tab {
    &.questions-only {
      > section:not(.questions) {
        display: none;
      }
    }
  }

  .destination-country {
    .container {
      &.intro {
        .intro-content {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: stretch;

          > div {
            margin: auto;
            min-height: 255px;
          }

          .content {
            width: $container-third-main-xl;
          }

          .weather {
            width: $container-third-side-xl;
          }
        }
      }
    }
  }

  .destination-region {
    .container {
      &.intro {
        .intro-content {
          display: block;

          .content {
            width: 100%;
          }
        }
      }
    }
  }

  section.standard-grid.destinations {
    padding-bottom: $spacing-vertical-xs;
  }
}

#interactive-map-destination {
  .pointers {
    ul {
      li {
        width: 50%;
      }
    }
  }
}

.destinations-list {
  .list-item {
    margin: 0 0 $grid-gutter-width/3 0;
    position: relative;

    a {
      display: block;
      position: relative;
    }

    .visual {
      position: relative;
      height: 100%;
      padding-bottom: 85px;
      overflow: hidden;
      cursor: pointer;

      .visual-preload {
        transform: scale($preview-scale-base);

        &:after {
          @include image-overlay($image-overlay-dark);
        }
      }

      header {
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        bottom: $grid-gutter-width/2;

        h4 {
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }
    }
  }

  a {
    color: #fff;

    &:hover {
      .visual {
        .visual-preload {
          transform: scale($preview-scale-hover);
        }
      }
    }
  }
}

.page-template-template-countries, .page-template-template-regions {
  section.intro {
    padding-bottom: $spacing-vertical-md;
  }

  section.feature-grid {
    padding-top: 0;

    &:not(:last-of-type) {
      padding-top: 0;
      padding-bottom: 0;

      .feature-grid {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  section.feature-grid.section-default:last-of-type {
    padding-bottom: $spacing-vertical-md;
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-xl){
  .single-ve_destination {
    .container {
      &.map.has-pointers {
        .map-content {
          .vue-map-container {
            width: $container-third-main-lg + $spacing-horizontal-md !important;
          }

          .pointers {
            width: $container-third-side-lg + $spacing-horizontal-md;
          }
        }
      }
    }

    .destination-country {
      .container {
        &.intro {
          .intro-content {
            .content {
              width: $container-third-main-lg;
            }

            .weather {
              width: $container-third-side-lg;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  .single-ve_destination {
    .container {
      &.map.has-pointers {
        .map-content {
          .vue-map-container {
            width: $container-third-main-md + $spacing-horizontal-md !important;
          }

          .pointers {
            width: $container-third-side-md + $spacing-horizontal-md;
          }
        }
      }
    }

    .destination-country {
      .container {
        &.intro {
          .intro-content {
            .content {
              width: $container-third-main-md;
            }

            .weather {
              width: $container-third-side-md;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  .single-ve_destination {
    .container {
      &.map.has-pointers {
        .map-content {
          .vue-map-container {
            width: $container-third-main-sm + $grid-gutter-width/2 !important;
          }

          .pointers {
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
            width: $container-third-side-sm + $grid-gutter-width/2;
          }
        }
      }
    }

    .destination-country {
      .container {
        &.intro {
          .intro-content {
            .content {
              width: $container-third-main-sm;
            }

            .weather {
              width: $container-third-side-sm;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max){
  .single-ve_destination {
    .container {
      &.map.has-pointers {
        .map-content {
          flex-direction: column-reverse;

          .vue-map-container {
            width: 100% !important;
          }

          .pointers {
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
            width: 100%;
          }
        }
      }
    }

    .destination-country {
      .container {
        &.intro {
          .intro-content {
            flex-direction: column;

            .content {
              width: 100%;
              height: auto;
            }

            .weather {
              margin-top: $grid-gutter-width/2;
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }

  #interactive-map-destination, .single-ve_destination {
    .pointers {
      ul, ul.column-1, ul.column-2 {
        li {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min - 1) {
  .single-ve_destination {
    .container {
      &.essentials {
        .essentials-content {
          flex-direction: column;

          > * {
            width: 100%;
          }
        }
      }
    }
  }
}
