.single-ve_experience {
  #content {
    > div {
      > .content {
        > article {
          > .container {
            padding-top: $spacing-vertical-lg;

            header {
              .title {
                margin: 0;
                padding: 0;
                text-transform: uppercase;

                &:before {
                  content: ' ';
                  width: 4px;
                  height: 20px;
                  position: absolute;
                  top: 4px;
                  left: 0;
                  background-color: $brand-primary;
                }
              }
            }

            .information {
              margin: 0;
              padding: $spacing-vertical-xs 0;
              font-style: italic;
              font-family: $headings-font-family;
              font-size: $font-size-small;
              font-weight: 100;
            }
          }
        }
      }
    }
  }

  .container {
    &.map {
      padding-left: 0;
      padding-right: 0;

      .map-content {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: stretch;
        position: relative;
        background: $brand-info;

        .tag {
          text-transform: uppercase;
          color: $text-color;
          font-family: $headings-font-family;
        }

        > .map {
          margin: auto;
          height: 335px !important;
          position: relative;
        }

        .vue-map-container {
          width: $container-third-main-xl + $spacing-horizontal-md !important;
        }

        .overview {
          padding: $grid-gutter-width $spacing-horizontal-md $grid-gutter-width $grid-gutter-width;
          width: $container-third-side-xl + $spacing-horizontal-md;
          display: flex;
          flex-direction: column;
          background: $gray-base;

          .tag {
            margin: 0 auto auto 0;
          }

          .pointers {
            padding: $grid-gutter-width/2 0;
            background: transparent;

            > ul {
              margin: auto auto auto 0;
            }
          }

          .btn {
            margin: auto auto 0 0;
          }
        }
      }
    }

    &.experience-parallax {
      padding: 0;

      .parallax-background {
        padding: 150px 0;
      }
    }
  }

  article {
    .experience-content {
      figure {
        margin: $spacing-vertical-md auto;
        width: 100% !important;

        figcaption {
          margin-top: 5px;
          font-style: italic;
          font-size: $font-size-small;
        }
      }

      img {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        display: block;
      }
    }
  }

  .extra-information {
    margin: $grid-gutter-width 0;
    display: flex;

    > .destination {
      margin: 0 auto 0 0;
      width: calc(50% - #{$grid-gutter-width/2});

      .visual {
        padding-bottom: 100%;

        .visual-preload {
          &:after {
            @include image-overlay($image-overlay-dark);
          }
        }
      }
    }

    > .about {
      margin: 0 0 0 auto;
      width: calc(50% - #{$grid-gutter-width/2});
      font-family: $headings-font-family;
    }
  }

  &.is-mobile {
    .container {
      &.experience-parallax {
        padding: 0;

        .parallax-background {
          padding: 0 0 56%;
          background-position: center center !important;
          background-size: cover;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-xl){
  .single-ve_experience {
    .container {
      &.map {
        .map-content {
          .vue-map-container {
            width: $container-third-main-lg + $spacing-horizontal-md !important;
          }

          .overview {
            width: $container-third-side-lg + $spacing-horizontal-md;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  .single-ve_experience {
    .container {
      &.map {
        .map-content {
          .vue-map-container {
            width: $container-third-main-md + $spacing-horizontal-md !important;
          }

          .overview {
            width: $container-third-side-md + $spacing-horizontal-md;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max){
  .single-ve_experience {
    #content {
      > div {
        > .content {
          > article {
            > .container {
              header {
                .title {
                  &:before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  .single-ve_experience {
    .container {
      &.map {
        .map-content {
          .vue-map-container {
            width: $container-third-main-sm + $grid-gutter-width/2 !important;
          }

          .overview {
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
            width: $container-third-side-sm + $grid-gutter-width/2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max){
  .single-ve_experience {
    .container {
      &.map {
        .map-content {
          flex-direction: column-reverse;

          .vue-map-container {
            width: 100% !important;
          }

          .overview {
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
            width: 100%;
          }
        }
      }
    }

    .pointers {
      ul, ul.column-1, ul.column-2 {
        li {
          width: 100%;
        }
      }
    }

    .extra-information {
      flex-direction: column;

      > .destination {
        margin: 0 0 $grid-gutter-width/2;
        width: 100%;
      }

      > .about {
        width: 100%;

        .items {
          margin: $grid-gutter-width/2 0;
        }
      }
    }
  }
}
