.single-ve_experience {
  #experience-gallery {
    section.intro {
      font-family: $headings-font-family;
      font-size: $font-size-small;
    }

    .content {
      section.carousel {
        padding-bottom: $spacing-vertical-sm;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  #experience-gallery {
    section.intro {
      .btn-interactive-map-container {
        padding-top: $spacing-vertical-sm;
        text-align: center;
      }

      .btn-interactive-map {
        width: auto;
        display: inline-block;
      }
    }
  }
}
