#experience-event-create {
  padding-top: $spacing-vertical-md;
  padding-bottom: $spacing-vertical-md;

  form {
    position: relative;

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $loading-bg;
      z-index: 1;

      > .loading-icon {
        width: 25px;
        height: 25px;
        position: absolute;
        left: calc(50% - 12px);
        top: calc(50% - 12px);
      }
    }
  }

  label {
    font-style: italic;
    font-weight: normal;
    font-size: $font-size-small;
  }

  input[type="text"], textarea {
    font-family: $headings-font-family;
    font-size: $font-size-small;
    color: $text-color;
    @include border-radius($border-radius-base);
  }

  .multiselect__single {
    padding-left: 0;
    font-family: $headings-font-family;
    font-size: $font-size-small;
    color: $text-color;
    font-style: normal;
  }

  .multiselect__tags {
    padding-top: 7px;
    padding-left: $padding-base-horizontal;
    height: 39px;
    min-height: 39px;
    border: 1px solid $input-border;
    @include border-radius($border-radius-base);
  }

  .multiselect__select {
    height: 41px;
  }

  .multiselect__content-wrapper {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.1);
  }

  textarea {
    min-height: 240px;
  }

  .form-control + .form-control {
    margin-top: $spacing-vertical-xs;
  }

  .btn-container {
    margin-top: $spacing-vertical-sm;
    margin-bottom: $spacing-vertical-xs;
  }

  .vue-map-container {
    margin-bottom: $spacing-vertical-xs;
    height: 300px !important;
  }

  .vdp-datepicker {
    .input-group {
      input {
        padding-left: $padding-base-horizontal;
        height: 39px;
      }

      .vdp-datepicker__clear-button {
        height: 37px;
        position: absolute;
        top: 1px;
        right: 1px;
        @include border-radius($border-radius-base);
        z-index: 3;

        i {
          height: 39px;
        }
      }

      &:after {
        top: 6px;
      }
    }
  }

  .image-container {
    .image-list {
      > div {
        margin: 0 0 $spacing-vertical-xs;

        &.item-complete {
          .visual {
            position: relative;
            padding-bottom: 56%;
          }
        }

        &.item-pending {
          background-color: darken(#fff, 5%);
          padding-bottom: 56%;
          position: relative;

          .inner {
            margin: 0;
            padding: $spacing-vertical-xs $spacing-horizontal-xs;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;

            > span {
              margin: auto 0 5px;
              padding: 0;
              font-family: $headings-font-family;
              font-size: $font-size-small;
              text-align: center;
              display: block;
            }

            > .progress {
              margin: 0 0 auto;
              height: 3px;
              background-color: darken(#fff, 10%);
              @include box-shadow(none);
              @include border-radius(0);
            }
          }
        }
      }
    }

    .image-btn-container {
      margin: 0 0 $spacing-vertical-xs;

      .btn {
        margin: 0;
        padding: 0 0 56%;
        width: 100%;
        position: relative;
        font-size: $font-size-xsmall;
        background-color: darken(#fff, 5%);
        border: none;
        @include border-radius(0);

        .inner {
          margin: 0;
          padding: $spacing-vertical-xs $spacing-horizontal-xs;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: flex;

          > span {
            margin: auto;
          }
        }
      }
    }
  }
}
