.single-ve_experience {
  #experience-route {
    .container.map {
      .map-content {
        .overview {
          .pointers {
            margin: auto 0;
            padding-bottom: $spacing-vertical-md;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max){
  .single-ve_experience {
    #experience-route {
      .container.map {
        .map-content {
          .overview {
            .pointers {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}
