#experience-recipe {
  .modal {
    .modal-dialog {
      width: 1050px;

      .modal-header {
        padding: 100px $grid-gutter-width/2 90px;
        position: relative;

        .visual-preload {
          &:after {
            @include image-overlay($image-overlay-dark);
          }
        }

        h4 {
          color: #fff;
          font-style: italic;
          font-size: $font-size-h3;
          text-align: center;
          position: relative;
          font-family: $font-family-base;

          small {
            display: block;
            font-size: $font-size-h1;
            color: #fff;
            font-style: normal;
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            text-transform: uppercase;
          }
        }

        .close {
          width: 25px;
          height: 25px;
          position: absolute;
          bottom: -40px;
          right: $grid-gutter-width/2;
          z-index: 1;
          background-image: url('./../../../static/img/icon-close-dark.svg');
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          @include opacity(1);

          &:hover {
            @include opacity(1);
          }

          span {
            display: none;
          }
        }
      }

      .modal-body {
        padding: $spacing-vertical-md $spacing-horizontal-md;
        font-family: $headings-font-family;

        .recipe-ingredients {
          &.x1 {
            display: flex;

            .column-one {
              margin: auto;
              padding: 0 $spacing-horizontal-md;
            }
          }

          &.x2 {
            display: flex;

            > div {
              padding-top: $spacing-vertical-xs;
            }

            .column-one {
              margin: 0 0 0 auto;
              padding-right: $spacing-horizontal-md;
              border-right: 1px solid $gray-base;
            }

            .column-two {
              margin: 0 auto 0 0;
              padding-left: $spacing-horizontal-md;
            }

            .ingredients-group {
              header {
                h4 {
                  margin: $spacing-vertical-xs 0 5px;
                  padding: 0;
                }
              }
            }

            ul {
              margin: 0 0 $grid-gutter-width;
              padding: 0 0 0 $grid-gutter-width/2;
              list-style: none;

              li {
                position: relative;

                &:before {
                  content: '-';
                  display: block;
                  position: absolute;
                  left: -10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-xl){
  #experience-recipe {
    .modal {
      .modal-dialog {
        width: 850px;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  #experience-recipe {
    .modal {
      .modal-dialog {
        width: 750px;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max){
  #experience-recipe {
    .modal {
      .modal-dialog {
        .modal-body {
          padding: $spacing-vertical-sm $spacing-horizontal-sm;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max){
  #experience-recipe {
    .modal {
      .modal-dialog {
        .modal-body {
          .recipe-ingredients {
            &.x2 {
              .column-one {
                padding-right: $grid-gutter-width;
              }

              .column-two {
                padding-left: $grid-gutter-width;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min){
  #experience-recipe {
    .modal {
      .modal-dialog {
        .modal-body {
          padding: $spacing-vertical-sm $spacing-horizontal-xs $spacing-vertical-xs;

          .recipe-ingredients {
            &.x1 {
              .column-one {
                margin: 0;
                padding: 0;
              }
            }

            &.x2 {
              flex-direction: column;

              .column-one, .column-two {
                margin: 0;
                padding: 0;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
