#experience-event-private {
  > .container {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;

    &.header-banner {
      padding-top: $navbar-height;
      padding-bottom: 0;
      height: auto;
      background: #fff;

      .banner-inner {
        display: block;
        position: relative;
        top: 0;
        bottom: 0;

        > div {
          min-height: 0;

          .back {
            margin: 0;
            color: $text-color;

            &:before {
              background-image: url('./../../../static/img/icon-arrow-dark.svg');
            }
          }
        }
      }
    }
  }

  header {
    h1 {
      margin: 0 0 $spacing-vertical-xs -15px;
      padding: 0 0 0 $spacing-horizontal-xs;
      text-transform: uppercase;
      position: relative;

      &:before {
        content: ' ';
        width: 5px;
        height: 26px;
        position: absolute;
        top: 6px;
        left: 0;
        background-color: $brand-primary;
      }
    }
  }

  .event-dates {
    margin: 0 0 $spacing-vertical-xs;
    font-family: $headings-font-family;
    font-size: $font-size-small;
    font-style: italic;
    font-weight: 100;
  }

  .event-content {
    margin: 0 0 $spacing-vertical-sm;
  }

  .event-images {
    margin: 0 0 $spacing-vertical-xs;

    .visual {
      margin: 0 0 $spacing-vertical-xs;
      position: relative;
      padding-bottom: 56%;
    }
  }

  .event-links {
    font-family: $headings-font-family;
    font-size: $font-size-small;

    a {
      display: block;
    }
  }

  .event-location {
    margin: 0 0 $spacing-vertical-xs;
    font-family: $headings-font-family;
    font-size: $font-size-small;

    a.event-destination {
      color: $text-color;
      font-weight: $headings-font-weight;
    }

    .event-city {
      display: block;
    }
  }
  .event-map {
    padding-top: 5px;
    height: 350px;
    position: relative;
  }
}

@media screen and (max-width: $screen-sm-max) {
  #experience-event-private {
    header {
      h1 {
        margin-left: 0;
      }
    }

    .event-map {
      margin: 0 0 $spacing-vertical-sm;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #experience-event-private {
    > .container {
      padding-top: $spacing-vertical-xs;

      &.header-banner {
        &.layout-strip {
          .banner-inner {
            h1 {
              margin-top: $spacing-vertical-xs;
            }
          }
        }
      }
    }

    header {
      h1 {
        &:before {
          height: 18px;
          width: 4px;
          top: 3px;
        }
      }
    }
  }
}
