.single-ve_experience {
  #experience-event {
    .container.map {
      .map-content {
        .overview {
          .pointers {
            margin: auto 0;
          }
        }
      }
    }
  }
}
