#header-search {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  background: rgba(0,0,0,0.4);
  font-family: $headings-font-family;

  .container {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    background: transparent;

    .search {
      position: relative;
      height: $header-search-height;
      background: $gray-darker;
      color: #fff;

      .search-inner {
        margin: 0 auto;
        width: 100%;
        max-width: 700px;
      }

      input {
        margin-top: $header-search-height/4;
        width: calc(100% - 55px);
        height: $header-search-height/2;
        background: transparent;
        border: none;
        color: #fff;
        font-size: $font-size-h1;
        outline: none;

        &:focus {
          outline: none;
        }
      }

      .search-icon, .close-icon {
        margin-top: $header-search-height/4;
        height: $header-search-height/2;
        width: 50px;
        background-position: center;
        background-size: 75%;
        background-repeat: no-repeat;
        vertical-align: top;
        display: inline-block;
        cursor: pointer;
      }

      .search-icon {
        background-image: url('./../../../static/img/icon-search-light.svg');
      }

      .close-icon {
        right: $grid-gutter-width;
        background-image: url('./../../../static/img/icon-close-light.svg');
        position: absolute;
        top: 0;
      }
    }

    .results {
      padding: $grid-gutter-width $grid-gutter-width $grid-gutter-width*2;
      position: relative;
      background: #fff;

      .results-inner {
        margin: 0 auto;
        width: 100%;
        max-width: 700px;

        .result-item {
          font-size: $font-size-h2;

          a {
            margin: 0;
            padding: $grid-gutter-width;
            display: block;
            color: $text-color;
            border-bottom: 1px solid $gray-light;

            .label {
              margin: 8px 0 0 $grid-gutter-width/2;
              padding: 0.3em 0.6em;
              display: inline-block;
              vertical-align: top;
              font-size: $font-size-small;
              color: $text-color;
              @include border-radius(0);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  #header-search {
    .container {
      .search {
        height: 130px;

        .search-inner {
          max-width: 100%;

          input {
            margin-top: 25px;
            padding-left: $grid-gutter-width/2;
            width: calc(100% - 75px);
            font-size: $font-size-h3;
          }

          .search-icon, .close-icon {
            margin-top: 25px;
            width: 30px;
          }

          .search-icon {
            position: absolute;
            top: 0;
            right: 50px;
          }

          .close-icon {
            right: $grid-gutter-width/2;
          }
        }
      }

      .results {
        padding: $spacing-vertical-xs $grid-gutter-width/2 $spacing-vertical-sm;

        .results-inner {
          .result-item {
            a {
              padding: $spacing-vertical-xs $spacing-horizontal-xs;
              font-size: $font-size-large;

              .label {
                margin-top: 3px;
                margin-left: 5px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
