#inspire-me-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;
  background: rgba(0,0,0,$modal-backdrop-opacity);
  font-family: $headings-font-family;

  > .inner {
    margin: 0;
    padding: $navbar-height + $spacing-vertical-sm 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    margin: 0 auto;
    padding: 0;
    position: relative;

    &.processing {
      > .visual {
        padding-top: 0;
        padding-bottom: 0;

        .visual-preload {
          &:after {
            @include image-overlay($image-overlay-dark);
          }
        }

        .processing-inner {
          padding-top: $spacing-vertical-lg;
          padding-bottom: $spacing-vertical-lg;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          header {
            margin: auto auto 10px;

            h2 {
              margin: 0;
              padding: 0;
            }
          }

          p {
            margin: 0 auto 10px;
            font-size: $font-size-h3;
          }

          .dots {
            margin: 0 auto auto;
            height: 8px;
            text-align: center;
            position: relative;

            span {
              margin: 0 2px;
              padding: 0;
              width: 8px;
              height: 8px;
              display: inline-block;
              background: #fff;
              @include border-radius(4px);
              @include transition(background $transition-speed-base $transition-type-default);

              &.active {
                background: $brand-primary;
              }
            }
          }
        }
      }
    }

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $loading-bg;
      z-index: 20;
      display: block;

      > .loading-icon {
        width: 25px;
        height: 25px;
        position: absolute;
        left: calc(50% - 12px);
        top: 200px;
      }
    }

    > .visual {
      margin: 0;
      padding: $spacing-vertical-lg $spacing-horizontal-md + 50px;
      position: relative;

      .visual-preload {
        &:after {
          @include image-overlay($image-overlay-dark);
        }
      }

      h2, p {
        position: relative;
        z-index: 1;
        color: #fff;
      }

      h2 {
        margin: 0 0 5px;
        padding: 0;
        text-align: center;
      }

      p {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: $font-family-base;
      }
    }

    > .inner {
      margin: 0;
      padding: 0;
      background: #fff;
      position: relative;

      .close {
        height: 20px;
        width: 20px;
        position: absolute;
        right: $spacing-horizontal-sm;
        top: $grid-gutter-width/2;
        z-index: 2;
        cursor: pointer;
        background-image: url('./../../../static/img/icon-close-dark.svg');
        background-position: right center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        @include opacity(1);

        &:hover {
          @include opacity(1);
        }
      }

      section {
        padding: $spacing-vertical-md $spacing-horizontal-md;
        border-bottom: 1px solid $gray-base;

        &.inspire-me-modal-audiences, &.inspire-me-modal-seasons, &.inspire-me-modal-temperatures,
        &.inspire-me-modal-budgets, &.inspire-me-modal-desires {
          header {
            margin: $spacing-vertical-xs 0 $spacing-vertical-sm;
            padding: 0 50px;
            position: relative;

            .number {
              margin: 0;
              padding: 0;
              width: 30px;
              height: 30px;
              position: absolute;
              left: 0;
              top: 0;
              font-size: $font-size-small;
              line-height: 30px;
              text-align: center;
              border: 1px solid $gray-base;
              @include border-radius(15px);
            }

            h3 {
              margin: 0;
              padding: 0;
              line-height: 32px;

              small {
                font-style: italic;
              }
            }
          }

          .items {
            padding: 0 50px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .item {
              margin: 0 0 $spacing-vertical-sm;

              &:first-of-type {
                margin-left: auto;
              }

              &:last-of-type, &:nth-of-type(4n) {
                margin-right: auto;
              }

              &:hover {
                .btn-default {
                  @extend .btn-default:hover;

                  &.btn-inverse {
                    @extend .btn-inverse:hover;
                  }
                }
              }

              .visual {
                margin-bottom: $spacing-vertical-xs;
                padding-bottom: 132%;
                position: relative;
              }

              .btn {
                text-transform: none;
                white-space: normal;
                font-size: $font-size-small;
              }
            }
          }
        }

        &.inspire-me-modal-budgets {
          .items {
            .item {
              .visual {
                padding-bottom: 90px;
                margin-bottom: $spacing-vertical-sm;

                .visual-preload {
                  background-size: 80px !important;
                  background: transparent;
                  background-repeat: no-repeat;
                  background-position: top center !important;
                }
              }
            }
          }
        }

        &.btn-container {
          padding: $spacing-vertical-lg $spacing-horizontal-md;
          border: none;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #inspire-me-modal {
    padding: 0 $spacing-horizontal-xs;

    .container {
      margin: $spacing-vertical-sm 0;

      > .visual {
        padding-left: $spacing-horizontal-sm;
        padding-right: $spacing-horizontal-sm;
      }

      > .inner {
        section {
          padding-left: $spacing-horizontal-sm;
          padding-right: $spacing-horizontal-sm;

          &.inspire-me-modal-audiences, &.inspire-me-modal-seasons, &.inspire-me-modal-temperatures,
          &.inspire-me-modal-budgets, &.inspire-me-modal-desires {
            .items {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  body.modal-inspire-me {
    .navbar-fixed-top {
      z-index: 2000;
    }

    #header-search {
      z-index: 2001;
    }
  }

  #inspire-me-modal {
    padding: 0;

    > .inner {
      padding: 0;
    }

    .container {
      margin: 0 auto;

      > .visual {
        padding-top: $spacing-vertical-lg + $navbar-height;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #inspire-me-modal {
    .container {
      margin: 0 auto;

      > .visual {
        padding-top: $spacing-vertical-lg + $navbar-height;
        padding-left: $spacing-horizontal-xs;
        padding-right: $spacing-horizontal-xs;
      }

      > .inner {
        .close {
          height: 15px;
          width: 15px;
          right: $grid-gutter-width/2;
          background-size: 15px;
        }

        section {
          padding: $spacing-vertical-xs $spacing-horizontal-xs;

          &.inspire-me-modal-audiences, &.inspire-me-modal-seasons, &.inspire-me-modal-temperatures,
          &.inspire-me-modal-budgets, &.inspire-me-modal-desires {
            header {
              padding-right: 0;
            }

            .items {
              padding: 0;

              .item {
                &:nth-of-type(odd) {
                  padding-right: $grid-gutter-width/4;
                }

                &:nth-of-type(even) {
                  padding-left: $grid-gutter-width/4;
                }
              }
            }
          }
        }
      }
    }
  }
}
