#inspire-me {
  .container.intro > .inner {
    display: flex;

    .btn-container {
      padding-left: $grid-gutter-width/2;
    }
  }

  > .btn-container {
    padding-bottom: $spacing-vertical-md;
  }
}

@media screen and (max-width: $screen-sm-max) {
  #inspire-me {
    .container.intro > .inner {
      flex-direction: column;

      .btn-container {
        margin-top: $spacing-vertical-xs;
        padding-left: 0;
        text-align: center;
      }
    }
  }
}
