#inspire-me-results {
  position: relative;

  &.active {
    min-height: 112px;
  }

  .container.empty {
    min-height: $spacing-vertical-md;
  }

  .loading {
    position: absolute;
    top: 0;
    left: calc(50% - #{$container-lg / 2});
    width: $container-lg;
    height: 100%;
    background: $loading-bg;
    z-index: 20;
    display: block;

    > .loading-icon {
      width: 25px;
      height: 25px;
      position: absolute;
      left: calc(50% - 12px);
      top: $spacing-vertical-md;
    }
  }

  .search-empty {
    padding-top: $spacing-vertical-md;
    padding-bottom: $spacing-vertical-md;
    font-family: $headings-font-family;
    font-size: $font-size-small;
    color: $brand-primary;

    p {
      margin: 0;
    }
  }

  section.standard-grid:last-of-type {
    padding-bottom: $spacing-vertical-sm;
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #inspire-me-results {
    .loading {
      width: $container-md;
      left: calc(50% - #{$container-md / 2});
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #inspire-me-results {
    .loading {
      width: $container-sm;
      left: calc(50% - #{$container-sm / 2});
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  #inspire-me-results {
    .search-empty {
      text-align: center;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #inspire-me-results {
    .loading {
      width: 100%;
      left: 0;
    }
  }
}
