#inspire-me-search {
  font-family: $headings-font-family;
  font-weight: normal;

  > .inner {
    display: flex;
  }

  span {
    margin: 0 2px 5px 0;
    display: inline-block;
  }

  .dropdown {
    button {
      margin: 0 2px;
      padding: 0 20px 0 0;
      background: none;
      border: none;
      position: relative;
      border-bottom: 1px solid $text-color;
      font-weight: $headings-font-weight;
      outline: none;

      &:active, &:focus {
        outline: none;
      }

      &:after {
        margin: 0;
        padding: 0;
        width: 16px;
        height: 16px;
        content: ' ';
        background-image: url('./../../../static/img/icon-chevron.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 16px 8px;
        position: absolute;
        right: 0;
        top: 5px;
        @include transition(transform $transition-speed-base $transition-type-default);
      }
    }

    &.open {
      button {
        &:after {
          @include rotate(180deg);
        }
      }

      > .dropdown-menu {
        border: none;
        @include border-radius(0);
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  #inspire-me-search {
    text-align: center;
  }
}
