#interactive-map {
  .container {
    .sidebar {
      #interactive-map-experience-gallery {
        .sidebar-header {
          header {
            position: relative;
            z-index: 1;
            color: #fff;
          }
        }

        .carousel-mini {
          .slick-slide {
            .visual {
              padding-bottom: 56%;
              position: relative;
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  #interactive-map {
    .container {
      .sidebar {
        #interactive-map-experience-gallery.sidebar-inner {
          margin: 0;
          height: 100%;

          .sidebar-header {
            padding-bottom: $spacing-vertical-sm;
          }
        }
      }
    }
  }
}
