$map-sidebar-width: 470px;

#interactive-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  .container {
    padding: 0 0 $grid-gutter-width/2;
    height: 100%;
    background: $body-bg;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $loading-bg;
      z-index: 20;
      display: block;

      > .loading-icon {
        width: 25px;
        height: 25px;
        position: absolute;
        left: calc(50% - 12px);
        top: calc(50% - 12px);
      }
    }

    .sidebar {
      margin: auto;
      width: $map-sidebar-width;
      height: 100%;
      background: #fff;
      position: relative;
      overflow: hidden;

      .sidebar-inner {
        margin: 50px 0 0;
        height: calc(100% - 50px);
        position: relative;
        border-right: $ps-scrollbar-y-size solid $ps-bar-bg;

        .sidebar-inner-content {
          position: relative;

          .sidebar-header, .sidebar-content {
            border-right: $ps-scrollbar-y-size solid $ps-bar-bg;
          }
        }

        &.ps--active-y {
          border-right: none;

          .sidebar-inner-content {
            .sidebar-header, .sidebar-content {
              border-right: none;
            }
          }
        }
      }

      .sidebar-header {
        padding: $navbar-height + 5px $grid-gutter-width 0;
        height: 200px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
        z-index: 10;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;

        .visual-preload {
          &:after {
            @include image-overlay($image-overlay-dark);
          }
        }

        header {
          margin: auto 0;
          padding: 0;

          h1 {
            margin: 0;
            padding: 0;
            font-size: $font-size-h1;
            text-transform: uppercase;

            small {
              margin: 0;
              padding: 0;
              font-size: $font-size-h3;
              font-style: italic;
              font-family: $font-family-base;
              text-transform: initial;
            }
          }
        }

        .nav.nav-pills {
          position: absolute;
          bottom: 0;

          a {
            padding-left: 0;
            padding-right: $grid-gutter-width/2;
            font-family: $headings-font-family;
            font-size: $font-size-small;
          }
        }

        .dropdown {
          .dropdown-menu {
            width: 100%;
            font-size: $font-size-small;
            border: none;
            @include border-radius(0);

            li {
              a {
                padding: $padding-base-vertical $padding-large-horizontal;
                font-size: $font-size-small;
                font-family: $headings-font-family;
              }
            }
          }
        }
      }

      .sidebar-content {
        margin-top: 50px; // navbar
        padding: 130px $grid-gutter-width 0;
        width: 100%;
        height: calc(100% - 50px);

        .sidebar-content-inner {
          padding-bottom: $grid-gutter-width/3;

          .section-header {
            margin-bottom: 5px;
            width: 100%;

            h2 {
              width: calc(100% - 95px);
              height: 38px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;

              span {
                font-size: $font-size-h4;
              }

              &:after {
                display: none;
              }
            }
          }

          .standard-preview {
            cursor: pointer;

            header {
              padding-right: 0;
              padding-left: 10px;
              position: relative;

              h4 {
                padding-right: 30px;
                font-size: $font-size-base;
                height: $font-size-base + 2px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $text-color;
              }

              &:before {
                content: ' ';
                width: 4px;
                height: 15px;
                position: absolute;
                top: 1px;
                left: 0;
                background-color: $brand-primary;
              }
            }

            .content {
              .blurb {
                display: none;
              }
            }
          }
        }
      }
    }

    .map {
      margin: auto;
      width: calc(100% - #{$map-sidebar-width});
      height: 100%;
      background-color: #b9dae5;
    }
  }

  .interactive-map-experiences-carousel {
    > header {
      h3 {
        padding-right: 50px;
        font-style: italic;
        font-weight: normal;
        font-size: $font-size-h4;
      }
    }
  }

  .items-filter-container {
    margin: $grid-gutter-width/2 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;

    .mix {
      background: #fff;
      border-radius: 2px;
      margin-bottom: 1rem;
      position: relative;

      &:before {
        content: '';
        display: block;
      }
    }

    .standard-preview {
      display: block;
      padding: 0;
      width: calc(50% - 7.5px);

      .visual {
        padding-bottom: $image-ratio-percent-standard;
      }

      .content {
        p {
          display: none;
        }
      }
    }
  }

  .weather {
    margin-bottom: $spacing-vertical-sm;
  }

  .feature-grid {
    padding-top: 0;
  }

  .interests-grid {
    padding-bottom: 0;

    .standard-grid {
      padding-top: 0;
      padding-bottom: 0;

      &.standard-grid-size-full, &.standard-grid-size-half {
        .standard {
          .standard-container {
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 0;

            .standard-preview {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }

  .featured, .standard {
    > .standard-preview, > .article-container {
      @include make-xs-column(12);
      @include make-sm-column(6);
      padding-left: 0;
      padding-right: 0;
      margin-bottom: $grid-gutter-width;
      float: none;

      > .standard-preview, .destination-preview {
        width: 100%;
      }

      &.advert-preview {
        .tag, .content {
          visibility: hidden;
        }
      }

      &:nth-of-type(odd) {
        margin-left: 0;
        margin-right: 0;
        padding-right: $grid-gutter-width/5;
      }

      &:nth-of-type(even) {
        margin-left: 0;
        margin-right: 0;
        padding-left: $grid-gutter-width/5;
      }

      .visual {
        padding-bottom: $image-ratio-percent-standard;
      }
    }
  }

  .hover {
    .visual {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.infoBox {
  overflow: hidden !important;
}

.info-box-preview {
  width: 190px;
  height: 75px;
  position: relative;

  .visual {
    width: 65px;
    height: 65px;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }

  .content {
    width: 100%;
    height: 65px;
    padding: $grid-gutter-width/2;
    padding-left: 65px + $grid-gutter-width/2;
    position: relative;
    color: #fff;
    background: $gray-base;

    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(0, 0, 0, 0);
      border-top-color: $gray-base;
      border-width: 10px;
      margin-left: -10px;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  #interactive-map {
    .sidebar {
      .sidebar-inner {
        .sidebar-header {
          width: $map-sidebar-width;
        }

        .sidebar-content {
          width: $map-sidebar-width;
        }

        &.ps--active-y {
          .sidebar-header, .sidebar-content {
            width: $map-sidebar-width - $ps-scrollbar-y-size;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  #interactive-map {
    .container {
      padding-bottom: 0;
      display: block;

      .sidebar {
        width: 100%;
        min-width: 0;
        // height: auto;
        height: 70%;
        min-height: 70%;
        position: relative;

        .sidebar-inner {
          margin: 0;
          height: 100%;
          border-right: none;

          .sidebar-header {
            width: 100%;
            min-width: 0;
            height: auto;
            padding: $spacing-vertical-sm $grid-gutter-width/2 $spacing-vertical-xs;
            position: relative;

            header {
              padding: 0;
            }
          }

          .sidebar-content {
            margin: 0;
            padding: $spacing-vertical-sm $grid-gutter-width/2;
            width: 100%;
            position: relative;

            .sidebar-content-inner {
              padding-right: 0;

              .pointers {
                padding-left: $grid-gutter-width/2;
                padding-right: $grid-gutter-width/2;
              }

              .weather {
                padding-left: $grid-gutter-width/2;
                padding-right: $grid-gutter-width/2;
              }
            }
          }

          &.ps--active-y {
            .sidebar-header, .sidebar-content {
              width: calc(100% - #{$ps-scrollbar-y-size});
            }
          }
        }
      }

      .map {
        position: relative;
        width: 100%;
        height: 30%;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #interactive-map {
    .container {
      .map {
        height: 40%;
      }

      .sidebar {
        // height: auto;
        height: 60%;
        min-height: 60%;
      }
    }
  }
}
