#interactive-map {
  .container {
    .sidebar {
      #interactive-map-user-trip {
        .sidebar-header {
          header {
            position: relative;
            z-index: 1;
            color: #fff;

            h1 {
              small {
                color: #fff;
              }
            }
          }

          .visual-preload {
            &:after {
              @include image-overlay($image-overlay-dark);
            }
          }
        }

        .sidebar-content {
          .sidebar-content-inner {
            .destination-preview {
              margin-bottom: 45px;

              .visual {
                .save {
                  display: none;
                }
              }
            }

            .standard-preview {
              .content {
                .save {
                  display: none;
                }

                header {
                  h4 {
                    padding-right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  #interactive-map {
    .container {
      .sidebar {
        #interactive-map-experience-preview {
          margin: 0;
          height: 100%;

          .sidebar-header {
            padding-bottom: $spacing-vertical-sm;
          }

          .sidebar-content {
            padding-top: 0;
          }
        }
      }
    }
  }
}
