#interactive-map {
  .container {
    .sidebar {
      #interactive-map-inspire-me {
        .sidebar-content-destination, .sidebar-content-trip {
          > header {
            padding: $spacing-vertical-sm 0 $spacing-vertical-xs;

            h3 {
              margin: 0;
              font-family: $font-family-base;
              font-style: italic;
            }
          }
        }

        .sidebar-content-trip {
          section.standard-grid {
            padding: 0;

            a {
              color: inherit;
            }
          }
        }
      }
    }
  }
}
