#interactive-map {
  .container {
    .sidebar {
      #interactive-map-experience-preview {
        .sidebar-header {
          header {
            position: relative;
            z-index: 1;
            color: #fff;

            h1 {
              small {
                color: #fff;
              }
            }
          }

          .visual-preload {
            &:after {
              @include image-overlay($image-overlay-dark);
            }
          }
        }

        .sidebar-content {
          padding-top: 100px;

          .intro-visuals {
            margin: 0 (-$grid-gutter-width) $spacing-vertical-sm;
            padding: $spacing-vertical-sm $grid-gutter-width;
            background: $gray-base;

            .tag {
              text-transform: uppercase;
              font-family: $headings-font-family;
              color: $text-color;
            }

            .pointers {
              margin: $spacing-vertical-xs 0 0;
              padding: 0;
            }
          }

          header {
            position: relative;

            h4 {
              margin: 0;
              padding: 0;
              text-transform: uppercase;
              font-size: $font-size-h4;

              &:before {
                content: ' ';
                width: 4px;
                height: 15px;
                position: absolute;
                top: 3px;
                left: -10px;
                background-color: $brand-primary;
              }
            }
          }

          .information {
            margin: 0;
            padding: $spacing-vertical-xs 0;
            font-style: italic;
            font-family: $headings-font-family;
            font-size: $font-size-small;
            font-weight: 100;
          }

          .blurb {
            overflow: hidden;
            margin-bottom: 45px;
          }
        }

        .preview-btn-container {
          padding-top: $spacing-vertical-sm;
          background: #fff;
          position: absolute;
          bottom: $grid-gutter-width/2;
          left: $grid-gutter-width;
          right: $grid-gutter-width;

          .btn-back {
            padding: 6px 0 0;
            height: 36px;
            border: none;
            background: none;
            text-transform: none;
            position: relative;

            &:hover, &:focus {
              border: none;
              background: none;
            }

            &:before {
              content: ' ';
              width: 14px;
              height: 10px;
              background-image: url('./../../../static/img/icon-arrow-dark.svg');
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              position: absolute;
              top: -4px;
              left: 0;
              @include rotate(180deg);
            }
          }

          .btn-view {
            position: absolute;
            right: 0;
            text-transform: lowercase;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  #interactive-map {
    .container {
      .sidebar {
        #interactive-map-experience-preview {
          margin: 0;
          height: 100%;

          .sidebar-header {
            padding-bottom: $spacing-vertical-sm;
          }

          .sidebar-content {
            padding-top: 0;

            header {
              h4 {
                &:before {
                  display: none;
                }
              }
            }

            .intro-visuals {
              margin-right: -$grid-gutter-width/2;
            }

            .pointers {
              margin: $spacing-vertical-xs 0 0;
              padding: 0;
            }

            .blurb {
              margin-bottom: 0;
            }
          }

          .preview-btn-container {
            padding: $spacing-vertical-xs $grid-gutter-width/2;
            bottom: 0;
            left: 0;
            right: 0;
            position: relative;
            width: calc(100% - #{$ps-scrollbar-y-size});

            .btn-view {
              position: absolute;
              right: $grid-gutter-width/2;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #interactive-map {
    .container {
      .sidebar {
        #interactive-map-experience-preview {
          .preview-btn-container {
            .btn {
              position: relative;
              display: block;
              width: 100%;

              &.btn-back {
                margin-bottom: 10px;

                &:before {
                  left: calc(50% - 10px);
                }
              }

              &.btn-view {
                right: auto;
              }
            }
          }
        }
      }
    }
  }
}
