#interactive-map {
  .container {
    .sidebar {
      #interactive-map-destinations, #interactive-map-inspire-me {
        a {
          color: #fff;
        }

        .sidebar-content-destination {
          padding-bottom: $spacing-vertical-xs;

          header {
            padding: $spacing-vertical-sm 0 $spacing-vertical-xs;

            h3 {
              margin: 0;
              padding: 0;
              font-family: $font-family-base;
              font-style: italic;
            }
          }

          &:first-of-type {
            header {
              padding-top: 0;
            }
          }

          .list-item {
            margin: 0 0 $grid-gutter-width/3 0;
            @include transition(margin $transition-speed-base $transition-type-default);

            &.hover, &:hover {
              margin-left: -10px;
              margin-right: -10px;

              .visual .visual-preload {
                transform: scale($preview-scale-base);
              }
            }
          }
        }
      }
    }
  }
}
