#interactive-map {
  .container {
    .sidebar {
      #interactive-map-destination {
        section.intro {
          padding-top: 0;
          padding-bottom: $spacing-vertical-sm;
          clear: both;
        }

        .sidebar-header {
          header {
            padding-bottom: $spacing-vertical-xs;
          }
        }

        .destination-modules-container {
          > div {
            > .carousel {
              padding-top: 0;
              padding-bottom: $spacing-vertical-md;

              &.has-title {
                .section-header {
                  margin-bottom: 0;
                  position: absolute;
                }

                .carousel-mini {
                  padding-top: $spacing-vertical-md;

                  .carousel-navigation {
                    top: 8px;
                  }
                }
              }
            }

            &:last-of-type {
              > * {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #interactive-map {
    .container {
      #interactive-map-destination {
        .intro-visuals {
          display: block;
        }

        .featured, .standard {
          .standard-preview {
            &.advert-preview {
              .tag, .content {
                display: none;
              }
            }

            &:nth-of-type(odd), &:nth-of-type(even) {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
