.media-crowdriff-gallery {
  padding-top: $spacing-vertical-sm;
  padding-bottom: $spacing-vertical-xs;

  .inner {
    display: flex;

    a {
      .visual {
        overflow: hidden;

        .visual-preload {
          transform: scale($preview-scale-base);
        }

        .source {
          width: 30px;
          height: 30px;
          position: absolute;
          right: $grid-gutter-width/2;
          bottom: $grid-gutter-width/2;
          background-size: contain;
          background-position: bottom right;

          &.source-instagram {
            background-image: url('./../../../static/img/icon-social-instagram.svg');
          }
        }
      }

      &:hover {
        .visual {
          .visual-preload {
            transform: scale($preview-scale-hover);
          }
        }
      }
    }

    .standard {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      padding-right: $grid-gutter-width/4;

      a {
        display: block;
        width: 50%;

        &:nth-of-type(1), &:nth-of-type(3) {
          padding-right: $grid-gutter-width/4;
        }

        &:nth-of-type(2), &:nth-of-type(4) {
          padding-left: $grid-gutter-width/4;
        }

        &:nth-of-type(1), &:nth-of-type(2) {
          padding-bottom: $grid-gutter-width/2;
        }

        .visual {
          margin: 0;
          padding: 0 0 100%;
          width: 100%;
          position: relative;
        }
      }
    }

    .featured {
      height: 512.5px;
      position: relative;
      width: 50%;
      padding-left: $grid-gutter-width/4;

      a {
        display: block;
        width: 100%;

        .visual {
          margin: 0;
          padding: 0 0 100%;
          width: 100%;
          position: relative;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .media-crowdriff-gallery {
    .inner {
      .featured {
        height: 412.5px;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .media-crowdriff-gallery {
    .inner {
      .featured {
        height: 352.5px;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .media-crowdriff-gallery {
    .inner {
      flex-direction: column;

      .standard {
        margin-bottom: $grid-gutter-width/2;
        padding: 0;
        width: 100%;
      }

      .featured {
        padding: 0;
        width: 100%;
        height: auto;
      }
    }
  }
}
