#my-trips-items {
  .usertrip-items-filter {
    padding-top: $spacing-vertical-xs;

    h2 {
      margin: 0;
      padding: 0 $spacing-horizontal-sm 0 0;
      display: inline-block;
      font-style: italic;
      font-family: $font-family-base;
    }

    .filter-container {
      display: inline-block;

      .btn {
        margin-left: 0;
        margin-right: $spacing-horizontal-xs;
        padding-left: 0;
        padding-right: 0;
        text-transform: none;
        color: $gray-light;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        @include transition(all $transition-speed-base $transition-type-default);

        &:hover {
          text-decoration: none;
          color: $text-color;
        }

        &.active {
          color: $text-color;
          border-bottom: 2px solid $text-color;
        }
      }
    }
  }

  section.standard-grid {
    .standard-grid-size-full {
      .standard-container {
        position: relative;

        .article-create-container {
          margin-left: 0;
          padding-right: $grid-gutter-width/2;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        .standard-container {
          margin-left: 0;
          margin-right: 0;

          &:before {
            content: ' ';
            width: 25%;
            height: 1px;
            background: transparent;
            float: left;
          }
        }
      }
    }
  }

  .container.section-default {
    padding-top: $spacing-vertical-xs;
    padding-bottom: $spacing-vertical-sm;
  }

  .standard-preview {
    .content {
      header {
        padding-right: 0;
      }

      .save {
        display: none;
      }
    }
  }

  .destination-preview {
    .visual {
      .save {
        display: none;
      }
    }
  }

  .tab-all {
    .items-container {
      article {
        cursor: move;
      }
    }
  }

  .tab-all.has-things {
    .destination-preview {
      margin-bottom: 85px;
    }
  }
}

@media screen and (min-width: $screen-xl-min) {
  #my-trips-items {
    section.standard-grid {
      .standard-grid-size-full {
        .standard-container {
          .standard-container {
            min-height: 230px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  #my-trips-items {
    section.standard-grid {
      .standard-grid-size-full {
        .standard-container {
          .standard-container {
            min-height: 185px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #my-trips-items {
    section.standard-grid {
      .standard-grid-size-full {
        .standard-container {
          .standard-container {
            min-height: 150px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
  #my-trips-items {
    section.standard-grid {
      .standard-grid-size-full {
        .standard-container {
          margin-left: 0;
          margin-right: 0;

          .article-create-container {
            margin-left: -$grid-gutter-width/2;
            padding-right: 0;
          }

          .standard-container {
            margin-left: -$grid-gutter-width/2;
            margin-right: -$grid-gutter-width/2;
            min-height: 255px;

            .article-container {
              &:first-of-type {
                margin-left: 50%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min - 1) {
  #my-trips-items {
    .tab-all.has-things {
      .destination-preview {
        margin-bottom: auto;
      }
    }

    section.standard-grid {
      .standard-grid-size-full {
        .standard-container {
          margin-left: 0;
          margin-right: 0;

          .article-create-container {
            margin-left: 0;
            margin-right: -$grid-gutter-width/2;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
            position: relative;
          }

          .standard-container {
            margin-left: -$grid-gutter-width/2;
            margin-right: -$grid-gutter-width/2;

            .article-container {
              &:first-of-type {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
