#my-trips-modal.layout-save {
  .modal-dialog {
    max-width: 400px;
  }

  #my-trips-modal-save {
    margin: 0;
    padding: $spacing-vertical-sm $spacing-horizontal-sm;
    width: 100%;

    h4 {
      margin: 0;
      padding: 0;
      text-align: center;
      font-style: italic;
      font-family: $font-family-base;
    }

    .trip-list {
      margin: $spacing-vertical-sm 0;
      padding: $spacing-vertical-xs 0;
      padding: 0;
      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;

      ul {
        padding: $spacing-vertical-xs $spacing-vertical-sm;

        a {
          cursor: default;
        }
      }
    }
  }
}
