#my-trips-modal-select {
  height: 500px;
  display: flex;
  flex-direction: column;

  .existing-trips {
    margin: 0 0 auto;
    padding: $spacing-vertical-sm $spacing-horizontal-sm;
    height: 420px;
    position: relative;
    overflow: hidden;
    border-right: $ps-scrollbar-y-size solid $ps-bar-bg;

    &.ps--active-y {
      border-right: none;
    }

    h3 {
      margin: 0;
      padding: 0 30px 0 0;
    }

    .search {
      margin: $spacing-vertical-xs 0 $spacing-vertical-sm;
      position: relative;

      input {
        border-radius: $border-radius-base;
        font-style: italic;
      }

      .search-icon {
        margin: 0;
        width: 39px;
        height: 39px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background-image: url('./../../../static/img/icon-search-dark.svg');
        background-position: center center;
        background-size: 20px;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }
  }

  .create-trip {
    margin: auto 0 0;
    border-top: 1px solid $gray;
    padding: $spacing-vertical-sm $spacing-horizontal-sm 0;
  }

  .trip-list {
    h5 {
      margin: 0 0 $spacing-vertical-xs;
      font-style: italic;
      font-family: $font-family-base;
    }

    .no-trips {
      margin: 0;
      padding: 0;
      min-height: 50px;
      font-family: $headings-font-family;
      font-weight: normal;
      font-size: $font-size-small;
      color: $brand-primary;
    }
  }

  .create-trip {
    .trip-list {
      .visual {
        background-color: $gray-base;
        background-image: url('./../../../static/img/icon-plus-light.svg');
        background-position: center center;
        background-size: 16px;
        background-repeat: no-repeat;
        @include transition(background-size $transition-speed-base $transition-type-default);
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #my-trips-modal-select {
    height: auto;

    .existing-trips {
      height: auto !important;
      padding: $spacing-vertical-xs $spacing-horizontal-xs;
      border-right: none;

      .ps {
        > .ps__scrollbar-x-rail, > .ps__scrollbar-y-rail {
          display: none;
        }
      }
    }

    .create-trip {
      padding: $spacing-vertical-xs $spacing-horizontal-xs 0;
    }
  }
}
