#my-trips-header-banner {
  .banner-inner {
    .edit-icon {
      width: 30px;
      height: 30px;
      display: inline-block;
      background: rgba(255,255,255,0);
      background-image: url('./../../../static/img/icon-edit-light.svg');
      background-size: 17px;
      background-position: center center;
      background-repeat: no-repeat;
      border: 1px solid #fff;
      @include transition(background-color $transition-speed-base $transition-type-default);
      @include border-radius($border-radius-base);

      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #my-trips-header-banner {
    .banner-inner {
      .edit-icon {
        width: 24px;
        height: 24px;
        background-size: 15px;
      }
    }
  }
}
