#my-trips-modal-create {
  form {
    padding: $spacing-vertical-sm $spacing-horizontal-sm 0;
    height: 500px;
    display: flex;
    flex-direction: column;

    h3 {
      margin: 0 0 $spacing-vertical-xs;
      padding: 0;
    }

    .form-group {
      margin: 0;

      label {
        font-style: italic;
        font-weight: normal;
      }

      input {
        border-radius: $border-radius-base;
      }
    }

    .btn-container {
      margin: auto 0 0;
    }
  }
}
