#my-trips-header-banner-modal {
  .modal-dialog {
    width: 400px;
  }

  .modal-header {
    padding: $spacing-vertical-sm $spacing-horizontal-sm 0;
    border: none;
  }

  .modal-body {
    padding: $spacing-vertical-xs $spacing-horizontal-sm $spacing-vertical-sm;

    .alert {
      padding-bottom: 0;
    }

    label {
      font-style: italic;
      font-weight: normal;
    }

    .btn-container.single {
      .btn {
        margin-bottom: 0;
      }
    }
  }
}
