#my-trips-modal {
  .modal-header {
    display: none;
  }

  .loading {
    z-index: 5;
  }

  .modal-body {
    padding: 0;

    .alert {
      text-align: center;
    }

    > div {
      > .form-error {
        padding: $spacing-vertical-sm $spacing-horizontal-sm;

        .alert {
          margin: 0;
          padding: 0;

          .btn-container.single {
            .btn {
              margin: $spacing-vertical-sm 0 0;
            }
          }
        }
      }
    }

    > div > .inner {
      display: flex;

      > div {
        width: 50%;

        &.preview-container {
          padding: $spacing-vertical-sm $spacing-horizontal-sm;
          display: flex;

          > * {
            margin: auto 0;
            width: 100%;
          }

          .standard-preview {
            a {
              color: $text-color;

              .visual {
                padding-bottom: $image-ratio-percent-standard;
              }

              .blurb {
                display: none;
              }
            }
          }

          .standard-preview, .destination-preview {
            cursor: default;

            a {
              margin-top: 20px;
              display: block;
              cursor: default;
            }

            .visual {
              .save {
                @include opacity(1);
              }
            }
          }
        }

        &.interactive-container {
          padding: 0 0 $spacing-vertical-sm;
          border-left: 1px solid $gray;
        }
      }
    }

    .trip-list {
      h5 {
        margin: 0 0 $spacing-vertical-xs;
        font-style: italic;
        font-family: $font-family-base;
      }

      .no-trips {
        margin: 0;
        padding: 0;
        min-height: 50px;
        font-family: $headings-font-family;
        font-weight: normal;
        font-size: $font-size-small;
        color: $brand-primary;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 0 0 $spacing-vertical-xs;
          padding: 0;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        a {
          display: block;
          min-height: 50px;
          display: flex;

          .visual {
            width: 50px;
            height: 50px;
            min-width: 50px;
            position: relative;
          }

          span.title {
            margin: auto 0 auto $spacing-horizontal-xs;
            padding: 0 0 0 10px;
            color: $text-color;
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            font-size: $font-size-small;
            position: relative;
            @include transition(color $transition-speed-base $transition-type-default);

            &:before {
              content: ' ';
              width: 4px;
              height: 15px;
              position: absolute;
              top: 1px;
              left: 0;
              background-color: $brand-primary;
            }
          }

          &:hover {
            span.title {
              color: $text-color;
            }
          }
        }
      }
    }
  }

  &.new-usertrip {
    .modal-dialog {
      width: 400px;
    }

    .modal-body {
      > div {
        > .inner {
          > div {
            &.preview-container {
              display: none;
            }

            &.interactive-container {
              width: 100%;

              .alert {
                text-align: left;
              }

              form {
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #my-trips-modal {
    .modal-dialog {
      width: 400px;
    }

    .modal-body {
      > div > .inner {
        display: flex;
        flex-direction: column;

        > div {
          &.preview-container {
            padding: $spacing-vertical-xs $spacing-horizontal-xs;
            width: 100%;

            .standard-preview, .destination-preview {
              a {
                margin: 0;
              }
            }
          }

          &.interactive-container {
            padding: 0 0 $spacing-vertical-xs;
            width: 100%;
            border: none;
            border-top: 1px solid $gray;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-min) {
  #my-trips-modal {
    .modal-dialog {
      width: 100%;
    }
  }
}
