.pointers {
  margin: 0;
  padding: $grid-gutter-width;
  background: $gray-darker;
  color: #fff;
  font-family: $headings-font-family;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &.column-2 {
      li {
        width: 50%;
      }
    }

    li {
      margin: 10px 0;
      padding: 0;
      position: relative;
      text-align: left;
      width: 100%;

      &:before {
        display: inline-block;
        text-decoration: inherit;
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #fff;
        content: ' ';
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      &.pointer-airport:before {
        background-image: url('./../../../static/img/icon-pointer-airport.svg');
      }

      &.pointer-capital-city:before {
        background-image: url('./../../../static/img/icon-pointer-capital-city.svg');
      }

      &.pointer-city:before {
        background-image: url('./../../../static/img/icon-pointer-capital-city.svg');
      }

      &.pointer-currency:before {
        background-image: url('./../../../static/img/icon-pointer-currency.svg');
      }

      &.pointer-language:before {
        background-image: url('./../../../static/img/icon-pointer-language.svg');
      }

      &.pointer-more-info:before {
        background-image: url('./../../../static/img/icon-pointer-more-info.svg');
      }

      &.pointer-timezone:before {
        background-image: url('./../../../static/img/icon-pointer-time.svg');
      }

      &.pointer-when:before {
        background-image: url('./../../../static/img/icon-pointer-when.svg');
      }

      &.pointer-where:before {
        background-image: url('./../../../static/img/icon-pointer-where.svg');
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .title {
        padding-left: $grid-gutter-width;
        display: block;
        font-weight: bold;
      }

      .subtitle {
        padding-left: $grid-gutter-width;
        display: block;
      }
    }
  }
}
