.social {
  [class^="social-"] {
    &:before {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}

.social-type-facebook, .social-type-instagram, .social-type-pinterest,
.social-type-twitter, .social-type-youtube, .social-type-googleplus {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.social-type-facebook {
  background-image: url('./../../../static/img/icon-social-facebook.svg');
}

.social-type-instagram {
  background-image: url('./../../../static/img/icon-social-instagram.svg');
}

.social-type-pinterest {
  background-image: url('./../../../static/img/icon-social-pinterest.svg');
}

.social-type-twitter {
  background-image: url('./../../../static/img/icon-social-twitter.svg');
}

.social-type-youtube {
  background-image: url('./../../../static/img/icon-social-youtube.svg');
}

.social-type-googleplus {
  background-image: url('./../../../static/img/icon-social-googleplus.svg');
}

.social-type-email {
  background-image: url('./../../../static/img/icon-social-email.svg');
}
