.trip-nav {
  position: relative;
  padding: 0 !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);

  .trip-nav-inner {
    position: relative;
    padding: $grid-gutter-width/2 $spacing-horizontal-md;
    min-height: 70px;
    background: #fff;
    z-index: 10;

    .trip-nav-topbar {
      .tab-container {
        font-family: $headings-font-family;
        font-size: $font-size-small;

        ul.nav-pills {
          margin-top: 5px;

          > li {
            > a {
              display: block;
              padding: $spacing-vertical-sm/3 $spacing-horizontal-sm $spacing-vertical-sm/3 22px;
              color: $text-color;
              background-image: url('./../../../static/img/icon-pin-dark.svg');
              background-position: left center;
              background-repeat: no-repeat;
              background-size: 13px 18px;
              @include opacity(0.5);

              &:hover {
                @include opacity(1);
              }
            }

            &.active {
              > a {
                @include opacity(1);
              }
            }
          }
        }

        .dropdown {
          .dropdown-menu {
            width: 100%;
            font-size: $font-size-small;
            border: none;
            @include border-radius(0);

            li {
              a {
                padding: $padding-base-vertical $padding-large-horizontal;
                font-size: $font-size-small;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .trip-nav {
    .trip-nav-inner {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }
  }
}

// @media screen and (max-width: $screen-xs-max) {
//   .trip-nav {
//     .trip-nav-inner {
//       .trip-nav-topbar {
//         .tab-container {
//           margin-bottom: $spacing-vertical-xs;
//         }
//       }
//     }
//   }
// }
