.page-template-template-trips {
  .cta-map-trips {
    padding: $spacing-vertical-sm 0 $spacing-vertical-xs;
    text-align: center;
  }
}

.single-ve_trip {
  #content {
    article {
      section.segment {
        .segment-content {
          display: flex;

          &.container {
            padding: 0;
          }

          .overview {
            margin: 0 0 0 auto;
            padding: $spacing-vertical-md $spacing-horizontal-sm $spacing-vertical-md $spacing-horizontal-md;
            width: 50%;

            .information {
              margin: 0;
              font-family: $headings-font-family;
              font-weight: $headings-font-weight;
            }

            header {
              h2 {
                margin: 0;
                padding: $spacing-vertical-xs 0 $spacing-vertical-sm;
              }
            }
          }

          .map-container {
            margin: 0;
            padding: 0;
            width: 50%;
            min-height: 350px;
            position: relative;

            // &:before {
            //   position: absolute;
            //   top: 0;
            //   left: 0;
            //   right: 0;
            //   height: 5px;
            //   z-index: 1;
            //   box-shadow: inset 0px 8px 9px -6px rgba(0, 0, 0, 0.1);
            //   background: #00FF00;
            // }
          }
        }

        &:not(.has-external) {
          .segment-content.container {
            padding-bottom: $spacing-vertical-lg;
          }
        }

        section.standard-grid.section-inverse {
          padding: 0;

          .content {
            header {
              padding-right: 0;
              padding-left: 10px;
              position: relative;

              h4 {
                margin-bottom: 0;
                font-size: $font-size-base;
                height: $font-size-base + 2px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              &:before {
                content: ' ';
                width: 4px;
                height: 15px;
                position: absolute;
                top: 1px;
                left: 0;
                background-color: $brand-primary;
              }
            }

            .blurb {
              display: none;
            }
          }
        }
      }
    }

    .before-you-go {
      padding-top: $spacing-vertical-md;
      padding-bottom: $spacing-vertical-sm;
    }

    .extra-information {
      margin: $grid-gutter-width 0;
      display: flex;

      > .destination {
        margin: 0 auto 0 0;
        width: calc(50% - #{$grid-gutter-width/2});

        .visual {
          padding-bottom: 100%;

          .visual-preload {
            &:after {
              @include image-overlay($image-overlay-dark);
            }
          }
        }

        header {
          position: absolute;
          left: 0;
          right: 0;
          bottom: $grid-gutter-width/2;
          text-align: center;
        }
      }

      > .about {
        margin: 0 0 0 auto;
        width: calc(50% - #{$grid-gutter-width/2});
        font-family: $headings-font-family;
      }
    }
  }
}

@media screen and (min-width: $screen-xl-min) {
  .single-ve_trip {
    #content {
      article {
        section.segment {
          .segment-content {
            .overview {
              width: $container-xl / 2;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .single-ve_trip {
    #content {
      article {
        section.segment {
          .segment-content {
            .overview {
              width: $container-lg / 2;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .single-ve_trip {
    #content {
      article {
        section.segment {
          .segment-content {
            .overview {
              width: $container-md / 2;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .single-ve_trip {
    #content {
      article {
        section.segment {
          .segment-content {
            flex-direction: column;

            .overview {
              margin: 0;
              padding: $spacing-vertical-sm $spacing-horizontal-xs;
              width: 100%;
            }

            .map-container {
              width: 100%;
              height: 350px;
            }
          }
        }
      }

      .before-you-go {
        padding-top: $spacing-vertical-sm;
        padding-bottom: $spacing-vertical-xs;
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .single-ve_trip {
    #content {
      article {
        section.segment {
          .segment-content {
            .overview {
              padding: $spacing-vertical-sm $spacing-horizontal-xs;
            }
          }
        }
      }

      .extra-information {
        flex-direction: column;

        > .destination {
          margin: 0 0 $grid-gutter-width/2;
          width: 100%;
        }

        > .about {
          width: 100%;

          .items {
            margin: $grid-gutter-width/2 0;
          }
        }
      }
    }
  }
}
