#user-verification-login {
  .forgot {
    margin-bottom: 25px;
  }

  .login-separator {
    margin: 10px 0;
    text-align: center;
    font-family: $headings-font-family;
    font-size: $font-size-small;
    font-style: italic;
  }

  .btn-google {
    margin: 15px 0;
  }

  .register {
    margin: 0;
  }
}
