#user-verification {
  .modal-dialog {
    max-width: 480px;
  }

  .modal-header {
    padding: 25px 20px;
    border-bottom: none;

    h4 {
      padding: 25px 0 0;
      text-align: center;
      text-transform: uppercase;
      font-size: $font-size-h2;
    }
  }

  .modal-body {
    padding: 0 45px 45px;
    font-size: $font-size-small;
    font-family: $headings-font-family;

    .blurb {
      margin: 5px 0 15px;
    }

    .blurb + .alert {
      padding-top: 7.5px;
    }

    .blurb + .form-group {
      margin-top: 30px;
    }

    .form-group {
      margin: 10px 0 5px;
    }

    label {
      font-size: $font-size-small;
      font-family: $font-family-base;
      font-style: italic;
      font-weight: normal;
      color: $gray-dark;
    }

    input[type="text"], input[type="password"] {
      color: $text-color;
      font-family: $headings-font-family;
      font-size: $font-size-small;
      @include border-radius($border-radius-base);
    }

    p.forgot, p.register {
      font-family: $font-family-base;
      font-size: $font-size-small;
      font-style: italic;
      font-weight: normal;

      a {
        color: $gray-dark;

        span {
          border-bottom: 1px solid $gray-dark;
          @include transition(all $transition-speed-base $transition-type-default);
        }

        &:hover {
          color: $gray-dark;

          span {
            color: $link-color;
            border-bottom: 1px solid $link-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  #user-verification {
    .modal-dialog {
      width: 100%;
    }

    .modal-header {
      padding: 15px $spacing-horizontal-xs 0;

      h4 {
        padding: 15px 0 0;
        font-size: $font-size-h3;
      }
    }

    .modal-body {
      padding: 0 $spacing-horizontal-xs $spacing-vertical-sm;

      .blurb {
        margin-top: 15px;
      }
    }
  }
}
