#user-account {
  margin: 0 auto $spacing-vertical-md;
  padding: 0 0 $spacing-vertical-xs;
  max-width: 350px;
  position: relative;

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $loading-bg;
    z-index: 1;

    > .loading-icon {
      width: 25px;
      height: 25px;
      position: absolute;
      left: calc(50% - 12px);
      top: calc(50% - 12px);
    }
  }

  h5 {
    margin: $spacing-vertical-md 0 $spacing-vertical-xs;
    padding: 0;
  }

  .btn-container {
    margin-top: $spacing-vertical-sm;
  }

  label {
    font-weight: normal;
    font-size: $font-size-small;
    font-style: italic;
  }

  input {
    @include border-radius($border-radius-base);
  }

  .alert + .btn-container {
    margin-top: $spacing-vertical-xs;
  }

  .complete {
    font-family: $headings-font-family;

    h4 {
      margin: 0 0 $spacing-vertical-sm;
    }

    .btn-container {
      margin-top: $spacing-vertical-md;
    }
  }
}
