.video-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $gray-base;
  display: flex;
  z-index: -10;
  @include opacity(0);
  @include transition(opacity $transition-speed-base $transition-type-default);

  &.visible {
    @include opacity(1);
    @include transition(opacity $transition-speed-base $transition-type-default $transition-speed-base);
  }

  &.active {
    z-index: $zindex-modal-background;
  }

  .inner {
    margin: $spacing-vertical-sm $spacing-horizontal-md $spacing-vertical-sm*1.2;
    width: 100%;
    position: relative;

    .close {
      padding: ($spacing-horizontal-sm - 5px) $spacing-horizontal-sm;
      position: absolute;
      z-index: $zindex-modal;
      top: 0;
      right: 0;
      color: $gray;
      cursor: pointer;
      text-shadow: none;
      background: transparent;
      position: relative;
      @include opacity(1);
      @include transition(color $transition-speed-base $transition-type-default,
                          background $transition-speed-base $transition-type-default);

      &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('./../../../static/img/icon-close-light.svg');
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: center center;
        @include opacity(0.5);
        @include transition(opacity $transition-speed-base $transition-type-default);
      }

      &:hover {
        color: #fff;
        background: $gray-base;

        &:before {
          @include opacity(1);
        }
      }
    }

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      background: $gray-base;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .video-fullscreen {
    .inner {
      margin: 0;
    }
  }
}
